[2020-08-07 12:47] #131 closed, assigned to adkinsrs

[2020-08-07 14:05] carlocolantuoni commented on #131
👍
a question - are changes in gear-devel eventually pushed to live NeMO and
are are changes in NeMO-devel eventually pushed to live gEAR?

On Fri, Aug 7, 2020 at 8:47 AM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-07 19:12] adkinsrs commented on #109
@carlocolantuoni I have implemented a jitter slider in devel.umgear.org and it goes from 0 to 1 in 0.25 step increments.  This slider will only show if the plot is a scatter plot and will only take effect with a categorical x-axis.  I guess I could try to hide it if the x-axis is numerical but the gEAR UI code I have been working on does not distinguish between categorical and numerical groups.

*

[2020-08-07 19:21] adkinsrs commented on #131
Generally the workflow is to push to gEAR-devel first for initial testing and then to live (production) gEAR.  I believe the same changes should ideally be pushed to nemoanalytics-devel as well.  @jorvis can correct me on this since he does the updates to production servers, but I believe when production needs to be updated he will spawn off a new gEAR production image from gEAR-devel, and a new n

[2020-08-07 19:29] carlocolantuoni commented on #131
Ok, thanks.

On Fri, Aug 7, 2020 at 3:21 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-07 19:30] carlocolantuoni commented on #109
looks great!

On Fri, Aug 7, 2020 at 3:12 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-07 19:36] carlocolantuoni commented on #109
i dont have any data to test this on in gear - all my data are in nemo.
i cant access one form the other - correct?
if it is super easy, can u do this in devel.nemo?
if that would take any time/effort at all, i will just wait til its pushed
to production in NeMO.
thanks shaun,
carlo

On Fri, Aug 7, 2020 at 3:35 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-07 19:39] hertzron commented on #109
Let’s do on both

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Friday, August 7, 2020 3:36:28 PM
To: nemoarchive/analytics <analytics@noreply.github.com>
Cc: hertzron <hertzron@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nemoarchive/analytics] Is a categorical X-axis possible in dynamic a scat

[2020-08-07 20:29] adkinsrs commented on #109
I added the code to nemo-devel.  Since there is no valid URL for that yet (due to some DNS resolution issues that are currently being resolved) you can navigate to https://34.73.68.111/ . Note that this URL is for this particular server image, and most likely will not be permanent for the future.

[2020-08-08 01:23] carlocolantuoni commented on #109
Awesome, thanks!
ive been using https://devel.nemoanalytics.org/ isnt that the same?

On Fri, Aug 7, 2020 at 4:29 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-08 01:33] carlocolantuoni commented on #109
when a categorical variable is used for the X-axis in the dynamic scatter plot the categories are ordered along the X-axis in an automatic fashion, but these cant be re-ordered like the legend/coloring can be reordered (at lest i cant how).

is there a way to make the X-axis category ordering custom?

heres a screen shot of what i am doing (that uses your awesome new jittering and point size featu

[2020-08-08 01:34] carlocolantuoni commented on #109
and your new axis labels are on there too! nice.

[2020-08-08 01:39] carlocolantuoni commented on #109
also noticing that in the screen shot i just added to the previor comment, there are mean and standard dev erorr bars overlayed. they are hardly visible, but i think it might be good to make them optional

[2020-08-08 01:41] carlocolantuoni commented on #109
sorry - one more thing here, after i save the view and then go try to look at it, the same view i had screen capp'ed above looks like this - with loss of the jitter - thinking this may be linked to the refresh/default/save issue we already have under investigation in ticket #122 :
![image](https://user-images.githubusercontent.com/33464702/89699708-a92bdd00-d8f6-11ea-9f32-2e5e34550045.png)

[2020-08-08 01:48] carlocolantuoni opened #132 "automatic and custom vertical lines in scatter plots"
it looks like the nemo devel now automatically adds a vertical line at 0 in each scatterplot.
i like it most of the time, but sometimes its not ideal - could we make it optional?
could we also add custom vertical lines at user-defined values along with user defined labels?
could we also specify solid or dotted/dashed?

[2020-08-08 02:32] carlocolantuoni opened #133 "custom X and Y axis limits on scatter plots"
currently the view curator rounds the axes limits to whole units. this is fine most of the time, except when the axis spans a small number of units, which results in a lot of empty space in the plot.

can we provide the option for the user to set precise custom X and Y axis limits?

this is not only useful for manicuring individual plots, but can also be very useful in coordinating axes across mul

[2020-08-09 00:40] adkinsrs commented on #109
That save-and-restore stuff will be on the docket to fix next week.  I can also add the x- and y- axis ordering as options though I'm curious why they weren't options to begin with.  There is also currently a bug with the ordering menu right now (see https://github.com/jorvis/gEAR/issues/784) that I plan to investigate as well.

The reason you see error bars is because I actually made a box plot,

[2020-08-10 21:03] adkinsrs commented on #109
@carlocolantuoni I learned I had to add the marker_size and jitter stuff to another file for the type of display you linked.  Can you try again?

[2020-08-10 22:05] carlocolantuoni commented on #109
great!
will do 2nite,
thanks!

[2020-08-11 00:42] carlocolantuoni commented on #109
the save works in that it saves the larger point snow.
but anytime i hit preview chart, it resets all the custom colors, and i
cant get the jitter slider to do anything now.

On Mon, Aug 10, 2020 at 5:03 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-11 00:44] carlocolantuoni commented on #109
also - i'm doing all this on devel.nemoanalytics.org - i get this error
when i try to go to devel.umgear.org

[image: image.png]

On Mon, Aug 10, 2020 at 8:42 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2020-08-11 11:04] adkinsrs commented on #109
When I uploaded to nemo-devel, I forgot to reload the apache service so that my explain what you saw there.  I did not upload to gear-devel (and your image for the error did not appear on your comment)

[2020-08-11 14:38] adkinsrs commented on #133
Should be doable.  Currently the plotting internals will do some calculations which include taking the floor of the min value of the data and the ceiling of the max value of the data, which are used to calculate the range of the axes and the number of ticks.  It seems that if you provide the number of ticks you want to the functions, these calculations are ignored, and the min/max values are not r

[2020-08-11 14:52] adkinsrs commented on #103
The axis labels are added but some modification needs to happen with the margin settings so the placement is consistent when viewing in the dataset curator vs the gene search display page.  If I fix it to look good on one page, it will look off on the next page.

I'm closing this ticket because this issue is mentioned in https://github.com/jorvis/gEAR/issues/784

[2020-08-11 14:52] #103 closed

[2020-08-11 17:28] adkinsrs commented on #132
@carlocolantuoni are you referring to the plot with jitter in it that has the vertical line at 0?  If so, that's completely unintentional... I'm actually hiding a box plot in the background and some of the boxplot still wants to show up.  I'm having a heck of a time trying to get this to play nice.

[2020-08-11 18:10] carlocolantuoni commented on #132
all my scatter plots now have a solid vertical line at 0 on the x axis

[2020-08-11 18:40] adkinsrs commented on #132
I see now.  In plotly there is a true/false setting for the zeroline, which is True by default.  If were to add user-defined lines, this would require me to disable that and add additional annotations to the plot.  I feel this is a good candidate to add to a set of "advanced" settings.

[2020-08-11 18:56] hertzron commented on #132
hi, it would be great if when we discuss this type of issues whoever posts
a comment or feedback also puts a small screen capture. this will save
others who are trying to follow along a lot of time in trying to replicate
these scenarios and possibly provide good feedback.

R.

On Tue, Aug 11, 2020 at 2:40 PM Shaun Adkins <notifications@github.com>
wrote:

[2020-08-11 19:08] adkinsrs commented on #132
![newplot](https://user-images.githubusercontent.com/5665914/89938277-43846d00-dbe4-11ea-84d8-74f9ac1beb94.png)

@hertzron this is what Carlo is referring to.  Currently for axes for numerical groups, there is a line at 0.  He wants the option in the UI to annotate the x- or y-intercept where these lines should go and style the line to be solid/dashed/etc.

[2020-08-11 19:14] hertzron commented on #132
thanks!

On Tue, Aug 11, 2020 at 3:08 PM Shaun Adkins <notifications@github.com>
wrote:

[2020-08-13 04:10] carlocolantuoni commented on #109
2 notes here:

1] i can now order the categories on the X axis (which is great!), but when i hit preview, they revert. then if i alter anything below the preview button, they re-revert again.

2] i can use the jitter successfully on 1 data set where the X is categorical, but not on another where X is numeric. see 2 screen caps below:

![image](https://user-images.githubusercontent.com/33464702/900

[2020-08-13 12:28] adkinsrs commented on #109
I still need to make a few modifications where anything below the "Preview" button is reverted back to the original state.  When this UI was originally written, the original intention was that when categories are reordered or colors are picked, the plot is automatically redrawn, but the underlying status of the orders/colors is not passed to the Preview button, so the plot uses default colors/orde

[2020-08-13 13:21] carlocolantuoni commented on #109
all sounds good - thanks!

On Thu, Aug 13, 2020, 08:29 Shaun Adkins <notifications@github.com> wrote:

[2020-08-14 05:27] carlocolantuoni opened #134 ""Multiple Ensembl IDs matched the gene: ARHGAP11B" error in gene view"
when this happens, can we allow the user to select 1 of the many? possibly based on the other gene info that exists in NeMO? but even if no other info does exist it would be interesting to see the data and Ensembl IDs involved.

as far as i can tell now, there are multiple rows of data relevant to the gene, but the user cant see any of them.

![image](https://user-images.githubusercontent.com/3346

[2020-08-14 09:56] hertzron commented on #134
This is a challenge we have dealt with for a long time. Preference was to fix the issue at the dataset level or we can find ourselves with numerous such issues in one page. Would be great to have a systematic solution.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Friday, August 14, 2020 1:28:02 AM
To: nemoarchi

[2020-08-14 13:09] #108 closed

[2020-08-14 13:09] #78 closed

[2020-08-20 12:41] brianherb opened #135 "Create Merfish profile for Flagship paper (Fig3)"
**Merfish -**
Looking at the data, we actually have enough to make good looking plots. The actual experiment involved 2 mice - and they imaged 30 coronal slices per mouse (probing for 258 genes). For each slice, we have the xy position, size and cell type for each cell. The attached plots reproduce flagship figure 3d which looks at just the IT neurons (flagship figure: https://drive.google.com/dri

[2020-08-20 13:26] seth-ament commented on #135
Looks very nice, Brian! Just what I'd hoped we could produce for the MERFISH data. I agree that dots (not cell shapes) at the appropriate x,y position is just fine. However, I do wonder if the interpretation would it be made easier by producing drawings that simply show the inferred boundaries between layers and other major subdivisions.

The other visualization that I could potentially imagine cr

[2020-08-21 17:14] carlocolantuoni commented on #135
this looks VERY cool guys!
next time there is a discussion/demo/anything on this, i'd love to join and
get more involved in the BICCN work and profiles.
i think we could add very valuable perspectives on this and more BICCN data
using our gene lists and projection across space in these contexts,
carlo

On Thu, Aug 20, 2020 at 9:26 AM Seth Ament <notifications@github.com> wrote:

--
Carlo

[2020-08-21 17:40] carlocolantuoni commented on #135
Im listening to this mornings meeting where you guys discuss this.
given that the data format and display parameters are nearly identical to
the [sc]RNAseq data in NeMO, the gene lists and projection should require
no extra engineering once implemented for "conventional" RNAseq etc in NeMO.
for example - a transcriptional dimension from bulk in vitro organoid
RNAseq data could be projected into ME

[2020-08-25 12:56] adkinsrs commented on #109
Made a fix where the colors are updated when a new color category is chosen, and also new order lists are populated upon updates as well.  This is in gear-devel

I also rewrote the plotting package to use the Plotly Express higher-level API, which has an explicit "strip plot" for adding jitter.  However it only allows for jitter to be turned on or off.  So I modified the jitter slider to be a jitt

[2020-08-25 12:56] #109 closed

[2020-08-25 13:05] adkinsrs commented on #122
Resolved the "colors and size reverting" issue as per a comment in #109.  Closing the ticket.

[2020-08-25 13:05] #122 closed, assigned to adkinsrs, carlocolantuoni

[2020-08-26 03:33] carlocolantuoni commented on #109
Cool, thanks!

On Tue, Aug 25, 2020 at 8:57 AM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-26 03:34] carlocolantuoni commented on #122
👍

On Tue, Aug 25, 2020 at 9:05 AM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-08-27 20:50] adkinsrs commented on #133
I am making progress on the implementation of this.  Still need to add validation checks that both numbers in the axis limits are provided (since Plotly requires a min and a max value)

**plot without y-axis range (x-axis is categorical so no range)**
<img width="1440" alt="Screen Shot 2020-08-27 at 4 47 47 PM" src="https://user-images.githubusercontent.com/5665914/91493417-48544c80-e885-11ea-8874

[2020-08-28 01:57] #3 closed

[2020-09-02 14:00] adkinsrs commented on #132
<img width="1440" alt="Screen Shot 2020-09-02 at 9 59 51 AM" src="https://user-images.githubusercontent.com/5665914/91993249-22a2c980-ed03-11ea-9818-b65144e3c190.png">

Added option for vertical lines.  I do not have any error checking in place for if the x-axis is categorical

[2020-09-02 18:35] brianherb commented on #135
Made a test profile, but had to do it on gEAR - here are some screen shots:

![image](https://user-images.githubusercontent.com/13540148/92022480-51cc3180-ed29-11ea-9f54-6ea2f3e832b1.png)
![image](https://user-images.githubusercontent.com/13540148/92022520-614b7a80-ed29-11ea-8cfc-94aa52f340be.png)
![image](https://user-images.githubusercontent.com/13540148/92022568-758f7780-ed29-11ea-883b-0a9001d9

[2020-10-06 20:44] brianherb commented on #135
Patchseq -

@jorvis - the attached IT_test.zip file contains two files - a svg (IT_test.svg) and a data matrix (ITexpression.csv). The goal is to color the rectangles at the bottom of the image like a heatmap reflecting the expression from the data matrix.

[IT_test.zip](https://github.com/nemoarchive/analytics/files/5336628/IT_test.zip)

![image](https://user-images.githubusercontent.com/13540148

[2020-10-06 21:20] seth-ament commented on #135
This looks awesome, Brian!

[2020-10-07 02:04] carlocolantuoni commented on #135
yes it does look great!!

On Tue, Oct 6, 2020 at 5:20 PM Seth Ament <notifications@github.com> wrote:

--
Carlo

[2020-10-07 02:06] hertzron commented on #135
Can you please attach a screenshot?

On Tue, Oct 6, 2020 at 10:05 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-10-07 13:52] brianherb commented on #135
@hertzron - Seth and Carlo were reacting to this mock-up:
![image](https://user-images.githubusercontent.com/13540148/95340181-da874180-0882-11eb-8c42-abdf7aedcac3.png)

[2020-10-07 15:04] brianherb opened #136 "Profiles for Flagship paper"
We will create three profiles to support the Flagship paper:

- [ ] Transcriptomic / Epigenetic data (Fig2) - [Issue 137](https://github.com/nemoarchive/analytics/issues/137)

- [ ] Merfish data (Fig3) - [Issue 135](https://github.com/nemoarchive/analytics/issues/135)

- [ ] Patchseq data (Fig4) - [Issue 138](https://github.com/nemoarchive/analytics/issues/138)

[2020-10-07 15:19] brianherb opened #137 "Create Transcriptomic / Epigenetic profile for Flagship paper (Fig2)"

[2020-10-07 15:21] brianherb opened #138 "Create Patchseq profile for Flagship paper (Fig4)"
Patchseq -

@jorvis - the attached IT_test.zip file contains two files - a svg (IT_test.svg) and a data matrix (ITexpression.csv). The goal is to color the rectangles at the bottom of the image like a heatmap reflecting the expression from the data matrix.

[IT_test.zip](https://github.com/nemoarchive/analytics/files/5336628/IT_test.zip)

![image](https://user-images.githubusercontent.com/13540148

[2020-10-07 19:03] jorvis commented on #138
Can you upload the actual datafile to the devel version of NeMO? Then I can test the SVG on there.

[2020-10-07 19:08] brianherb commented on #138
@jorvis  - just checking, this site: https://gear-devel.nemoanalytics.org/ ?

[2020-10-07 19:08] hertzron opened #139 "Add support to pictorial legend references"

[2020-10-07 20:52] brianherb commented on #138
@jorvis  - take a look at dataset 'Flagship Patchseq IT Test' - 403cf3ea-c5cb-7add-3142-a96945152f63

[2020-10-09 18:05] jorvis commented on #135
This image is to be loaded for dataset ID: 403cf3ea-c5cb-7add-3142-a96945152f63

Sorry, I see you referenced this in #138

[2020-10-09 20:02] jorvis commented on #138
Like this?  (currently on production)

![Screenshot from 2020-10-09 15-02-08](https://user-images.githubusercontent.com/330899/95626729-74481d80-0a40-11eb-8bbe-8d676e737702.png)

[2020-10-09 20:06] brianherb commented on #138
OOOOOOOOOH! So does that mean it worked as is? That is fabulous!

[2020-10-09 20:10] jorvis commented on #138
Yep, all good.  I only had to modify our SVG processor to look for 'rect' elements to color in addition to the usual path and circle elements.

[2020-10-10 02:30] carlocolantuoni commented on #138
gorgeous guys

On Fri, Oct 9, 2020 at 4:10 PM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2020-10-13 15:42] brianherb commented on #138
This is how I'm thinking of grouping neuron types - some have two rows, but each will be their own 'window'

**Lamp5**
![image](https://user-images.githubusercontent.com/13540148/95883381-dbb7e300-0d48-11eb-8826-5043e9f2ea57.png)

**Sncg / Vip**
![image](https://user-images.githubusercontent.com/13540148/95883029-66e4a900-0d48-11eb-8902-e5486b5aacae.png)

**Sst**
![image](https://user-images.githu

[2020-10-13 16:57] carlocolantuoni commented on #138
wow - very cool - after u and joshua implement all this, maybe you could
pick a time to show us all how this works live along with the other
flagship profile element you've built (like the MERfish etc).
great to see it coming together

On Tue, Oct 13, 2020 at 11:43 AM Brian Herb <notifications@github.com>
wrote:

--
Carlo

[2020-10-14 19:57] brianherb commented on #138
New datasets on nemoanalytics:
(celltype - dataset name - unique id)

IT - Flagship Patchseq IT - 097fca87-8679-054b-d223-46ba4618f624

Lamp5 - Flagship Patchseq Lamp5 - 98db4be8-4a23-6a19-70ce-75444c79b6ed

Pvalb - Flagship Patchseq Pvalb - c0f77e66-ab22-6e4a-642a-c41f1ec6b9a3

ET - Flagship Patchseq ET - 5a8a7aae-248e-206b-d239-5b584afe8978

Sncg/Vip - Flagship Patchseq Sncg_Vip - 15b97730-aee5-

[2020-10-15 17:23] brianherb commented on #138
A new profile named 'MOp Patchseq' has been created here: https://www.nemoanalytics.org/p?l=1206f7ce

Unfortunately when all panels are together they do not render properly. If there is just one panel in the profile, it looks fine, but putting two or more causes problems.

[2020-10-16 13:21] brianherb commented on #138
![image](https://user-images.githubusercontent.com/13540148/96263240-c7662700-0f90-11eb-9915-ce31bc9c5cf3.png)

[2020-10-16 15:39] jorvis commented on #138
Yes, mixing a lot of wide images with different aspect ratios is a problem.

[2020-11-15 07:13] carlocolantuoni commented on #132
these are looking great in the curator (see below) but dont appear in the view of the profile.

![image](https://user-images.githubusercontent.com/33464702/99179083-187c4e80-26e8-11eb-932c-620cb5c46c63.png)

[2020-11-15 07:24] carlocolantuoni commented on #132
another note here : just like the vertical lines, the Y-axis labels appear when in the curator, but not in the profile view.

[2020-11-15 07:26] carlocolantuoni commented on #132
![image](https://user-images.githubusercontent.com/33464702/99179266-fe437000-26e9-11eb-8afb-cc076bc13ffc.png)

[2020-11-15 16:31] adkinsrs commented on #132
@carlocolantuoni I may have failed to save the vertical line properties in the mysql database or failed to retrieve the property out of the mysql database for that particular view... I'll look into it.  As for the y-axis title, I have a hunch it is there but is beyond the container boundary.  This issue was resolved via a code commit but I believe it that code has not been pushed to the NeMO serve

[2020-11-15 16:50] carlocolantuoni commented on #132
cool, thnx

[2020-11-16 13:27] adkinsrs commented on #132
@carlocolantuoni I checked the v-line issue and apparently I had fixed it but the code is not deployed on the nemoanalytics server yet.  I was able to view the v-lines in the profile view on devel.umgear.org.

[2020-11-16 15:53] carlocolantuoni commented on #132
thats good.
were there y axis labels?

[2020-11-16 16:24] jorvis opened #140 "Many people getting Page not found when visiting site. HTTP not redirecting to HTTPS"
Working on this now.

[2020-11-16 16:42] jorvis opened #141 "Gene carts options don't appear to be loading"
When you go to the home page after creating a gene cart the drop-down menu isn't appearing to choose the saved gene carts.

[2020-11-16 16:55] adkinsrs commented on #132
<img width="1440" alt="Screen Shot 2020-11-16 at 11 54 47 AM" src="https://user-images.githubusercontent.com/5665914/99283209-af3d2e00-2802-11eb-980a-64b79ee7b887.png">

[2020-11-16 17:28] jorvis commented on #140
I've reconfigured apache to do this.  For future notes, the change was adding this line to /etc/apache2/sites-available/000-default.conf

`
        Redirect permanent / https://nemoanalytics.org/
`

This needs to go in the port 80 VirtualHost section.

[2020-11-16 17:28] #140 closed, assigned to jorvis

[2020-11-16 19:51] carlocolantuoni commented on #132
great - so it looks like both lines and labels will be good when u move the
changes in devel to the main page - is that right?
carlo

On Mon, Nov 16, 2020 at 11:56 AM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-11-16 20:25] adkinsrs commented on #132
Correct.  I have formally issued a pull request so @jorvis can add my changes to the main code branch, which can then be deployed out.

[2020-11-16 20:47] carlocolantuoni commented on #132
great!

On Mon, Nov 16, 2020 at 3:26 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-11-17 16:41] #81 closed

[2020-11-17 16:42] adkinsrs commented on #81
Closing since this ticket was last mentioned a year ago, and I think is not relevant anymore.  Feel free to reopen if it is.

[2020-11-17 16:43] adkinsrs commented on #85
Several different methods can be used to upload files, but we are currently only focused on GEO submissions for now.  Closing and will reopen if this is still an issue.

[2020-11-17 16:43] #85 closed

[2020-11-17 16:46] adkinsrs commented on #90
Currently I have not heard any additional plans to upload NeMO Archive data.  We are still only uploading GEO submission data.  So closing for now and will reopen if needed.

[2020-11-17 16:46] #90 closed

[2020-11-17 16:47] #133 closed, assigned to adkinsrs

[2020-11-17 16:58] adkinsrs commented on #118
This was resolved in in a past gEAR commit

[2020-11-17 16:58] #118 closed

[2020-11-17 17:00] adkinsrs commented on #132
@jorvis is pushing this fix to gEAR and nemoanalytics before the end of the day.

[2020-11-17 18:23] carlocolantuoni commented on #132
great! thnx

On Tue, Nov 17, 2020 at 12:00 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-11-17 18:56] carlocolantuoni commented on #132
it looks great, except the Y-axis labels are not being dynamically
generated. it looks like the static label from the curation (where the
curator page asks for an example gene to use in designing the view) is
being carried forward. for example, when i searched for the "FEZF2" gene,
the plots come up with labels that include the gene name used in the
curation, but - the data is from the FEZF2 gene

[2020-11-17 19:37] adkinsrs commented on #132
Can you re-upload your image?  It is not showing in the comment.

[2020-11-17 19:41] adkinsrs commented on #132
Also I believe the reason why the dynamic labeling is not happening is because of this codeblock in api/resources/plotly_data.py that happens immediately before data is returned:

[code]

Generally I unset the y_title variable, so I can set it dynamically only if the y-axis is the expression value and y-title is empty.  I can change this code block to something like `if gene_symbol in y_title:` in

[2020-11-17 19:46] carlocolantuoni commented on #132
the problem disappears if i re-save each curated view, so i guess there was
an issue of the new code reading the previously saved views.

On Tue, Nov 17, 2020 at 2:41 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-11-17 20:15] adkinsrs commented on #132
I'll keep the ticket open for now in case something happens again in a different context.

[2020-11-18 06:53] jorvis commented on #111
Storing a note for myself.  Handling [R imagery via CGI](https://www.stat.berkeley.edu/~nolan/stat133/Fall05/lectures/CGI.pdf).

[2020-11-30 06:03] seth-ament opened #142 "Can a permalink for a profile point directly to the view of that profile rather than the homepage?"
I've heard from a number of people that it is a source of confusion that the permalinks we provide point to the gEAR/NeMO homepage, rather than a page that directly displays a view of the dataset. For instance, the following was a reviewer comment on our Huntington's disease single-nucleus RNA-seq manuscript:
"The link https://umgear.org/p?l=1d76bf3e takes me to an apparently general single-cell R

[2020-11-30 06:50] jorvis commented on #142
Yes.  Example:

https://umgear.org/p?l=1d76bf3e&g=gad2

Notice I only added &g=gad2 to the URL.

[2020-11-30 06:50] #142 closed, assigned to jorvis

[2020-12-02 19:33] carlocolantuoni opened #143 "uploading large (>0.5GB) data sets to NeMO Analytics (& gEAR)"
Everyone is aware of this issue already. Anup requested I start a ticket for it to keep it organized / on the radar.

When uploading large single cell datasets (5-10k cells / ~0.5-1GB), the uploader stays indefinitely in the "uploading in progress" mode. From looking at network activity, it appears that the entire large file is moved, but the uploader never finishes.

[2020-12-02 19:39] carlocolantuoni opened #144 ""hybrid" dynamic Y axis labels"
low priority - perhaps an enhacement to get to in the new year:

in the dataset view curator it is possible to override the automatically generated "expression of XXXXX" Yaxis label.

it would be nice to have the ability to ADD to the automatically generated labels without replacing them entirely.

for example, the automatically generated label might be "expression of SOX2". We could replace this

[2020-12-06 08:07] carlocolantuoni commented on #143
instead of sending more emails - here's a list of datasets ready to move into NeMO Analytics. I put some of these up yesterday and then had to update them, so if you've moved some already, please let me know, we may have to make sure the latest is uploaded - sorry - hope u havent started yet. Here they are - i will update this ticket as i add more:

- [x] /autofs/encrypted/NEMO/incoming/brain/othe

[2020-12-06 08:10] carlocolantuoni commented on #143
ps - i believe shaun has already moved this one (but dont think joshua has finished it):

[2020-12-06 08:11] carlocolantuoni commented on #143
i meant this one:
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/LIBD/AZ.LIBD.iPSC.NrlDif/

[2020-12-06 08:27] carlocolantuoni commented on #143
just listened to your friday AM update Shaun - can u tell me which 4 datasets you had already moved?
i want to make sure i did not update any of them AFTER you moved them - sorry about that.

[2020-12-06 23:31] #132 closed, assigned to adkinsrs

[2020-12-11 13:14] adkinsrs commented on #143
i have bundled the LIBD sample and the Geschwind samples, as well as ran the script for the NeMO-to-cloud-bucket uploader.

Generally I am waiting for the NeMO archive weekly ingest process to bundle the new file sets found in the NeMO directory structure, and then I upload to the cloud bucket a week later.  If any file gets updated after the bundle has been ingested, then the updated files will b

[2020-12-12 06:25] carlocolantuoni commented on #143
thanks shaun -
i am not familiar with all the steps required to get data from the dir
where i put things, all the way to usable data in NeMO analytics.
so are there 2 steps? 1 NeMO ingest, 2 up to Google cloud-bucket , and then
its useable? or are there additional steps?
i dont see any of the data up on NeMO Analytics yet.
thanks,
Carlo

On Fri, Dec 11, 2020 at 8:14 AM Shaun Adkins <notifications@

[2020-12-12 15:01] adkinsrs commented on #143
here are the steps I typically take

  1.   Let the automated ingest system preprocess the files for basic QC checks, then bundle them into the NeMO "release" area
  2.   I manually run the nemo_upload_crawler.py script to copy them to the Google Cloud Bucket
  3.   Joshua runs a script to pull them from the Google Cloud Bucket down to the nemoanalytics server.  I do not have permissions to run th

[2020-12-13 05:01] carlocolantuoni commented on #143
thanks shaun!
let me know how these go - i'll wait to produce more data sets until we see
if all my formatting works well.
thnx,
carlo

On Sat, Dec 12, 2020 at 10:02 AM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-12-14 17:16] adkinsrs commented on #143
Updated the list of files with checkboxes so I can mark off which ones have been sent to the Google Cloud Bucket

[2020-12-14 17:45] adkinsrs commented on #143
Issues (continually updating the list):
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_E7.75_only/
* Memory Error

/autofs/encrypted/NEMO/incoming/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_E6.75_only/
* Memory Error

/autofs/encrypted/NEMO/incoming/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_E8.5_only/
* Memory Error

/autofs/encry

[2020-12-14 17:52] carlocolantuoni commented on #143
great - the tracking is a goid idea.

do we know how to get past the memory issue? do we have a hard limit on
file size anywhere?

carlo

On Mon, Dec 14, 2020, 12:45 Shaun Adkins <notifications@github.com> wrote:

[2020-12-14 17:56] adkinsrs commented on #143
Regarding the out-of-memory issue (and the uploads are still ongoing by the way), I can probably rerun the failed ones on one of the IGS grid nodes using the interactive.q and qlogin.

The OOM error typically results from either the creation of the H5AD file or from the "link ensembl release to h5ad" step.

[2020-12-14 17:57] carlocolantuoni commented on #143
great.

On Mon, Dec 14, 2020, 12:56 Shaun Adkins <notifications@github.com> wrote:

[2020-12-14 19:56] adkinsrs commented on #143
[code]
[code]

[code]
[code]

[2020-12-14 20:05] carlocolantuoni commented on #143
arg, ill chk my formatting.

On Mon, Dec 14, 2020, 14:57 Shaun Adkins <notifications@github.com> wrote:

[2020-12-14 22:20] carlocolantuoni commented on #143
if u can, it might be good to hold off on the "/CambridgeUK/" datasets
until i correct this - sorry.

On Mon, Dec 14, 2020 at 3:05 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2020-12-14 22:32] adkinsrs commented on #143
All of the other CambridgeUK datasets uploaded without issue.  Just those 4 datasets gave some issue with the files.

------------------------------------------------------
Ricky "Shaun" Adkins
Bioinformatics Software Engineer II
Institute for Genome Sciences
University of Maryland, School of Medicine
Phone (410) 706-6766
________________________________
From: Carlo Colantuoni <notifications@githu

[2020-12-15 03:22] carlocolantuoni commented on #143
thats great to hear - i'll check the size and format of those 4 right now.
thanks shaun!

On Mon, Dec 14, 2020 at 5:32 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-12-15 08:12] carlocolantuoni commented on #143
ok - i hope the IGS grid resolves the memory issues.

i do see where the sample IDs are off in the other 4 sets of files, so i have re-generated them. another set of files was made with this same script on my end, so it also has the same sample ID issue (i dont know how it did not cause the same error), and i also re-generated those files.

this is the list of 5 sets of files in the /CambridgeUK/

[2020-12-23 04:01] seth-ament opened #145 "cannot change profile arrangement"
I am currently getting the following error while trying to Save a new arrangement of datasets in a profile on NeMO Analytics: "Oops! Not able to save layout arrangement. User must be logged in and own the dataset." I am logged in as Ament Lab. I checked, and Ament Lab owns all of the datasets in the profile.

[2020-12-23 04:05] seth-ament commented on #145
Oddly, I can get the error to go away by re-setting the profile. But there's something buggy here...

[2020-12-23 04:07] carlocolantuoni commented on #145
hey seth,
yes - this has happened to me as well.
sometimes as you work in the dataset manager, the profile you think u r
working on disappears from the pull down menu and if that happens then this
error pops up when editing things.
simply selecting the profile from the pulldown again fixes this, but this
is a bug we should fix wen we have time.
carlo

On Tue, Dec 22, 2020 at 11:05 PM Seth Ament <n

[2020-12-23 04:15] seth-ament opened #146 ""Gene not found" error in displaying scRNA-seq datasets"
I uploaded an scRNA-seq dataset while logged in as Ament Lab and created a curated view as a violin plot. While curating the dataset things look good. However, on the front page it cannot find any genes to display. Always says "Gene not found". Examples tested include SST, SLC17A7. Dataset is here: https://nemoanalytics.org/p?s=cc511e94

I recall Yang demoing a similar error last month on the gEAR

[2021-01-07 15:54] carlocolantuoni commented on #143
hi @adkinsrs and @jorvis - can u guys let me know when these datasets are available in NeMO Analytics?
thanks,
carlo

[2021-01-09 06:32] carlocolantuoni commented on #143
thanks guys, for getting so much data up there. i am already deep in curation of many of these.

FYI - this one was uploaded twice (i already removed the extra):
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_E7.25_only/

also, i cant find the following 8 data sets in there, can you let me know if they havent been moved up yet, or if there was a problem alo

[2021-01-09 07:11] carlocolantuoni commented on #143
sorry guys -

i have noticed that i made an error in the species specification in several data sets. these data sets were annotated as being "Homo spaiens" rather than "Mouse" (and sample_taxid of "9606" instead of "10090") in the .json meta data files. what is the easiest way to correct this? the error is in the meta data .json files for ALL the data sets under this dir (there are several in ther

[2021-01-11 13:17] adkinsrs commented on #143
I can quickly edit all of the .json files to be mouse, but the file bundles will have to be rebundled again on Wednesday.

EDIT: I cannot edit since you own the files and they are 544 permissions.  You either have to open the permissions up for all the files or make the edits yourself.

[2021-01-11 15:21] carlocolantuoni commented on #143
great, thnx.
sorry about that,
carlo

On Mon, Jan 11, 2021, 08:18 Shaun Adkins <notifications@github.com> wrote:

[2021-01-11 16:05] jorvis commented on #143
No, we don't have to do all that. I can just change the values in the
database of you can send a list of the dataset titles and which organism
they should be changed to.

On Mon, Jan 11, 2021, 9:21 AM Carlo Colantuoni <notifications@github.com>
wrote:

[2021-01-11 16:15] carlocolantuoni commented on #143
i will send the list tonight - thanks guys

On Mon, Jan 11, 2021 at 11:05 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2021-01-11 16:40] adkinsrs commented on #143
I also see 7 files above that do not have a checkbox.  They bundled back whenever I bundled everything but I do not remember if they successfully uploaded to the cloud server (after the first failure) , so I will attempt to upload to the cloud server this afternoon

[2021-01-11 18:29] adkinsrs commented on #143
Still getting an upload error for this file
[code]

and this file
[code]

The following file bundles were skipped because not all of the requisite files were present.  For whatever reason, the .v2 (and .v3) version of the bundles did not include every necessary file in the bundle (I think these files were modified while the ingest script cronjob was running which caused issues)., and the nemo_uplo

[2021-01-11 19:25] adkinsrs commented on #143
The last 4 files in the previous comment uploaded successfully after reingesting.  The top two in that comment are still not uploaded.

[2021-01-12 06:52] carlocolantuoni commented on #143
ok - ill check on those 2 files still giving errors.

and here are 2 lists of data sets that need human - to mouse organism
switches: 1] datasets already in NeMO Analytics, and 2] datasets in
/local/projects-t3/NEMO/, but not yet in NeMO Analytics.

1] in NeMO:
MmGastr116Ksc_E6.5_only: Single-cell RNAseq from gastrulating mouse embryo
(Pijuan-Sala et al 2019) MmGastr116Ksc_E6.75_only: Single-cell

[2021-01-12 07:00] carlocolantuoni commented on #143
the one error quotes a non existent dir -

/local/projects-t3/NEMO/public/release/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_EpiblastStreakCells/

- i will check on the files in this dir with similar name:
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_EpiblastStreakCells.DownSamp12k/

On Tue, Jan 12, 2021 at 1:52 AM Carlo Colantuoni <colantuon

[2021-01-12 07:32] carlocolantuoni commented on #143
sorry -

what i should have said is: it looks like i may have duplicate uploaded the
same data set; once as  " MmGastr116Ksc_EpiblastStreakCells" and a second
time as " MmGastr116Ksc_EpiblastStreakCells.DownSamp12k".

in the dir i use to upload these files, i can only see this one:
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_EpiblastStreakCells.DownSamp1

[2021-01-12 13:41] adkinsrs commented on #143
So from my gathering, I can ignore the upload for /local/projects-t3/NEMO/public/release/brain/other/grant/development/CambridgeUK/MmGastr116Ksc_EpiblastStreakCells/
 since it may be a duplicate of another dataset, or at the very least is not relevant now.  The directory did exist in the "incoming" area of nemoarchive at one point, where the ingest process found it and bundled the contents on Dece

[2021-01-12 15:00] adkinsrs commented on #143
Was able to successfully upload the PKU/CtxDevoFCtangSC4k dataset by forcing each of the categorical dataframe columns to use utf-8 (at least one of them was encoded in latin-1 I believe) before creating H5AD file.

@carlocolantuoni after @jorvis pulls the remaining datasets from the google cloud bucket, please let me know what is still missing

[2021-01-13 03:18] carlocolantuoni commented on #143
great, will do - can u guys let me know when the species changes and remaining "pulls" have been made, and then i'll check what remains.
thanks,
carlo

[2021-01-13 16:26] jorvis commented on #143
All -

I have processed all the pending datasets on the gcloud bucket and also set
all those with this naming convention to 'mouse' rather than human.

mysql> select id, title from dataset where title like "%MmGastr116Ksc%";
+--------------------------------------+-------------------------------------------------------------------------------------------------------------------------------+
| id

[2021-01-13 19:30] carlocolantuoni commented on #143
great!
thanks guys.
i will go thru and check em all.
carlo

On Wed, Jan 13, 2021 at 11:26 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2021-01-14 07:48] carlocolantuoni commented on #143
@jorvis @adkinsrs - i have been working through the new data.

only this one data sets appears to be absent:

/autofs/encrypted/NEMO/incoming/brain/other/grant/development/Geschwind/CtxDevoMidGestGesch40k.ALLdonors.DownSamp12k/

thanks again guys - i am having a blast setting up these new data sets!

carlo

[2021-01-14 14:43] adkinsrs commented on #143
Tried to upload the bundled version to the cloud bucket and got the following error:

ERROR: <class 'Exception'> - Observation IDs from 'expressions' and 'observations' files are not the same.

Essentially the set of IDs from COLmeta.tab is not equal to the set of IDs from DataMTX.tab (needs to be 1-to-1).  Seems the number of fields in DataMTX is equal to the number of row in COLmeta.tab (taking

[2021-01-14 15:00] carlocolantuoni commented on #143
Ok, I'll take a look - thnx

On Thu, Jan 14, 2021 at 9:43 AM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2021-01-14 18:32] carlocolantuoni commented on #143
@jorvis and @adkinsrs -

i have re-uploaded a corrected version to be brought into NeMO here:

/autofs/encrypted/NEMO/incoming/brain/other/grant/development/Geschwind/CtxDevoMidGestGesch40k.ALLdonors.DownSamp15k

thanks!

[2021-01-15 04:53] carlocolantuoni commented on #143
minor comment: all the forward slashes - "/" - in web addresses in the experimental info (in the .json) came thru as - "\/" - i think i ll just edit them manually.
carlo

[2021-01-16 16:01] hertzron opened #147 "Compare tool titles (I believe is also a request from reviewers)"
![image](https://user-images.githubusercontent.com/17456863/104816589-2cc4f080-57ea-11eb-8f28-a591356ac0a2.png)

[2021-01-19 22:48] carlocolantuoni commented on #143
a loosely related NeMO Analytics Uploading error:

For 3 different datasets I am trying to upload I am getting this error after upload is complete and i hit the "Submit" button. is there any way to debug what the underlying error might be?

![image](https://user-images.githubusercontent.com/33464702/105103359-7e85a900-5a7e-11eb-8b73-ba38c719cd3a.png)

[2021-01-22 03:54] carlocolantuoni commented on #147
hi all
[un]related question about the compare tool - what is the max #
observations it can handle? lately with scRNAseq data i've been getting a
"too many observations" error
carlo

On Sat, Jan 16, 2021 at 11:01 AM hertzron <notifications@github.com> wrote:

--
Carlo

[2021-01-23 08:23] carlocolantuoni commented on #143
i have another new data set throwing this same error after upload and hitting the submit button - any way to look deeper to see what might be causing the errors? is there a particular kind of problem that often causes this "Unable to finish" error?

[2021-01-23 17:48] jorvis commented on #143
Have you checked to make sure all the expression values are numeric or
empty.  IE, no fields with 'NA' as a string or anything like that in them?

On Sat, Jan 23, 2021 at 2:23 AM Carlo Colantuoni <notifications@github.com>
wrote:

[2021-02-02 15:29] adkinsrs commented on #147
Dataset titles have been moved from the axes labels to the dataset title.  The next step is to push the plot slightly down so that the title is not clipped at top.  Will close ticket after I push a commit for that.

@carlocolantuoni  I imagine that error is being propagated from Scanpy and I will try to look and get a specific number

[2021-02-02 15:44] adkinsrs commented on #147
@carlocolantuoni Actually I was wrong.

The "too many observations" error happens when the "compare datasets" interface detects too many categorical columns in the observations table in the dataset.  The maximum allowed is a hard-coded value in "get_condition_list.cgi" and is currently set to 5.  Since the X- and Y- dropdown menus create an option for every combination of categorical observation g

[2021-02-02 17:07] adkinsrs commented on #147
Committed fix to the main ticket issue and it has been pushed to gear-devel

[2021-02-02 17:07] #147 closed, assigned to adkinsrs

[2021-02-12 16:05] carlocolantuoni opened #148 "cant display continuous/numeric sample metadata in colorized legend in static tsne/umap plots"
it looks like all of my curated views using the static tsne option can no longer handle continuous variables for the colorized legend. i can get categoricals to work fine, but not anything numeric/continuous. this is odd because i had set up many curated views previously using numeric columns for coloring the legend, but none of them load anymore when looking at the profiles and i cant create new

[2021-02-15 14:52] adkinsrs commented on #148
@carlocolantuoni can you link a URL of an example dataset with a numerical legend so I can poke around?

This should be finished and merged.  Coloring happens if there is a column of hexcodes named "{group}_colors" in the observation table (substitute {group} with legend group name).  Ordering happens if both split_plot_groups and colorize_legend_by have dropdown values selected in the dataset cur

[2021-02-16 06:22] carlocolantuoni commented on #148
this is one that had a numeric colored legend that stopped working some time ago:
https://nemoanalytics.org/dataset_curator.html#/dataset/f265f0cf-c975-498a-864a-17b4ec514720/displays

in case i cpoied the wrong URL, the datasest titel is: " Embryonic stem cell neural differentiation scRNAseq (Yao et al. 2017 Cell Stem Cell) "

[2021-02-16 14:38] seth-ament opened #149 "saved analyses not available"
For many of the scRNA-seq datasets that Carlo and I have uploaded, the UMAP/tSNE displays well on the front page, but the clusters from the primary analysis are not available in the Single-Cell Workbench. I think this is an issue about how we are labeling columns in the observations tab. Could you remind us how to label everything so that the clusters are available in the workbench?

(Eventually,

[2021-02-17 04:01] jorvis commented on #149
I need to run a script which looks through the recently-uploaded files and adds primary analyses so that it shows up in the workbench.  Yes, this isn't ideal and it should happen automatically upon upload - it just keeps being one of the things that isn't prioritized.  Are these new datasets for which this hasn't happened yet?  And also, yes, during upload the user should be able to specify which

[2021-02-17 04:09] carlocolantuoni commented on #149
thanks for that info joshua,
another question: if there is more than 1 of those col names, which is
used? the 1st?
when we find time to do this, it would be great if we can find a solution
that can work on column names that we specify and without having to add
column/sample meta data and re-upload, in order to avoid recreating all the
profiles and curated views that we have invested time in.
carlo

[2021-02-17 04:39] seth-ament commented on #149
Thanks, Joshua!

Carlo has curated several single-cell datasets in the CarloTEMP profile that seem not to have been connected yet to the workbench. Carlo, could you give Joshua a list of the datasets?

[2021-02-17 06:54] carlocolantuoni commented on #149
sure!

Human Fetal Cortex scRNAseq (Nowakowski et al. 2017 Science) - using column
"majortype4"
Molecular identity of human outer radial glia during cortical development
(Pollen et al 2015) - using column " Cell Class"
Temporal patterning of apical progenitors and their daughter neurons in the
developing neocortex (Telley et al 2019) - using column "cell.age.ch1"
Single-cell RNAseq from mid-gestat

[2021-02-17 07:25] jorvis commented on #149
The 1st in that list is the one which is taken, yes.  And agreed about making it configurable.

[2021-02-17 07:25] jorvis commented on #149
I have run this script which looks at ALL uploaded datasets which are missing primary analysis and adds them.  You can check out any existing datasets now.

[2021-02-17 17:00] carlocolantuoni commented on #149
Awesome, thanks!
did you do this with the automatic column name recognition, or the specific
ones i sent?
i'll go look at some now,
carlo

On Wed, Feb 17, 2021 at 2:26 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2021-02-17 17:09] jorvis commented on #149
Sorry, I had only done it on the auto one first, but can redo it so those are recognized too this afternoon

[2021-02-17 17:52] carlocolantuoni commented on #149
thanks so much Joshua!

On Wed, Feb 17, 2021 at 12:10 PM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2021-02-17 17:58] carlocolantuoni commented on #149
when exploring one of the datasets that had "Cluster" as the column name
(and therefore worked when u ran the script), i can see the primary
analysis is there, and the tSNE plot works, but when i ask for marker
genes, i get :
"

   - Error reporting marker genes

"
this was for the " Single-cell RNAseq from mid-gestation human fetal cortex
(Polioudakis et al 2019): subset - donor.368 (excitatory n

[2021-02-17 19:37] carlocolantuoni commented on #149
i understand if you want to drop this for now as u finish data set manager
/ gEAR manuscript issues

On Wed, Feb 17, 2021 at 12:58 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2021-02-17 19:40] jorvis commented on #149
Trying to wrap up the tasks I had ongoing.  One thing, Shaun identified that the marker gene step is case-sensitive for the gene names you search.  He plans to have a fix in the coming days, but could you try to be sure to enter the gene names with the proper case for your organism and see if that's the problem atm?

[2021-02-17 19:43] carlocolantuoni commented on #149
thnx joshua

On Wed, Feb 17, 2021 at 2:40 PM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2021-02-17 20:09] carlocolantuoni opened #150 "log2 and log10 transformation in the compare tool"
when either log2 or log10 is selected in the compare tool, we should also add a unit of 1, i.e. :

new value = log2(old value +1)

[2021-02-17 20:11] carlocolantuoni commented on #149
to be clear - the " Error reporting marker genes " error came when i asked
the workbench to get marker genes from clusters, not when i ask for a
specific gene name

On Wed, Feb 17, 2021 at 2:42 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2021-02-18 21:56] jorvis commented on #150
Could you show a public dataset and options to choose where I can test this?

[2021-02-18 22:00] hertzron commented on #150
Hi,

After a long discussion yesterday we decided to not do that for now as many
of the values are log transformed already.

Ronna

On Thu, Feb 18, 2021 at 4:56 PM Joshua Orvis <notifications@github.com>
wrote:

[2021-02-19 08:53] carlocolantuoni commented on #149
hey joshua,
when u get the data set manager and gEAR manuscript off your plate:
can u run the "script which looks at ALL uploaded datasets which are
missing primary analysis and adds them" again?
i have put up some new data since you sent the note above.
thnx,
carlo

On Wed, Feb 17, 2021 at 3:11 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2021-02-24 16:36] jorvis commented on #149
I just ran it again.

On Fri, Feb 19, 2021 at 2:54 AM Carlo Colantuoni <notifications@github.com>
wrote:

[2021-02-24 17:03] carlocolantuoni commented on #149
Thanks!

On Wed, Feb 24, 2021 at 11:36 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2021-03-15 14:44] adkinsrs commented on #6
Is this issue still relevant or needed?  Or can I close it?

[2021-03-15 14:45] adkinsrs commented on #86
Is this still needed? Can I close?

[2021-03-15 14:49] adkinsrs commented on #87
I am going to close for now.  Given my experiences for loosening up restrictions for submissions on the NeMO Archive side and how that made more work for the analysts and myself, I would rather err on the side of keep validation script as it ensures the underlying code receives nothing out-of-the-ordinary.

If this is still an issue that should be addressed please either reopen the ticket or just

[2021-03-15 14:49] #87 closed

[2021-03-15 14:53] adkinsrs commented on #128
Would this just be as simple as selecting a "line" plot in the dataset curator, and then I add an option for datapoint markers?

[2021-03-15 15:07] adkinsrs commented on #143
@carlocolantuoni anything still need to be done on this?  Can I close?

[2021-03-15 17:55] carlocolantuoni commented on #128
sounds like that should wrk, but i am trying the line plot now, and
cant get it to work at all (doesnt generate a preview at all) with a data
set that i have a scatter plot working fine for (" RNAseq from 6 hPSC lines
in self-renewal and differentiation (Kim et al 2021).  ") see 1st dataset
in https://nemoanalytics.org/p?l=KimEtAL2021 - i cant get a line plot to
produce anything for this data

On

[2021-03-15 17:58] carlocolantuoni commented on #86
ya i ithnk we r good here

On Mon, Mar 15, 2021 at 10:45 AM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-03-15 17:59] #86 closed

[2021-03-15 17:59] carlocolantuoni commented on #6
i think u can close

On Mon, Mar 15, 2021 at 10:44 AM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-03-15 18:00] #6 closed

[2021-03-16 03:36] carlocolantuoni commented on #143
hey shaun,

ya i think this can be closed, because for now, i have been putting the
larger ones on the cluster and you and joshua have moved them thru to NeMO.

i still have a data set waiting to get grabbed and moved into NeMO
at: /autofs/encrypted/NEMO/incoming/brain/other/grant/development/Geschwind/CtxDevoMidGestGesch40k.ALLdonors.DownSamp15k/

and here is a smaller one that is getting an erro

[2021-03-16 13:08] adkinsrs commented on #143
I am going to close this ticket as suggested.

Couple of things:
1. I cannot process the files at /local/projects-t3//NEMO/public/incoming/brain/other/grant/development/Geschwind/CtxDevoMidGestGesch40k.ALLdonors.DownSamp15k/ (the variation of the path that I prefer to use) due to permissions.
2. We are changing how our ingest system is going to work, so I will require a manifest file (can explain

[2021-03-16 13:08] #143 closed, assigned to jorvis, adkinsrs, carlocolantuoni

[2021-04-08 23:19] carlocolantuoni opened #151 "problem accessing elements of automatically generated /stored "primary analysis""
cant get it to compute marker genes for stored analyses.

this is happening for a number of datasets - here are 2:

![image](https://user-images.githubusercontent.com/33464702/114107504-23a26780-989f-11eb-9812-606b17be23da.png)

![image](https://user-images.githubusercontent.com/33464702/114107520-29984880-989f-11eb-8e1e-5a8148fd9f74.png)

[2021-04-23 13:16] brianherb opened #152 "Add links to Cell x Gene profiles"
Add button to BICCN profiles on nemo analytics to link to Cell x Gene page of that same data. Ambrose Carr and the cell x gene team has curated a number of BICCN datasets for the cell x gene viewer. They created a url for each dataset (but not to a specific gene) that we can use to link to their pages. Ambrose also gave us permission to use the cell x gene logo.

This button can be added to the dr

[2021-05-12 19:03] brianherb commented on #152
Here is a lookup table for Nemo datasets that have a corresponding cell x gene page

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=

[2021-05-26 20:03] brianherb commented on #152
Additional links:

<meta name="ProgId" content="Excel.Sheet">
<meta name="Generator" content="Microsoft Excel 15">
<link id="Main-File" rel="Main-File" href="file:////Users/bherb/Library/Group%20Containers/UBF8T346G9.Office/TemporaryItems/msohtmlclip/clip.htm">
<link rel="File-List" href="file:////Users/bherb/Library/Group%20Containers/UBF8T346G9.Office/TemporaryItems/msohtmlclip/clip_filelist.xml

[2021-06-23 18:46] brianherb commented on #138
Fixed issue by reducing the size of the background image.

[2021-06-23 18:46] #138 closed, assigned to brianherb

[2021-06-23 18:46] #137 closed, assigned to brianherb

[2021-06-23 18:47] brianherb commented on #136
Profiles completed

[2021-06-23 18:47] #136 closed, assigned to brianherb

[2021-06-23 18:48] brianherb commented on #135
Profile completed

[2021-06-23 18:48] #135 closed, assigned to brianherb

[2021-06-28 15:57] carlocolantuoni opened #153 "3 datasets hanging at Gene Symbol loading step in view curator"
My collaborator Yash in Johns Hopkins Biomedical Engineering has successfully uploaded 3 new datasets to NeMO Analytics, but is encountering a problem when he tries to curate views of these datasets. Below i have included screen shots of the 3 datasets in the Dataset Explorer as well as a screen shot of where things stall for all 3 datstets in the curator. Basically, it never loads GeneSymbols for

[2021-06-28 16:00] carlocolantuoni commented on #153
the URLs for the 3 datasets are:
https://nemoanalytics.org/p?s=3ff685af
https://nemoanalytics.org/p?s=8352d6b5
https://nemoanalytics.org/p?s=79c7a289

[2021-06-28 16:01] carlocolantuoni commented on #153
yash and i have both tried to curate other datasets on our computers/browsers used for this and have no trouble getting GeneSymbols to come up for other datasets.

lets us know what else we can do to help.

thanks!

[2021-06-28 16:12] adkinsrs commented on #153
The POST request to the API route to get the dataset's genes is throwing an error.  I'm about to go onto the server and find out why

[2021-06-28 16:17] adkinsrs commented on #153
The error is `'DataFrame' object has no attribute 'gene_symbol'`

Looking at one of the datasets now.

[code]

The gene symbols were assigned to the index for the "anndata.var" dataframe, which is not what is expected.  Typically the Ensembl ID is assigned to the index and the gene symbols are assigned to a separated "gene_symbol" column.

@carlocolantuoni is it possible to see one of the original

[2021-06-28 17:29] carlocolantuoni commented on #153
hey shaun,
here is 1 of the tar balls yash uploaded

[2021-06-28 17:30] carlocolantuoni commented on #153
looks like i attached nothing - shaun is there a way i can send a file here in github or should i email t?

[2021-06-28 17:30] carlocolantuoni commented on #153
humvchimp.tar.gz
<https://drive.google.com/file/d/19Frl_-CH2H7xHRcrErf5Ahwi0hjPk2UU/view?usp=drive_web>
here is 1 of the tar balls yash uploaded

On Mon, Jun 28, 2021 at 12:17 PM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-06-28 17:31] carlocolantuoni commented on #153
sent an email with google drive attachment - looks like it worked in the link above - let me know if u can get the file

[2021-06-28 17:33] adkinsrs commented on #153
Received tarball... thanks!

[2021-06-28 18:27] adkinsrs commented on #153
@carlocolantuoni

In the genes.tab file, both the Ensembl ID and the gene_symbol need to be provided, like so (in this random genes.tab file I had on hand).

[code]

Lots of gEAR code relies on the "gene_symbol" column in the AnnData object, and if the "gene_symbol" column is the only column uploaded via the genes.tab file, then it is treated as the index column instead.  Can you and Yash make thi

[2021-06-28 18:46] carlocolantuoni commented on #153
will do thnx!

On Mon, Jun 28, 2021 at 2:27 PM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-07-02 17:32] carlocolantuoni commented on #153
it worked shaun!
thanks!

On Mon, Jun 28, 2021 at 2:27 PM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-07-02 17:35] #153 closed, assigned to adkinsrs, carlocolantuoni

[2021-07-15 21:55] carlocolantuoni opened #154 ""Save Display" button not working in view curator"
hey guys,
i have tried to edit the curated views for several datasets today and i can not save any edits. all the old view are there, i can create any new view i like, but when i click the Save Dsplay button nothing happens and when i go back and check nothing is saved.
any ideas whats up?
carlo

[2021-07-15 21:59] #92 closed

[2021-07-15 22:00] #102 closed

[2021-07-16 15:13] adkinsrs commented on #154
@carlocolantuoni I believe I have resolved the issue

There is a directory where, upon saving the dataset display, a static image of the plot is created for quicker previews.  However that directory's permissions were not open for the apache user.  I have adjusted permissions, and attempted a successful save of a display.

[2021-07-16 16:17] carlocolantuoni commented on #154
yes! it is saving now! thanks!!!!!

On Fri, Jul 16, 2021 at 11:13 AM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-08-20 04:52] carlocolantuoni commented on #154
hey shaun,
my collaborator Mae (NeMO Analytics username "seungmae@gmail.com") is having the same problem i was having with this issue - do the permissions need to be changed for individual users to solve the problem? or was it more global?
thanks,
calro

[2021-08-20 06:21] carlocolantuoni commented on #148
hey guys, i still cant display continuous variables as color in the colorized legend of static tsne/umap plots - am i missing something, or can we fix this?

[2021-08-20 12:17] adkinsrs commented on #148
Currently the static plots only supports a categorical variable in the colorized legend.  I believe Scanpy does not allow for continuous variable for colorized legends.  If you wish to do this, I would recommend making a dynamic tsne/umap plot

[2021-08-20 12:21] adkinsrs commented on #154
Think this may be a different issue.  Can you link the dataset this user is using?

[2021-08-21 04:38] carlocolantuoni opened #155 "oddity in coloring previews when curating violin plots"
hey gyus,
when i build violin plots and change the color of samples in a particular condition it changes the point colors but not the violin color as needed. if i just ignore it and save, this is corrected away in the actual display (i.e. the colors of the violins are what i asked for), so its not urgent - but i do think this could lead to some user confusion/frustration.
carlo

[2021-08-21 04:47] carlocolantuoni commented on #148
ok, thanks, but this is odd as i used to have several of these type of
plots working in the static tSNE visualizations.
i think this is functionality worth having in the static tSNEs, so maybe
i'll bring it up in a planning meeting
thanks shaun

On Fri, Aug 20, 2021 at 8:17 AM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-08-21 04:59] carlocolantuoni commented on #154
https://nemoanalytics.org/p?s=d15bdca0

[2021-08-23 04:27] carlocolantuoni opened #156 "cant generate permalink for new profiles"
hi guys,
when i hit the "share layout profile", it says "URL copied to clipboard", but when i paste all i get is:
https://nemoanalytics.org/p?l=undefined
am i doin something wrong?

[2021-08-23 04:36] carlocolantuoni commented on #156
it now appears to be working, but i was having a lot of trouble creating a new profile - it seemed to add many datasets to the new profile automatically - or i couldnt tell why lots of profiles were listed when i looked only for datasets in the profile. not sure what was going on - i was very confused.

[2021-08-23 04:36] #156 closed, assigned to adkinsrs

[2021-08-23 06:23] jorvis commented on #156
Carlo - Let me know if you want to have a call and screenshare issues here this week.

[2021-08-23 14:40] adkinsrs commented on #154
@carlocolantuoni do you know what type of plot your collaborator was trying to generate?  I generated a scatter plot with that dataset and was able to successfully save it.  Also, is there an extremely off-chance your collaborator had a NeMO tab open for a very long time (before the change was made)?

[2021-08-23 17:17] carlocolantuoni commented on #154
heres a screen cap - let me know if u need more.
ill ask about the NeMO tab open time.
[image: Screen Shot 2021-08-19 at 4.26.09 PM.png]

On Mon, Aug 23, 2021 at 10:40 AM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-08-23 17:44] adkinsrs commented on #154
Screenshot did not upload @carlocolantuoni.  I believe it is because you may have attached it via an email response rather than via the Github site directly

[2021-08-23 17:56] carlocolantuoni commented on #154
![Screen Shot 2021-08-19 at 4 26 09 PM](https://user-images.githubusercontent.com/33464702/130494150-58ef441d-0518-4581-81d4-cefad62f3e75.png)
ok - can u see this one?

[2021-08-23 18:16] adkinsrs commented on #154
Very small but yes I can see it

[2021-08-23 19:28] adkinsrs commented on #154
@carlocolantuoni I believe I have found the issue but it's a matter of how to correct it.

In the "save_dataset_displays.cgi" script, we generate the plot again and save that plot to image, but there seems to be an error thrown due to how cells with null expression are handled.  I'm looking into this now.  The plot generated for the user to view and the one generated for the saved image are genera

[2021-08-23 19:59] adkinsrs commented on #154
@carlocolantuoni mind trying again?  I found a setting in Plotly that might be useful.

[2021-08-23 20:15] carlocolantuoni commented on #154
will do

On Mon, Aug 23, 2021 at 3:59 PM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-08-23 20:17] carlocolantuoni commented on #154
my collaborator is trying again - here is another screen cap in case it helps
<img width="1938" alt="Screen Shot 2021-08-23 at 3 45 51 PM" src="https://user-images.githubusercontent.com/33464702/130513593-4ea288a9-b854-421d-99f8-66dcce1e0cdb.png">

[2021-08-23 20:18] carlocolantuoni commented on #154
wrong one - her is the new one

[2021-08-23 20:18] carlocolantuoni commented on #154
<img width="337" alt="Screen Shot 2021-08-23 at 3 45 59 PM" src="https://user-images.githubusercontent.com/33464702/130513691-d82ba8b9-903e-4355-937e-69f7455df7a9.png">

[2021-08-23 20:18] carlocolantuoni commented on #154
ill let you kno if it works for her

[2021-08-23 22:24] carlocolantuoni commented on #154
Thanks shaun!
Its working for her!

On Mon, Aug 23, 2021, 16:15 Carlo Colantuoni ***@***.***>
wrote:

[2021-08-24 13:51] #154 closed, assigned to jorvis, adkinsrs, carlocolantuoni

[2021-09-08 15:16] jorvis opened #157 "ASHG workshop topics"
Date: 12 - 1:30 PM EST
Max attendees: 200
Slide demo or live presentation, either works

Seth will be doing biological introduction

Brian will be covering NeMO Archive and Terra.

- Account creation
- Standard primary page steps
  - Basic gene search
  - Multi gene search / cart concept
  - Annotation section
  - Dataset in a box and profile concepts
  - Different display types
  - Mention or cov

[2021-09-10 13:21] brianherb commented on #152
favicon for cellxgene:
https://cellxgene.cziscience.com/e/c88e2a9c-72b8-4a88-a2f6-e428eada0c86.cxg/static/assets/favicon-16x16.png

or on grid at /local/projects-t3/idea/bherb/NeMO_work/cellxgene/favicon-16x16.png

[2021-09-10 13:56] brianherb commented on #152
favicon for Single cell portal:
https://singlecell.broadinstitute.org/single_cell/assets/scp_favicon-1d789652ef8c200e339a406bdb39d8caee8e3659cebd427b52998f88c9bf9235.ico

or on grid at /local/projects-t3/idea/bherb/NeMO_work/SingelCellPortal/SCP_favicon.ico

[2021-09-10 16:37] jorvis commented on #157
@brianherb I'm not sure if you guys have narrowed it down yet, but it would be helpful to know if there were specific datasets I should use for my walk-through steps.

[2021-09-13 16:29] brianherb commented on #152
Don't worry about Single cell portal for now - datasets have not been uploaded to that site yet. However, cellxgene is ready to go.

[2021-09-23 15:59] jorvis commented on #157
Closing this, as the workshop is complete.

[2021-09-23 15:59] #157 closed, assigned to jorvis, brianherb, hertzron

[2021-09-23 18:23] adkinsrs commented on #155
So it changes the jitter colors but not the violin?  That should be fixable.

[2021-09-23 21:16] carlocolantuoni commented on #155
yes thats right - i just checked and this is still the case

On Thu, Sep 23, 2021 at 2:23 PM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2021-10-04 18:50] jorvis commented on #152
I have added support for this (not visible until the next release) but have added a screenshot below.  This add support for CellxGene, Single-cell portal, and a 'general' class of links.  This can be expanded more as needed.

![Screenshot from 2021-10-04 13-43-40](https://user-images.githubusercontent.com/330899/135906921-fda662ae-d561-41bb-96ea-c3203909c8ce.png)

Links currently come from the dat

[2021-10-04 18:50] #152 closed, assigned to nobody

[2022-02-10 18:54] carlocolantuoni opened #158 "View curation unavailable?"
when trying to curate a new view of a dataset, NeMO logs me out and fails to load the view curation page.

currently i can not edit any existing or make any new views of any dataset.

i have seen this on multiple machines with multiple logons of different users.

[2022-02-10 18:56] adkinsrs commented on #158
I just pushed a fix to IGS/gEAR

Turns out one of the Javascript libraries (Vue JS) we were pulling into the curator page updated versions and broke things.

[2022-02-10 19:07] jorvis commented on #158
Do you think you can manually update those few files on NeMO?  We need to upgrade NeMO after this week of development too but it's a lot to do right now with all the new tables and everything.

[2022-02-10 19:08] adkinsrs commented on #158
certainly

[2022-02-10 19:14] adkinsrs commented on #158
@carlocolantuoni can you try again?

[2022-02-10 19:24] #158 closed, assigned to jorvis, adkinsrs

[2022-02-10 20:15] carlocolantuoni commented on #158
thanks for such a quick fix guys!
i'll ltest it now

[2022-02-10 20:17] carlocolantuoni commented on #158
sorry, just realizing you said it was fixed in gEAR but not NeMO yet - i'll wait to test

[2022-02-10 20:18] adkinsrs commented on #158
I manually fixed it in NeMO.  Joshua was referring to updating the NeMO codebase soon, which would override the manual fix.

[2022-02-10 20:20] carlocolantuoni commented on #158
great - thanks!!

On Thu, Feb 10, 2022 at 3:18 PM Shaun Adkins ***@***.***>
wrote:

--
Carlo

[2022-03-10 18:11] adkinsrs commented on #104
Closing in favor of IGS/gEAR#243

[2022-03-10 18:11] #104 closed

[2022-03-10 18:11] adkinsrs commented on #111
Closing in favor of IGS/gEAR#243

[2022-03-10 18:11] #111 closed