[2019-02-21 19:04] RLC-DCPPC opened #1 "Bob's first issue"
testing

[2019-02-21 19:15] RLC-DCPPC opened #2 "Fake Issue to test GH Transfer"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#15

[2019-02-21 19:35] RLC-DCPPC opened #3 "Map story about BICCN to needed datasets"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#1

Need a better description and an estimate (0,1/2,1,2,3,5,8,13,20,40,100).

Assign to brianherb

[2019-02-21 19:37] RLC-DCPPC commented on #3
- [ ] assign to brianherb
- [ ] ToDo in Sprint 2

[2019-02-21 19:47] RLC-DCPPC opened #4 "Map story about Pou3f2 to needed datasets"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#2

Top-level issue to contain sub-tasks:

- [ ] in vivo cortex development bulk RNA-seq (#8)
- [ ] in vivo cortex development single-cell RNA-seq (#9)
- [ ] stem cell models of human cortex development (bulk RNA-seq/microarrays) (#10)
- [ ] stem cell models of human cortex development single-cell RN

[2019-02-21 19:49] RLC-DCPPC commented on #4
- [ ] assign to seth
- [ ] copy comments

[2019-02-21 19:51] RLC-DCPPC commented on #4
1. in vivo cortex development bulk RNA-seq
1a. BrainSpan DLPFC bulk RNA-seq
1b. LIBD BrainSeq DLPFC data
1c. non-human primate laser microdissection (gene expression microarrays)

2. in vivo cortex development single-cell RNA-seq
2a. Kriegstein "6k" human cortex development single-cell RNA-seq (SMART-seq)
2b. Darmanis/Quake human cortex development single-cell RNA-seq (SMART-seq)
2c. Kriegstein 10

[2019-02-21 19:53] RLC-DCPPC opened #5 "Standardize metadata"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#3

- [ ] Need a better description and an estimate (0,1/2,1,2,3,5,8,13,20,40,100).

- [x] Assign to carlo and joshua

we need (Kriegstien and Brainspan) - need vector based tSNE (JO

[2019-02-21 19:56] RLC-DCPPC commented on #5
- [ ] assign to carlo
- [ ] add to ToDo in Sprint 2

[2019-02-21 19:57] RLC-DCPPC opened #6 "Write converter"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#4

- [ ] Need a better description and an estimate (0,1/2,1,2,3,5,8,13,20,40,100).

- [ ] Assign to carlo and apaala
- [ ] add to ToDo in Sprint 2

[2019-02-21 20:01] RLC-DCPPC commented on #6
Comment History:

Seth: This task is dependent on the completion of metadata standards for NeMO (NEMO-57) and is closely related to NEMO-56 (mapping of these same non-BICCN datasets to BCDC standards.

[2019-02-21 20:03] RLC-DCPPC opened #7 "Collect bulk data for Pou3f2 - include epigenomic data"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#6

Need a better description and an estimate (0,1/2,1,2,3,5,8,13,20,40,100).

Assign to Alex

[2019-02-21 20:04] RLC-DCPPC commented on #7
- [] move to InPRogress in Sprint 2

[2019-02-21 20:05] RLC-DCPPC opened #8 "Re-integrate Epiviz into gEAR"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#5

Need a better description and an estimate (0,1/2,1,2,3,5,8,13,20,40,100).

Assign to Carlo and the gEAR team (Joshua, to start)

[2019-02-21 20:07] RLC-DCPPC commented on #8
- [ ] assign to jayaram ?

[2019-02-21 20:08] RLC-DCPPC opened #9 "in vivo cortex development bulk RNA-seq"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#8

Sub-task of #4

 - [ ]   1a. BrainSpan DLPFC bulk RNA-seq
 - [ ]  1b. LIBD BrainSeq DLPFC data
 - [ ]  1c. non-human primate laser microdissection (gene expression microarrays)

[2019-02-21 20:13] RLC-DCPPC opened #10 "in vivo cortex development single-cell RNA-seq"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#9

 Sub-task of #2
 - [ ]   2a. Kriegstein "6k" human cortex development single-cell RNA-seq (SMART-seq)
 - [ ]   2b. Darmanis/Quake human cortex development single-cell RNA-seq (SMART-seq)
 - [ ]   2c. Kriegstein 10x human DLPFC development single-cell RNA-seq (10x)

[2019-02-21 20:15] RLC-DCPPC opened #11 "stem cell models of human cortex development (bulk RNA-seq/microarrays)"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#10

Sub-task of #2

- [ ]   3a. CORTECON
- [ ]   3b. POU3F2 over-expression in neural progenitors (Pearl et al. in press)

[2019-02-21 20:17] RLC-DCPPC opened #12 "stem cell models of human cortex development single-cell RNA-seq"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#11

Sub-task of #2
    [several datasets in this space -- maybe choose 1-2]
- [ ]   4a. Vaccarino PsychENCODE 2018 organoids
- [ ]   4b. ...

[2019-02-21 20:20] RLC-DCPPC opened #13 "in vivo epigenomics data"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#12

sub-task of #2
- [ ]    5a. human DLPFC ATAC-seq CP vs. VZ (Geschwind Cell 2018; ATAC-seq)
- [ ]   5b. ROADMAP fetal brain chromatin states

[2019-02-21 20:31] RLC-DCPPC opened #14 "Create sample bigwig and bigbed files"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#13

create some sample bigwig and bigbed files from NeMO dato to test ingest in to EpiVIZ

zhang data?

[2019-02-21 20:32] RLC-DCPPC commented on #14
- [ ] assign to apaala
- [ ] put InProgress in Sprint 2

[2019-02-21 20:33] RLC-DCPPC opened #15 "tabix for gene expression"
From NeMO-Analytics created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : RLC-DCPPC/NeMO-Analytics#14

Placeholder to make sure we discuss this.

[2019-02-26 16:19] RLC-DCPPC opened #16 "document process for uploading NeMO data into gEAR"
We need to discuss and document the process of getting data from NeMO (Archive?) into gEAR. Which scripts/cronjobs? how often? which directories? which file types? etc.

[2019-02-26 16:56] RLC-DCPPC opened #17 "Ingest Kriegstein 10X data"
From NeMO created by [seth-ament](https://github.com/seth-ament) : jorvis/NeMO#18

[2019-02-26 16:57] RLC-DCPPC commented on #17
For pre-merge comment trail see original issue linked in description.

[2019-02-26 17:00] RLC-DCPPC opened #18 "Ingest Development Data"
From NeMO created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : jorvis/NeMO#9

Subtask of (https://github.com/jorvis/NeMO/issues/1)

- [ ] Ingest Development Data

[2019-02-26 17:01] RLC-DCPPC commented on #18
For pre-merge comment trail see original issue linked in description.

[2019-02-26 17:03] RLC-DCPPC opened #19 "Ingest BrainSpan"
From NeMO created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : jorvis/NeMO#4

Subtask of (https://github.com/jorvis/NeMO/issues/1)

- [ ] Ingest BrainSpan

[2019-02-26 17:03] RLC-DCPPC commented on #19
For pre-merge comment trail see original issue linked in description.

[2019-02-26 17:03] RLC-DCPPC opened #20 "Ingest Kriegstein 6K Science Paper Singler Cell"
From NeMO created by [RLC-DCPPC](https://github.com/RLC-DCPPC) : jorvis/NeMO#3

Subtask of (https://github.com/jorvis/NeMO/issues/1)

- [ ] Ingest Kriegstein 6K Science Paper Singler Cell

[2019-02-26 17:04] RLC-DCPPC commented on #20
For pre-merge comment trail see original issue linked in description.

[2019-02-26 17:04] RLC-DCPPC opened #21 "Ingest Geschwind PFC ATACseq"
From NeMO created by [amahurkar](https://github.com/amahurkar) : jorvis/NeMO#2

Subtask of (https://github.com/jorvis/NeMO/issues/1)

- [ ] Ticket to track the ingest of Geschwind PFC ATACseq data.

[2019-02-26 17:05] RLC-DCPPC commented on #21
For pre-merge comment trail see original issue linked in description.

[2019-02-27 17:21] jorvis commented on #6
Requirements for this script/converter for clarity.

This will be a python3-based script, executed via cron, which uses the gEAR API to process data files deposited in the NeMO incoming directory hierarchy, convert them to H5AD, and migrate necessary files to the NeMO-analytics instance of gEAR in Google Cloud.

More specifically

1.  Recursively seek through the base directory /local/encrypted/NE

[2019-02-27 19:30] jorvis opened #22 "Define expression matrix file format standard"
By default the files for a sample will be stored as a tarball with the following files.  The tarball itself should be called:  IDxxxx.tar.gz

**Core:**

IDxxxx_DataMTX.tab - They primary data matrix. Row keys should be Ensembl IDs where possible.  Otherwise they are keyed on gene symbol and will be mapped to Ensembl IDs during H5AD conversion.

IDxxxx_ColMeta.tab - Metadata for each column from th

[2019-02-28 03:47] carlocolantuoni commented on #18
The final (i think) version of the files for this first development data set (control bulk DLPFC RNAseq from the Lieber Inst.) are now in: "/local/encrypted/NEMO/incoming/brain/development/LIBD/DLPFCcon322polyAgeneLIBD/"

This includes the new location requested by Anup, the additional naming conventions requested by Anup, and the analytics/dimension reduction meta data files requested by Hector.

[2019-02-28 15:48] RLC-DCPPC opened #23 "Demo datasets to load"
Kriegstein 10x

[2019-02-28 15:51] RLC-DCPPC commented on #23
bed and wig file to apaala (alex) - epigenome track for epiviz

[2019-02-28 15:54] RLC-DCPPC commented on #16
duplicate. close

[2019-02-28 15:54] #16 closed

[2019-02-28 15:56] brianherb commented on #23
Test scRNA dataset from Kriegstein 10X samples:

Location of data on grid:
/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR/GW18_PFC.h5ad

Metadata:
[GW18_PFC_metadata.xlsx](https://github.com/nemoarchive/analytics/files/2915779/GW18_PFC_metadata.xlsx)

[2019-03-01 02:31] carlocolantuoni commented on #22
@jorvis @RLC-DCPPC @amahurkar
@nemoarchive/nemoanalytics

The final (i think) version of the files for this first development data set (control bulk DLPFC RNAseq from the Lieber Inst.) are now in: "/local/encrypted/NEMO/incoming/brain/development/LIBD/DLPFCcon322polyAgeneLIBD/"

This includes the new location requested by Anup, the additional naming conventions requested by Anup, and the analytics

[2019-03-04 18:59] jorvis commented on #22
OK, the only issues I see in this folder currently are:

- Files have .txt suffixes which aren't descriptive.  These all appear to be tab-delimited, so should have the .tab extension.
- Files such as the matrix file still have embedded quotes.  This causes importing software to treat them as string values rather than floats.
- I don't see the metadata.json file.

[2019-03-04 19:30] casalex commented on #23
@apaala, remind me if these can be regular .bed files or if they should be bigBed?

[2019-03-04 19:52] apaala commented on #23
@casalex I think they need to be bigbeds, right @jkanche ?

[2019-03-05 15:41] casalex commented on #23
bigbeds can be found here: /local/projects-t3/idea/acasella/NeMO/data/roadmap_epi/narrowPeaks_bigbed

[2019-03-05 15:55] jorvis commented on #17
Under which named profile for the front page should this dataset be loaded?

[2019-03-06 02:17] carlocolantuoni commented on #22
@nemoarchive/nemoanalytics @jorvis @RLC-DCPPC

ok - i have corrected the 1st 2 of the 3 issues joshua mentioned above.

i created the "DLPFCcon322polyAgeneLIBD_EXPmeta.tab" file to contain the same info as the"metadata_template.xls" gEAR template.

can i just name this tab-delimited text file "metadata.json", or is .json some special format?

[2019-03-06 04:12] jorvis commented on #17
@RLC-DCPPC is Brian H. not part of this Nemo Analytics project?  He created all the notes from the source of this ticket:

https://github.com/jorvis/NeMO/issues/18

But I had further questions and can't tag him here.

From that ticket I see a directory of 41 different files to load.  Which are part of this ticket?

/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/pro

[2019-03-06 04:28] jorvis commented on #22
Yes, JSON is a special format common in both web programming and back-end storage.  Most languages have libraries for parsing it quickly while at the same time being easy to manually edit with text editors.

- [Official specs](https://www.json.org/)
- [More accessible example](https://developers.squarespace.com/what-is-json)

I've attached my manual conversion of your file mentioned above with its

[2019-03-06 14:49] apaala commented on #23
We need some information in order to maintain the directory structure, @casalex do you know what method was used for this data?

[2019-03-06 14:52] apaala commented on #23
The way the directory structure is to be set up is : /local/projects-t3/NEMO/dmz/other/grant/epigenome_roadmap/epigenome_roadmap/*modality*/bulk/processed/align

I am trying to figure out what modality would be. Once I have that I will create the directory.

[2019-03-06 15:01] apaala commented on #22
Just to clarify, the tarball the converter script is looking for will contain the following files:

 DLPFCcon322polyAgeneLIBD_COLmeta.tab
 DLPFCcon322polyAgeneLIBD_DataMTX.tab
 DLPFCcon322polyAgeneLIBD_ROWmeta.tab
 DLPFCcon322polyAgeneLIBD_EXPmeta.json

The converter should fail if all 4 of these files aren't within the tarball.
The rest of the files will be optional and outside of the tarball. Do

[2019-03-06 16:27] carlocolantuoni commented on #22
yes all right - last piece is for me to figure out how to generate the
.json format and then we r a go.
ill le t you kno wen thats done.

On Wed, Mar 6, 2019 at 10:05 AM apaala <notifications@github.com> wrote:

--
Carlo

[2019-03-06 18:09] carlocolantuoni commented on #22
ok,

i think i have it all done now.
take a peek at the .json file to make sure it will work.

joshua - the only differences between your manual example and mine that i
can generate automatically in R using the "rjson" library are:
1] mine has double instead of single quotes
2] each element of the "tags" field is on a different line (but all the
other delimiters look good)

let me kno if this work

[2019-03-06 20:47] apaala commented on #23
@casalex do you know what the modality of the data is? Is it methylation?

[2019-03-06 21:16] casalex commented on #23
These particular ones are ChIP-seq I believe. If you need more detailed info info it can be found in the metadata.tsv file in the same directory--I would look at the "Assay" and the "Experiment target" fields in particular. Let me know if that works!

[2019-03-07 13:40] jorvis commented on #22
That's all completely fine.  In JSON whitespace is ignored between elements.

[2019-03-07 14:54] apaala commented on #6
Script is going to look for a tar ball in directories parsed out of .diff files generated by Shaun script. That tar ball needs to contain the 3 tab files and 1 metadata.json file. After discussion yesterday with @jorvis , it is my understanding that the script does not need to account for untarred tab files and xlxs files.

[2019-03-07 14:58] apaala commented on #17
@jorvis, @RLC-DCPPC is going to reach out to Victor to add him to this repo

[2019-03-07 15:35] carlocolantuoni commented on #22
Great, then that 1st data set should be ready to bring into gEAR/analytics.

I will work on more now

On Thu, Mar 7, 2019, 08:40 Joshua Orvis <notifications@github.com> wrote:

[2019-03-07 15:59] jorvis commented on #8
Demo files for <div> injection from @jkanche:

https://obj.umiacs.umd.edu/epiviz-gear/epiviz-gEAR.zip

[2019-03-12 13:48] apaala commented on #23
@jkanche Here is the path to big beds http://data.nemoarchive.org/other/grant/epigenome_roadmap/epigenome_roadmap/chipseq/bulk/processed/align/

[2019-03-12 14:08] apaala commented on #6
As per the latest conversations the script needs to deal with 2 types of tar.gz:
1. sample_or_name.mex.tar.gz
2. sample_or_name.3tab.tar.gz

The first carries matrix.mtx, barcodes.tsv, genes.tsv, metadata.json and will use the mexuploader to convert to h5ad. The second has the DataMTX.tab, ROWmeta.tab, COLmeta.tab and EXPmeta.json and will use the 3tabuploader to convert to h5ad.
The files will be

[2019-03-12 14:47] jorvis commented on #6
Yes, except the file names will have experimental ID prefixes.  Detailed [here](https://github.com/nemoarchive/analytics/issues/22#issue-415289464).

[2019-03-12 14:48] #22 closed

[2019-03-12 14:52] jorvis commented on #17
Closing this as loading notes are also in issue #23 but with epigenetic data too

[2019-03-12 14:52] #17 closed

[2019-03-13 06:17] carlocolantuoni commented on #18
@RLC-DCPPC @jorvis
this first data set is now complete and ready for tar balling and h5ing.
i am also working on the kriegstein 6k dataset in #20
i will add others this week and next

[2019-03-13 06:20] carlocolantuoni commented on #20
@RLC-DCPPC @jorvis
this is done and is at:
/local/encrypted/NEMO/incoming/brain/development/ARK/ARKctxDevo3Ksc

[2019-03-13 17:36] casalex commented on #23
@apaala I subsetted the metadata--updated file is /local/projects-t3/idea/acasella/NeMO/data/roadmap_epi/narrowPeaks_bigbed/metadata.tsv

[2019-03-16 03:02] brianherb commented on #23
Hi Josh-

I have prepped 3 new Kriegstein 10X datasets for ingest (Anup mentioned there was a push for next Monday 3/18). I created a .h5ad file and .json metadata file for each

Directory:
/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR

Files:
CS22_PFC.h5ad
CS22_PFC_meta.json

GW19_PFC_all.h5ad
GW19_PFC_all_meta.json

GW22_PFC.h5ad
GW22_P

[2019-03-18 12:50] carlocolantuoni commented on #23
@RLC-DCPPC @brianherb @jorvis @casalex @apaala
i have put 2 new data sets into incoming, between these and those brian has put up, i think we have all the developmental data sets we need in for the upcoming demo.
/local/encrypted/NEMO/incoming/brain/development/NSCI/Cortecon/
/local/encrypted/NEMO/incoming/brain/development/Broad/scESCdifBifurcCelSeq2k/

[2019-03-18 12:53] jorvis commented on #23
And what should the profile be named on the front page with all of these in them?

[2019-03-18 12:55] carlocolantuoni commented on #23
Neocortical Development

On Mon, Mar 18, 2019 at 8:53 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2019-03-18 13:07] jorvis commented on #23
@brianherb I don't see an h5ad file for CS22_PFC in that directory.

[2019-03-18 13:18] jorvis commented on #23
@carlocolantuoni checking into the first of these (Cortecon) and the data matrix isn't indexed on gene symbol OR ensembl ID.  They're just numeric values.

[2019-03-18 14:11] seth-ament commented on #23
Hi Josh,

The rows in the data matrix should be in the same order as the rows metadata file that Carlo provided in the same directory. Please go ahead and make any necessary conversions in file format and get this loaded today.

Thanks!

Seth

________________________________
From: Joshua Orvis <notifications@github.com>
Sent: Monday, March 18, 2019 9:18 AM
To: nemoarchive/analytics
Cc: Subscribed

[2019-03-18 15:14] jorvis opened #24 "Load Cortecon dataset"
Shifted from issue #23 , keeping notes here on loading The Cortecon dataset.  From Carlo:

/local/encrypted/NEMO/incoming/brain/development/NSCI/Cortecon/

[2019-03-18 15:15] jorvis opened #25 "Load scESCdifBifurcCelSeq2k dataset"
Shifted from issue #23 , keeping notes for this dataset here.

[2019-03-18 15:20] jorvis commented on #24
This dataset lacked Ensembl IDs so I'm doing a mapping based on gene symbols.  It has 44562 gene rows, but comparing these names with all Ensembl releases between 74 - 94 the best match is release 76, in which 23404 of the genes are accounted for.  That seems like a lot, but when I look at the gene symbol column in the source file 21672 of them have 'NA' as the gene symbol.

@seth-ament - OK to lo

[2019-03-18 15:33] brianherb commented on #23
@jorvis  - CS22_PFC.h5ad exists now -

[2019-03-18 17:22] carlocolantuoni commented on #23
Those numbers are EntrezGene IDs

On Mon, Mar 18, 2019, 09:18 Joshua Orvis <notifications@github.com> wrote:

[2019-03-18 17:23] carlocolantuoni commented on #23
Gene symbols are in the ROWmeta file

On Mon, Mar 18, 2019, 13:22 Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

[2019-03-18 17:24] carlocolantuoni commented on #24
I think thats fine

On Mon, Mar 18, 2019, 11:20 Joshua Orvis <notifications@github.com> wrote:

[2019-03-18 18:17] seth-ament commented on #24
Yes, please go ahead and upload with all the genes you've been able to map.

________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Monday, March 18, 2019 1:25 PM
To: nemoarchive/analytics
Cc: Seth Ament; Mention
Subject: Re: [nemoarchive/analytics] Load Cortecon dataset (#24)

I think thats fine

On Mon, Mar 18, 2019, 11:20 Joshua Orvis <notifications@github.com>

[2019-03-18 20:48] jorvis commented on #24
This one is loaded and placed into the Neocortical Development profile.

[2019-03-18 20:48] #24 closed

[2019-03-18 20:57] jorvis commented on #23
@brianherb thanks, all three of those are now loaded.

[2019-03-18 21:26] seth-ament commented on #24
Hi Joshua,

Looks nice! And thanks for getting the quantitative x-axis working!

Who has permissions to set the default view for these datasets? I tried to set up the CORTECON dataset with violin plots as the default, but I can't figure out now to save my view.

Thanks!

Seth

________________________________
From: Joshua Orvis <notifications@github.com>
Sent: Monday, March 18, 2019 4:48 PM
To: ne

[2019-03-18 21:31] jorvis commented on #24
The quantitative X-axis support shouldn't be ready yet unless Brian G. snuck it in without me noticing.

And the dataset owner has the rights to set the default views for them.  I just ran through and set default violin profiles on them all for now.  Do you want me to change the ownership to you instead?

[2019-03-18 21:38] seth-ament commented on #24
Hi Joshua,

Could you make Brian H. the owner for the 10x datasets and me the owner for CORTECON?

Thanks!

Seth

________________________________
From: Joshua Orvis <notifications@github.com>
Sent: Monday, March 18, 2019 5:31 PM
To: nemoarchive/analytics
Cc: Seth Ament; Mention
Subject: Re: [nemoarchive/analytics] Load Cortecon dataset (#24)

The quantitative X-axis support shouldn't be ready yet

[2019-03-18 22:02] jorvis commented on #24
Done.   There's a bit of a flow issue after you make the layout where you have to go back into it in order to choose a default layout.  Brian G will be fixing that.

[2019-03-19 14:13] jkanche commented on #15
@apaala , here's the link to the rna-seq file I used to generate the tabix index (for the script i sent you)

https://obj.umiacs.umd.edu/bigwig-files/rna.txt

[2019-03-22 01:38] seth-ament opened #26 "gear-devel.nemoarchive.org site flagged as not secure"

[2019-03-22 01:39] seth-ament commented on #26
When loading the page one gets a warning from Chrome, since the certificate is from umgear.org.

[2019-03-22 02:15] seth-ament opened #27 "cosmetic changes to nemo analytics front page"
- [x] Create a NeMO Analytics logo (presumably closely related to the NeMO Archive logo) --> task for Lance?
- [x] Switch "home" button logo in upper-left corner from gEAR to NeMO Analytics logo
- [x] List NeMO funding sources at the bottom of the home page: 1R24MH114815-01A1, 1R24MH114788-01
- [x] "Highlighted dataset" on front page is a cochlea dataset from gEAR...
- [x] The "About" paragraph at

[2019-03-22 02:41] seth-ament opened #28 "Can't save displays in Dataset Curator"
I am trying to use the Curate tool to create a display for the CORTECON dataset (H9 ESC neural differentiation RNA-seq). It allows me to select violin plot, choose a gene (EOMES), and the grouping variable (day). However, the dialog box to name the display and save it does not appear.

I checked and these features seem to be working fine at umgear.org, so it may be an issue specific to nemoanalyti

[2019-03-25 02:36] carlocolantuoni commented on #28
I have the same problem as well

On Thu, Mar 21, 2019, 22:41 Seth Ament <notifications@github.com> wrote:

[2019-03-25 04:10] jorvis opened #29 "Add Brian G as collaborator"
Bob - Could you please add Brian Gottfried (GitHub ID: briangottfried) as a collaborator to this project so I can assign tickets to him which relate to his gEAR work?

[2019-03-26 14:52] RLC-DCPPC commented on #29
Done. I see him in the assignee list.

[2019-03-26 14:52] #29 closed

[2019-03-26 15:07] seth-ament commented on #28
This appears to be resolved as of this morning.

[2019-03-26 15:07] #28 closed

[2019-03-26 15:16] seth-ament opened #30 "add external resource links"

[2019-03-26 15:21] seth-ament commented on #30
1) Remove link to SHIELD
2) Change ENSEMBL link so that it links to the human (rather than mouse) gene
3) Change UniProt link so that it links to the human rather than mouse gene
4) Add link to CORTECON: http://cortecon.neuralsci.org
5) Add link to UCSC Cell Browser: https://cells.ucsc.edu/?ds=cortex-dev
6) Add link to BrainSpan: http://www.brainspan.org/rnaseq/search/index.html

[2019-03-26 15:43] jorvis commented on #24
This has been loaded for a while, but closing and attaching notes file here.
[Cortecon.NOTES.txt](https://github.com/nemoarchive/analytics/files/3008896/Cortecon.NOTES.txt)

[2019-03-26 15:52] jorvis commented on #25
@carlocolantuoni I'm a little confused about this dataset - What do you imagine its primary display method to be?  The column metadata file has no grouping columns or any with continuous data for XY scatter.  I'm going to keep loading it in case tSNE will be the main display, but was just curious.

[2019-03-26 16:10] seth-ament commented on #25
Hi Josh,

Yes, the primary display for this would probably be tSNE.

Carlo, is there a published clustering / tSNE view of the dataset to which you have access, or will be need to cluster it ourselves?

[2019-03-26 16:12] seth-ament opened #31 "Annotate Kriegstein 10x datasets"

[2019-03-26 16:17] seth-ament commented on #31
We need to create default views for the Kriegstein 10x datasets. This involves clustering the data in a way we are satisfied with and labeling each of the clusters. I've been playing with the tools available in the single-cell workbench, but it will require some significant effort to do well and may require comparison tools that are not yet implemented in gEAR. I think our best bet will be to comp

[2019-03-26 16:22] seth-ament commented on #24
I have added a default view for this dataset. (violin plot with a quantitative x-axis)

[2019-03-26 16:24] brianherb commented on #31
Might be best for me to take the first stab at it and have you guys check the result. Yes no?

[2019-03-26 16:31] seth-ament commented on #31
Sounds good.

Some initial thoughts. As I mentioned, I think our goal should be to annotate relative to the cell types in the k6k dataset. I doubt we'd be able to reproduce the finer subtypes, but let's aim at assigning the cells to the following types: RG, IPC, MGE-IPC, IPC-nEN, nEN, nIN, IN, EN, Microglia (potentially also Astrocyte and OPC). Can you collapse the k6k WGCNA clusters to derive eac

[2019-03-26 17:49] carlocolantuoni commented on #31
Sounds good, working from 6k clusters is the way to do this.

On Tue, Mar 26, 2019, 12:31 Seth Ament <notifications@github.com> wrote:

[2019-03-26 17:57] carlocolantuoni commented on #25
There are tSNE1 and tSNE2 columns in the the COLmeta, but the PCA is
actually ideal for this dataset which is in the COLmeta_DIMRED_PCA which is
a file not currently brought into gEAR. If its a pain to bring that in we
can use tSNE.

On Tue, Mar 26, 2019, 12:10 Seth Ament <notifications@github.com> wrote:

[2019-03-26 18:35] brianherb commented on #31
should be able to cluster by major type - Questions/Clarifications:

Combine EN-PFC with EN-V1 ?
Combine IN-CTX with IN-STR ?
Is MGE-IPC distinct from MGE-div and MGE-RG?
Combine nEN-early with nEN-late?
Combine RG-div with RG-early?
Not used : Choroid, Endothelial, Glyc, MGE-div, MGE-RG, Mural, oRG, tRG, U, vRG

[2019-03-26 19:08] jorvis commented on #25
Initial load of this dataset is complete (owned by Seth), and I've added it to the Neocortical Development profile.  I'll continue working on the tSNE (and possibly PCA) bits.

[2019-03-26 20:34] seth-ament commented on #31
Combine EN-PFC with EN-V1 ?
*yes
Combine IN-CTX with IN-STR ?
*yes
Is MGE-IPC distinct from MGE-div and MGE-RG?
*I think these are distinct, but not sure by how much. In theory, we should actually have MGE in the cortex dissections, so hopefully there aren't a lot of cells with these annotations.
Combine nEN-early with nEN-late?
*For now, yes. I think these will be pretty subtle, so hard to pull o

[2019-03-26 21:01] brianherb commented on #31
Thank you!

[2019-03-27 01:02] carlocolantuoni commented on #9
i cant still see this data set (DLPFCcon322polyAgeneLIBD) in
gear-devel.nemoanalytics

On Wed, Feb 27, 2019 at 2:09 PM Bob Carter <notifications@github.com> wrote:

--
Carlo

[2019-03-27 13:54] jorvis opened #32 "Add support for pre-computed tSNE"
When this is done, we also need to load into the following datasets:

- [x] #25 scESCdifBifurcCelSeq2k
- [x] #20 ARKctxDevo3Ksc

[2019-03-27 13:55] jorvis commented on #20
Comment from Carlo in the older ticket (jorvis/NeMO#3)

"I cant see this data set (ARKctxDevo3Ksc) in gear-devel.nemoanalytics - or
the tSNE type scatter plot in the curator that we need for this data as
well as for the Kriegstein 10x data sets (4) and the scESCdifBifurcCelSeq2k"

[2019-03-27 13:57] jorvis commented on #23
Closing this as I believe all primary datasets have been loaded.  Loading of pre-computed tSNE is to be tracked in #32 .  For any other dataset needs please create individual tickets.  These multi-load tickets are too hard to track progress in.

[2019-03-27 13:57] #23 closed

[2019-03-27 15:39] apaala commented on #14
The zeng bigwigs I had deposited in incoming have not been pushed to DMZ yet. The directory structure exists but there are no files:
/local/projects-t3/NEMO/dmz/brain/biccn/grant/zeng/zeng/transcriptome/scell/SMARTer/processed/bigwig/MOs/
Shaun said they would be pushed into dmz next time he performs a bundle.

RoadMap bigbeds:
/local/projects-t3/NEMO/incoming/brain/other/grant/epigenome_roadmap/e

[2019-03-27 15:39] seth-ament opened #33 "Ingest POU3F2 over-expression dataset"

[2019-03-27 15:40] seth-ament commented on #33
Carlo -- can you take care of this one?

[2019-03-27 17:21] carlocolantuoni commented on #32
I think cortecon is in already, that the in vitro bulk neural
differentiation

On Wed, Mar 27, 2019, 09:54 Joshua Orvis <notifications@github.com> wrote:

[2019-03-27 17:21] carlocolantuoni commented on #33
Yes

On Wed, Mar 27, 2019, 11:40 Seth Ament <notifications@github.com> wrote:

[2019-03-27 19:52] jorvis commented on #32
First tested (in Jupyter) version of a script to add this support is here:

https://github.com/jorvis/gEAR/commit/53c8a7175ae64230fcc59cf3afac9ff0fbb258f6

[2019-03-27 21:00] brianherb commented on #31
Hi all,

I'm attaching two tsne plots - GW19_PFC and GW22_PFC to see what you think of the cell scoring / Cell type assignments. My next step is to determine a consensus cell type for each louvain group. For now, I had to kick out the cell type nIN because it scored high for all cells which doesn't make sense and as such kills my script. Tell me what you think.

[tsneGW19_PFC_all_louvain_Cell_Assi

[2019-03-27 21:17] seth-ament commented on #31
To my eye, the GW19 clustering is spot on.

The cell assignments in GW22 look a bit messier, but probably still good enough to name the clusters? It would be helpful to see a set of marker genes for each of these clusters, especially pairwise among clusters where we see mixed assignments. Carlo, you know these samples a lot better than me. Do you have a sense for the distributions of cell types in

[2019-03-28 01:52] carlocolantuoni commented on #31
i agree with everything you say here - 19 looks clear - really cool
actually, but 22 muddled. and as u also say, we need some marker genes to
get confidence in clusters.

for our purposes with the demo coming up i think using 1 of the 10x data
sets is fine - we can figure out whats going on in more runs later.

so lets use the 3.4k (and the 19GW) to get cell types and markers and then
jump into LI

[2019-03-28 01:59] carlocolantuoni commented on #31
looking back at my projection of these 10x runs into the earlier kriegstein
300 single cell PCA (colored by yPAX6 - see below), we can see that the
19gw data look much clearer across these dimensions that distinguish
precursors left/top from neurons right/bottom cloud. the precursor
population at 22gw is much more condensed and less distinct from the
neurons:
[image: image.png]
[image: image.png]

[2019-03-28 02:01] carlocolantuoni commented on #31
having said all these negative things about the gw22 - it is very
encouraging that the general RG-IPC-nN-N progression is recognizable in
both 19gw and 22gw, even if it is much clearer in 19gw

On Wed, Mar 27, 2019 at 10:01 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2019-03-28 12:02] brianherb commented on #31
To Carlo's question regarding SOX2 and EOMES expression - EOMES appears to mark most IPC, and SOX2 is much lower in IPC-nEN compared to IPC- div. I'll work on generating lists of markers.

[tsneGW19_PFC_louvain_Cell_Assignment_SOX2_EOMES.pdf](https://github.com/nemoarchive/analytics/files/3017777/tsneGW19_PFC_louvain_Cell_Assignment_SOX2_EOMES.pdf)
[tsneGW22_PFC_louvain_Cell_Assignment_SOX2_EOMES.

[2019-03-28 14:52] brianherb commented on #31
Here is something to consider - I've now identified the consensus Cell Type per louvain group - obviously this looks cleaner. This is, in a way, closer to typical pipelines, i.e. to first identify louvain groups then call a Cell Type for each louvain group.

Note that I was very hands-off with this analysis  - I ran both samples with the same clustering  parameters. These clusters/scoring could be

[2019-03-28 14:55] seth-ament commented on #31
I like this a lot, Brian. I think I would make one further extension, which would be to respect the cluster boundaries from Louvain. So if we have two clusters that correspond to IPC-div, we name them IPC-div-1 and IPC-div-2. Does that make sense?

[2019-03-29 01:38] jkanche commented on #14
@apaala, Those two formats work on epiviz. Having some metadata/annotations on these files would be helpful.

[2019-03-29 01:44] jkanche commented on #14
@casalex or @apaala , can you post the link to the processed chromHMM tracks here ?

[2019-03-29 04:30] carlocolantuoni commented on #33
POU3F2oe data is at:
/local/encrypted/NEMO/incoming/brain/development/Sament/POU3F2oeNPC/

On Wed, Mar 27, 2019 at 1:21 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2019-03-29 13:01] brianherb commented on #31
We can refine this, but for now I just merged the Cell Type and original louvain group number for the name. Coloring isn't fabulous and can be edited if needed.

[tsneGW19_PFC_louvain_plus_Cell_Assignment_SOX2_EOMES.pdf](https://github.com/nemoarchive/analytics/files/3022720/tsneGW19_PFC_louvain_plus_Cell_Assignment_SOX2_EOMES.pdf)
[tsneGW22_PFC_louvain_plus_Cell_Assignment_SOX2_EOMES.pdf](https:/

[2019-03-29 13:40] brianherb commented on #31
Here are top gene lists for both combined groups of Cell Types (*_Louvain_Consensus.xlsx) and Cell Types stratified by original (*_Louvain_Cons_All.xlsx)

[GW19gear2_cell_type_marker_genes_Louvain_Cons_All.xlsx](https://github.com/nemoarchive/analytics/files/3022866/GW19gear2_cell_type_marker_genes_Louvain_Cons_All.xlsx)
[GW19gear2_cell_type_marker_genes_Louvain_Consensus.xlsx](https://github.com/

[2019-03-29 13:56] jorvis commented on #25
Adding notes and closing, since the tSNE support is being tracked in task #32

[2019-03-29 13:56] jorvis commented on #25
[scESCdifBifurcCelSeq2k.NOTES.txt](https://github.com/nemoarchive/analytics/files/3022927/scESCdifBifurcCelSeq2k.NOTES.txt)

[2019-03-29 14:47] apaala commented on #14
@jkanche Im not sure what chromHMM data you are talking about. If it is the Roadmap data, then you should be able to access it here:
http://data.nemoarchive.org/other/grant/epigenome_roadmap/epigenome_roadmap/chipseq/bulk/processed/align/

[2019-03-29 14:50] casalex commented on #14
@jkanche I thought the chromHMM tracks were already pulled for your epiviz demo? I have a few of the brain-specific 25-state imputed model on hand locally if you need more.

[2019-03-29 14:59] jkanche commented on #14
@casalex, can you update the metadata file for the roadmap data ?

The chromHMM tracks are not on nemo/epiviz, I downloaded a few locally the last time I showed them. I also tried to just query the files from roadmap's FTP server, but I think they have a limit on the number of requests you can make and so the requests get blocked. If you could drop these on nemo archive somewhere, that would be gr

[2019-03-29 15:12] casalex commented on #14
@jkanche What needs to be updated on the Roadmap side? IIRC I subset it to be only the ones you have a couple weeks ago. Where specifically would you like me to put the chromHMM?

[2019-03-29 17:46] jorvis commented on #20
Stuck on this one.  The genes meta file has ensembl IDs, which is great, but the data matrix is indexed on gene symbol.  Normally I've just made the transformation, but here there are duplicate genes in the matrix index which map to different ensembl IDs, but it's not possible to tell which one correlates to which gene.  Example:

[code]

In later Ensembl releases they often renamed these with suf

[2019-03-29 17:52] jkanche commented on #14
The metadata file available here (http://data.nemoarchive.org/other/grant/epigenome_roadmap/epigenome_roadmap/chipseq/bulk/processed/align/metadata.tsv.tar) has over 500 rows but the number of files in the roadmap set is close to a 100. If you can create another metadata for only the files available that would be good.

anywhere on nemo, but may be aapaala or anup can help with the actual location

[2019-03-29 18:15] RLC-DCPPC opened #34 "design front page"
embedded Epiviz window and link to full page

[2019-03-29 18:17] RLC-DCPPC opened #35 "host Epiviz on new Google cloud instance"

[2019-03-29 18:21] RLC-DCPPC commented on #27
might look like this example: https://gcid.umgear.org

[2019-03-29 18:28] jorvis commented on #30
UCSC example URL with gene: https://cells.ucsc.edu/?ds=cortex-dev&gene=GFAP

[2019-03-29 18:30] RLC-DCPPC commented on #27
Link to NeMO data portal

[2019-03-29 18:34] jorvis commented on #20
Update:  For this dataset @carlocolantuoni reports that the rows are in sync between the two files, so I can just use that.  (kudos to the linux paste command)

[2019-03-29 18:49] jorvis commented on #20
Loading finished here.  I'll add an item in #32 for tSNE to be added.
[ARKctxDevo3Ksc.NOTES.txt](https://github.com/nemoarchive/analytics/files/3024046/ARKctxDevo3Ksc.NOTES.txt)

[2019-03-29 19:01] jorvis commented on #26
Victor - we actually want to move this VM to gear-devel.nemoanalytics.org.  Can you get on the VM (GCP) and make the necessary SSL changes there if the cert already exists?

[2019-03-29 19:45] brianherb commented on #31
@jorvis - new versions of GW19_PFS_all and GW22_PFC h5ad files that contain tsne information are ready to upload.

Links:

/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR/GW19_PFC_all_tsne.h5ad

/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR/GW22_PFC_tsne.h5ad

You can still use the

[2019-03-29 19:56] casalex commented on #14
I believe the metadata issue was resolved here a couple weeks ago here, but I only tagged apaala: https://github.com/nemoarchive/analytics/issues/23#issuecomment-472528614

Let me know if that works.

[2019-03-29 20:37] seth-ament commented on #27
NIMH logo (for funding): https://commons.wikimedia.org/wiki/File:US-NIH-NIMH-Logo.svg

[2019-03-29 20:38] seth-ament commented on #27
As the highlighted dataset, let's use "Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at gestational week 19".

[2019-03-29 21:19] seth-ament commented on #27
"About" paragraph:
https://docs.google.com/document/d/10S4oHun0QpGOUe5iad2zrJnTz425VMWu4FwJBqN8_D0/edit?usp=sharing

[2019-03-30 09:08] jkanche commented on #14
@apaala will this also get pushed to public next wednesday ?

[2019-03-30 21:10] victor73 commented on #26
@jorvis I'm not seeing any VM instances. Which GCP project are these VMs in?

[2019-03-30 22:50] jorvis commented on #26
It's in the nemo analytics one.  I can add you, but which email address do you prefer?

[2019-04-01 13:58] victor73 commented on #26
Let's do the work email/account if possible.

[2019-04-01 14:21] jorvis commented on #26
I've added you as project editor.

[2019-04-01 14:42] jorvis commented on #24
@carlocolantuoni Did you have tSNE data for this dataset? I only see the following columns in the COLmeta data file and no supplemental ones:

dataColNames    Day     Rep     color

[2019-04-01 14:46] seth-ament commented on #24
no tSNE for this one. it is standard mRNA-seq, not sc.

[2019-04-01 14:51] jorvis commented on #32
Changing assignment to Brian for Curator support.

[2019-04-01 16:40] jorvis commented on #33
This dataset has been loaded and added to the main profile.

[2019-04-01 16:40] #33 closed

[2019-04-01 19:33] seth-ament opened #36 "comparison tool not working"
I tried using the comparison tool to visualize samples from the POU3F2oe and H9 ESC differentiation datasets, but I get the error shown on the attached screenshot.
[nemo_analytics_comparison_tool_error.pdf](https://github.com/nemoarchive/analytics/files/3031032/nemo_analytics_comparison_tool_error.pdf)

[2019-04-01 20:07] seth-ament commented on #27
About (updated 4/1 4pm)

The Neuroscience Multi-Omic (NeMO) Analytics portal enables web-based visualization and analysis of multi-omic data describing cell types in the developing and adult brain, powered by gEAR (umgear.org) and Epiviz (https://epiviz.github.io/). Release 1 (April 2019) includes single-cell and bulk tissue RNA-seq, ATAC-seq, and ChIP-seq from the fetal human prefrontal cortex, a

[2019-04-02 14:55] jorvis commented on #5
@carlocolantuoni or Seth (Why can't I tag seth, I don't see his user name?)  Can we elaborate on what this ticket is for?  We seem to have achieved standardization of both what's in each dataset and the metadata file.  What's missing?

[2019-04-02 15:56] RLC-DCPPC commented on #5
@jorvis : Seth has an outstanding invitation, but I just added him as a collaborator so he should have a fresh one (added Ronna as well; Brian Herb is already a collaborator).

[2019-04-02 15:57] carlocolantuoni commented on #5
Donr kno
I think we are ok here

On Tue, Apr 2, 2019, 10:55 Joshua Orvis <notifications@github.com> wrote:

[2019-04-02 16:00] #5 closed

[2019-04-02 16:41] jorvis commented on #30
These links are all added and can be seen on the devel site.  The Ensembl and UniProt links actually have human paths already, but the issue here is that the organism 'mouse' is chosen by default on the page.  Looking into a clean way to make this select human first instead, then will close this.

[2019-04-02 16:45] seth-ament commented on #30
The new links  look terrific! Thanks, Joshua!

[2019-04-02 18:35] jorvis commented on #27
@seth-ament - Do you have an image you want me to use for the highlighted dataset?

[2019-04-02 18:49] seth-ament commented on #27
Let's use a screenshot of the tSNE colored by cell type, once we get that updated tomorrow morning.

[2019-04-03 16:20] brianherb commented on #31
@jorvis - I've updated the GW19_PFS_all and GW22_PFC h5ad files - they now have a 'tSNE1' and 'tSNE2' columns in the .obs slot.

Links:

/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR/GW19_PFC_all_tsne.h5ad

/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR/GW22_PFC_tsne.h5ad

You can

[2019-04-03 18:56] jorvis commented on #31
I have replaced both of these.  Please close once you confirm.

[2019-04-03 19:12] brianherb commented on #31
@jorvis - h5ad files are fixed - .var['gene_symbol'] now actually has genes listed

Links:

/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR/GW19_PFC_all_tsne.h5ad

/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcriptome/scell/processed/counts/for_gEAR/GW22_PFC_tsne.h5ad

You can still use the existing metadata files:

/loc

[2019-04-03 21:23] briangottfried commented on #36
![image](https://user-images.githubusercontent.com/10342878/55514056-22e1f580-5635-11e9-8e18-385cdb460158.png)
Should this [commit](https://github.com/jorvis/gEAR/commit/33f8a06d80be43c927d32888645ee93667a4b540) should fix this.

[2019-04-03 21:25] #36 closed

[2019-04-03 21:46] seth-ament opened #37 ""Multiple ENSEMBL IDs match gene x""
quite a few genes that i've looked up fail to show data because multiple ENSEMBL IDs match the gene symbol, e.g., MALAT1, E2F1.

these genes fail completely when they are searched from the landing page. when searched from the multi-panel gEAR page, individual datasets show the error "Multiple ENSEMBL IDs match gene <<x>>".

it seems like a more graceful behavior would be for gEAR to display the ma

[2019-04-03 21:50] seth-ament commented on #9
@jorvis Carlo and I realized this afternoon that this dataset still hasn't made it into NeMO Analytics. It's pretty essential for the talk next week. Somehow, both of us missed it. Could you please get it loaded in within the next 1-2 days?
/local/encrypted/NEMO/incoming/brain/development/LIBD/DLPFCcon322polyAgeneLIBD/

[2019-04-03 22:02] seth-ament opened #38 "single-cell workbench not working"
Currently the single-cell workbench is not working, at least for the couple datasets I've tried. It is getting stuck on the first cell filtering step. For the GW19 10X dataset I get "Error: Internal server error". For the ARK3.4k dataset it's been spinning for several minutes and doesn't give any result.
[scworkbench-error.pdf](https://github.com/nemoarchive/analytics/files/3040917/scworkbench-err

[2019-04-03 22:12] jorvis commented on #31
I've replaced both of these again.  Please re-open if there are issues.

[2019-04-03 22:12] #31 closed

[2019-04-03 22:18] jorvis commented on #38
Can you verify that this is still an issue for you?  I see Victor was doing some things with the server to enable SSL which might be completed now.  It worked when I tried it (attached)
![Screenshot from 2019-04-03 17-18-15](https://user-images.githubusercontent.com/330899/55516972-8cadcf80-5634-11e9-8ce5-3f1de23b11e6.png)

[2019-04-03 22:35] seth-ament opened #39 "set default displays for 10X datasets"
@brianherb You are the owner of the 10X datasets in NeMO Analytics. The curator for the 10X datasets is now (mostly) working. Could you please create displays for each datasets? We discussed two displays for each:
1) tSNE colored by Cell Annotation
2) tSNE colored by expression

In addition, I think it would be great to create a 3rd display showing a violin plot grouped by Cell Annotation.

Could

[2019-04-03 22:39] seth-ament opened #40 ""reorder display" not working in the curator"
@briangottfried I am trying to create a violin plot for one of the 10X datasets, grouped by Cell Annotation. I would like the groups to be displayed in the order:
RG, tRG, vRG, oRG, IPC, nEN, EN, MGE, nIN, IN, OPC, Astrocyte, Microglia, nan
I can drag the group labels around, but when I press "Reorder Display" it just resets to the default order. Can you help?

[2019-04-03 22:45] seth-ament commented on #38
ok, yeah, it's working again now. thanks!

[2019-04-03 23:33] #38 closed

[2019-04-03 23:56] jorvis commented on #9
This has been loaded and can be found in the main profile.

[2019-04-03 23:56] #9 closed

[2019-04-03 23:57] jorvis commented on #9
Attaching notes.
[DLPFCcon322polyAgeneLIBD.NOTES.txt](https://github.com/nemoarchive/analytics/files/3041161/DLPFCcon322polyAgeneLIBD.NOTES.txt)

[2019-04-04 01:50] brianherb commented on #39
Gene expression for Pou3f2?

[2019-04-04 02:11] seth-ament commented on #39
I set the ones I "own" so that the display gene is EOMES, but any neurodevelopment gene is fine.

[2019-04-04 02:20] brianherb commented on #39
Displays are created - but I'm now confused by the site - can I only access non-default plots via the curator? Does an option exist to just view all plots created for a given sample?

To match with other plots, I'll just make the tSNE expression the default for now.

[2019-04-04 02:38] briangottfried commented on #40
Should be fixed now with this [commit](https://github.com/jorvis/gEAR/commit/f856f5a35a80a3fae69d58f877e128df6663ae6d).

[2019-04-04 02:39] #40 closed

[2019-04-04 03:00] seth-ament commented on #40
Yes -- working well now. Thank you!

[2019-04-04 03:09] carlocolantuoni commented on #18
@jorvis : seth and i noticed that there is one last developmental data set that has not been brought from incoming into NeMO Analytics: /local/encrypted/NEMO/incoming/brain/development/LIBD/DLPFCcon322polyAgeneLIBD/

[2019-04-04 03:12] carlocolantuoni commented on #32
brian G has set this up nicely - the discrete individual coloring option (rather than purple shaded scale) when working to color by cell class/category is one of the last things we need for the demo

[2019-04-04 03:13] carlocolantuoni commented on #32
sorry - didnt tag any one:
@jorvis @briangottfried
brian G has set this up nicely - the discrete individual coloring option (rather than purple shaded scale) when working to color by cell class/category is one of the last things we need for the demo

[2019-04-04 03:14] seth-ament commented on #18
@carlocolantuoni I beat you to this one :-) Joshua added it a few hours ago. Can you see it on the website?

[2019-04-04 03:26] seth-ament opened #41 ""Displays" pop-up window does not appear"
Nothing happens when I click on "Displays" in the dropdown menu for each dataset in the multi-panel view. Doing the same thing at umgear.org causes a popup window to appear showing all the available displays for this dataset, so I guess there's a bug in the nemoanalytics version..

[2019-04-04 03:39] briangottfried commented on #32
@carlocolantuoni Fixed. Using a 20 categorical color scale. If there are more than 20 levels it cycles back to the first color.

[2019-04-04 03:40] seth-ament opened #42 "show x-axis and y-axis labels"
In the scatterplots and violin plots with quantitative x-axis, there is no way to show a descriptive x-axis label. For instance, in the screenshot below, if you look at the H9 in vitro differentiation dataset and the in vivo DLPFC LIBD dataset, both are displayed as scatterplots with a numbered, quantitative x-axis. However, for the in vitro dataset the x-axis represents days whereas for the in vi

[2019-04-04 03:44] seth-ament commented on #42
This also applies to the tSNE plots, though perhaps less urgently. Label the axes as tSNE1 and tSNE2... The default behavior in the curator should be to add the name of the variable from the pulldown list as the label for the axis. If one wanted to get slightly fancier, it would be great to create a dialog box in the curator giving people the option to name the axes in free text.

[2019-04-04 03:49] seth-ament commented on #39
Thanks, Brian! There's a bug that's preventing a popup from appearing to toggle between displays (just added a new ticket for this). In the meantime, a few minor tweaks:

1) could you edit the tSNE displays so that the tick mark labels are not displayed, for consistency with the other tSNEs?
2) I still don't see default displays for the following datasets: "Single-cell mRNA sequencing (scRNA-seq -

[2019-04-04 04:14] carlocolantuoni commented on #20
@jorvis - i just updated the files for this kriegstein 3.4(6)k data - i corrected some oddities in the cell type classes by adding "majortype4" column to the column meta data - this is the one we should use to color the tSNE - can you bring the files into NeMO Analytics again? /local/encrypted/NEMO/incoming/brain/development/ARK/ARKctxDevo3Ksc/

[2019-04-04 04:22] carlocolantuoni commented on #25
@jorvis - i just updated the files for this scESCdifBifurcCelSeq2k data - the PC1 and PC2 are now also in the standard Column meta data so we will be able to use them in creating the scatter view. can you bring the files into NeMO Analytics again? /local/encrypted/NEMO/incoming/brain/development/Broad/scESCdifBifurcCelSeq2k/

[2019-04-04 10:41] brianherb commented on #39
1. tick marks are gone now

2. I'll run the cell scoring and tSNE for CS22 and GW18 this morning -

[2019-04-04 12:32] carlocolantuoni commented on #32
Great thnx

On Wed, Apr 3, 2019, 23:39 Brian Gottfried <notifications@github.com> wrote:

[2019-04-04 12:46] carlocolantuoni commented on #25
@jorvis @seth-ament
hey seth , once joshua gets the updated version in, can u as the owner make a new view scattering by PC1 and PC2 - i think that will best for coloring by day and when we want to color by expression - it shows precursors and neurons separated on PC1 and time on PC2.

[2019-04-04 12:49] carlocolantuoni commented on #32
hey all - for each of the single cell data sets it is very hard to see anything in the plots when we have 8 panels open. as we discussed yesterday, making the points smaller will help, but we might want to think of how to make all these data sets easily viewable when there is so much on the screen at once. might not be pressing if we can make individual screen shots work for the demo.

[2019-04-04 13:36] jorvis commented on #32
I agree, there's a fundamental conflict in trying to display data this dense but in a compact form alongside other datasets.  Remember that you can also use the context menu in the upper right of any dataset and select the 'View' option to get a view of that dataset which fills all the panels.

[2019-04-04 13:42] jorvis commented on #20
I have reprocessed this one and replaced it.

[2019-04-04 13:42] #20 closed

[2019-04-04 14:08] jorvis commented on #25
I have replaced this with the new version.

[2019-04-04 14:08] #25 closed

[2019-04-04 14:55] carlocolantuoni commented on #32
Ya, we should use that for a lot of he screen shots I think

On Thu, Apr 4, 2019, 09:36 Joshua Orvis <notifications@github.com> wrote:

[2019-04-04 15:49] brianherb commented on #39
@jorvis - Hi Josh, I've created new h5ad files for GW18 (scRNAseq of human prefrontal cortex at GW18) and CS22 (Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at Carnegie Stage 22)  - these now include tSNE coordinates and cell type assignments like the other Kriegstein datasets.

Files:

## CS22:
/local/projects-t3/NEMO/incoming/brain/biccc/kriegstein500k/transcr

[2019-04-04 16:43] jorvis commented on #39
I have replaced both CS22 and GW18.

[2019-04-04 18:39] brianherb commented on #39
Thank you @jorvis! @seth-ament  - All Kriegstein 10X datasets have displays

[2019-04-04 18:39] #39 closed

[2019-04-05 12:48] jkanche commented on #35
@jorvis or Anup,

should epiviz for nemo analytics run on a new google cloud instance because of the billing you were talking about on the last call ?

[2019-04-05 12:51] jkanche commented on #14
@Seth Can you let me know which roadmap & chromHMM tracks you would like to embed in gEAR ?

[2019-04-05 13:30] seth-ament commented on #14
@jkanche please start with the samples from fetal brain. The file accessions from Alex's metadata file are as follows. These are ChIP-seq of fetal brain at 17.5 gestational weeks.
ENCFF265PQT
ENCFF826SJK
ENCFF487KNS
ENCFF757GHZ
ENCFF307KHT
ENCFF485CBV
ENCFF799AEV

[2019-04-05 14:06] apaala commented on #14
@jkanche  @casalex http://data.nemoarchive.org/biccn/grant/zeng/zeng/transcriptome/scell/SMARTer/processed/bigwig/MOs/

I copied the new metadata.tsv and it can be found in http://data.nemoarchive.org/other/grant/epigenome_roadmap/epigenome_roadmap/chipseq/bulk/processed/align/

[2019-04-05 14:14] jkanche commented on #14
@apaala any metadata available for the scell data ?

[2019-04-05 14:59] apaala commented on #14
@jkanche I am not too familiar with the dataset apart from generating the bigwigs, I will ask around, or we can bring it up in standup see if anyone knows

[2019-04-05 15:05] seth-ament commented on #14
Metadata from the BICCN studies is very limited right now. We are waiting for the BICCN coordinating center to send more detailed metadata. Please note that the single-cell data are not required for the current sprint to the BRAIN Initiative meeting.

[2019-04-05 15:32] jorvis commented on #35
Yes, it should.  I just added you to the nemo-analytics gcloud project so you can create an instance there.

[2019-04-05 18:54] jorvis opened #43 "Triplicate tSNE datasets on front page"
@carlocolantuoni

Human Fetal Cortex scRNAseq (Nowakowski et al. 2017 Science)
hESC (H9) in vitro neural differentiation timecourse
Dorsolateral Prefrontal Cortex Development RNA-seq (Jaffe et al. 2018 Nat Neurosci)
Embryonic stem cell neural differentiation scRNAseq (Yao et al. 2017 Cell Stem Cell)

[2019-04-05 19:02] jorvis commented on #43
I've uploaded the first one two extra times with the following names (sorry, the original names were copied).  Can you check and see if this will work for you, then I'll do the rest

ARKctxDevo3Ksc (cluster)
ARKctxDevo3Ksc (violin)

[2019-04-05 23:31] carlocolantuoni commented on #43
Great.
I'll chk it out

On Fri, Apr 5, 2019, 15:02 Joshua Orvis <notifications@github.com> wrote:

[2019-04-06 16:05] seth-ament commented on #43
looks good to me, joshua. could you arrange the multi-panel grid so that the three displays of each scRNAseq dataset are on the same row?

1st row, left to right: Jaffe et al. DLPFC LIBD RNAseq, CORTECON (H9 ESC in vitro); POU3F2oe
2nd row: ARK3.4k (left to right: cluster tSNE, expression tSNE, violins)
3rd row: 10X GW19
4th row: 10X GW22
5th row: Yao et al. in vitro H9 ESCs scRNAseq

Carlo, do yo

[2019-04-06 16:05] #41 closed

[2019-04-06 18:59] carlocolantuoni commented on #43
Sure. Things r looking great guys

On Sat, Apr 6, 2019, 12:05 Seth Ament <notifications@github.com> wrote:

[2019-04-07 14:08] jorvis commented on #43
I believe I have the first three rows how you wanted them.  For "10x GW22" there are two datasets that could match that description:

- Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at gestational week 22
- Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at Carnegie Stage 22

Also, I'm a little worried that 15 datasets in one prof

[2019-04-07 14:17] seth-ament commented on #43
Thanks, Joshua! The first three rows look great.

The dataset I am referring to for the fourth row is "Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at gestational week 22". (The other one would be CS22)

Fine to take the site down at some point this afternoon as need be. For the demo, the site needs to be located at nemoanalytics.org (rather than gear-devel). Wi

[2019-04-07 17:24] seth-ament commented on #43
@jorvis I'm getting the following error when curating the "Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at gestational week 19 (cluster)" dataset. Curator > Choose your display type > "No h5 file found for this dataset"

[2019-04-07 17:35] jorvis commented on #43
Try now

[2019-04-07 20:45] hertzron opened #44 "Displays button not working"
cannot change display in analytics via display button even when multiple curations are available

[2019-04-07 20:45] hertzron opened #45 "premalink not working"
https://gear-devel.nemoanalytics.org/p?s=c4b59c43-1946-4fc4-aa4e-0e5c0b099898

[2019-04-07 20:46] hertzron opened #46 "change owner just for screen shots"
Joshua - can yo uplease change me to be owner of Dorsolateral Prefrontal Cortex Development RNA-seq (Jaffe et al. 2018 Nat Neurosci) so that I can share it etc for screen shots? you can then switch back to Seth or can discuss having 'Analytics Curator' like we did for gEAR - where a select group of people can access the portal as 'curators' this way don't have to keep switching ownership if collab

[2019-04-07 20:53] jorvis commented on #46
Done.  Dataset ID is 61ea9b06-3d44-4878-a5cb-6f51a36c77b2

[2019-04-07 20:58] jorvis commented on #45
Working notes .... I see in the apache error logs that it's a config issue:

AH00670: Options FollowSymLinks and SymLin
ksIfOwnerMatch are both off, so the RewriteRule directive is also forbidden due to its similar ability to circumvent directory rest
rictions : /var/www/p

[2019-04-07 21:00] hertzron commented on #45
what does this mean?

On Sun, Apr 7, 2019 at 4:58 PM Joshua Orvis <notifications@github.com>
wrote:

[2019-04-07 21:04] jorvis commented on #45
It's notes for myself as I go.

[2019-04-07 21:06] jorvis commented on #45
This is an issue on both normal gear and nemo versions

[2019-04-07 21:11] jorvis commented on #45
Fix on both gear-devel and production gear.

[2019-04-07 21:11] #45 closed

[2019-04-07 21:15] hertzron commented on #45
thanks!

On Sun, Apr 7, 2019 at 5:11 PM Joshua Orvis <notifications@github.com>
wrote:

[2019-04-07 23:04] hertzron opened #47 "values not averaged in the compare tool"
for example when looking at : POU3F2 over-expression in NPCs (Pearl et al. 2019 Cell Syst)

[2019-04-07 23:17] briangottfried commented on #47
Compare tool currently averages if there is a replicate column named "replicate" and is not smart enough to detect other columns. It looks like this dataset has both biological replicate and technical replicate but they are named BioRep and TechRep. @jorvis, what convention should we use for these?

[2019-04-07 23:55] hertzron commented on #47
Seth - can you pls answer?

On Sun, Apr 7, 2019 at 7:17 PM Brian Gottfried <notifications@github.com>
wrote:

[2019-04-08 01:38] jorvis commented on #47
@briangottfried for now I think just keep it how it is, with any column labeled 'replicate' being the grouping factor.  They can either choose between these or, if appropriate, aggregate the two into a new column.

[2019-04-08 01:53] seth-ament commented on #47
In a meeting last week, we all agreed to hold off on dealing with this until a later sprint. The grouping variables in this dataset are actually neither BioRep nor TechRep but one of the biological variables -- Vector (POU3F2 vs. control) or Day (day 3 vs. day 10). It would be nice to have a version of this tool that enabled users to select the grouping variable, similar to what's implemented in t

[2019-04-08 01:56] hertzron commented on #47
Hi Seth,

You're right on - that's in the list that was posted on Friday from the
lab.

Plan is in future for differentially expressed genes to have dots colored
in red and orange based on the FDR (e.g., less than 0.05).

It's a long term goal (and will be done via a non-parametric test..).

Ronna

On Sun, Apr 7, 2019 at 9:53 PM Seth Ament <notifications@github.com> wrote:

[2019-04-08 02:42] seth-ament opened #48 "make "gene cart" from POU3F2oe dataset for Thursday's talk"
From Ronna:
"choose one of the datasets, use the compare tool, identify a group of genes that are differentially expressed and make a gene cart from them (a small one - e.g, 10-20 genes) that we can then use to search the front page. If I know the dataset and see your steps - will repeat it and take care of the graphics."

[2019-04-08 02:48] seth-ament opened #49 "create public saved analyses for datasets in sc workbench and label each cluster by its cell type assignment."
From Ronna:
"For each one of the single cell datasets that we have in the workbench - we need a saved analysis that is as close as possible to the published data, that includes the cell type assignments. This way when users go to the saved analyses - they can immediately, for example, choose to compare the microglia to the astrocytes, or the EN to the nEN etc."

[2019-04-08 02:56] seth-ament commented on #49
@brianherb can you take this on? It should be easy for all the 10X datasets, since you already did those analyses with scanpy.  Hopefully also for the Yao et al. in vitro sc dataset.

Getting a scanpy analysis to closely match the published cell types from the Kriegstein 3.4k dataset may be more difficult, since they did iterative clustering with rather different methods.

Carlo, were you the one

[2019-04-08 03:06] seth-ament commented on #47
Cool -- glad to hear those updates to the comparison tool are in the works.

I would visualize this as a volcano plot, rather than color coding certain dots.... but that's for another time.

[2019-04-08 03:10] seth-ament commented on #49
@jorvis is it possible to upload cluster assignments generated outside the workbench as saved analyses? I'm specifically wondering with regard to the Nowakowski 2017 Science dataset (ARK3.4k sc). The Kriegstein lab did some fairly sophisticated / non-standard stuff to arrive at the published cell types in their paper. We used those published cell type assignments in other parts of the nemoanalytic

[2019-04-08 04:07] seth-ament commented on #48
the demo i'd had in mind would be to use the compare tool to evaluate changes in the POU3F2oe dataset. pick any day 3 control sample and compare it to any day pou3f2 sample. highlight some genes. however, the analysis isn't very meaningful, since a lot of the genes with the largest fold changes are relatively uninteresting for this demo (ribosomal genes, etc.).

as an alternative, take any day 0 s

[2019-04-08 06:36] carlocolantuoni commented on #49
Majortype came from aparna I think (I got it from u). Majortype2, 3 and 4
are different simplifications of that. majortype4 is most useful and the
one we should use for cell type mapping.

On Sun, Apr 7, 2019, 23:10 Seth Ament <notifications@github.com> wrote:

[2019-04-08 07:53] jorvis commented on #49
I believe it's possible, yes, but question becomes how practical is it to do before your presentation and the other wish list.  We're arriving at that point where we need to pick our Most Wanted and focus on those.

[2019-04-08 15:29] brianherb commented on #49
As it stands right now, there are functions that I use that are not present in the single cell workbench, so I cannot recreate the tSNE plots I created - but let's see if we can add one key function:

@jorvis  - In the single cell workbench, could you add the ability to run the function sc.pp.scale() after "Identify highly-variable genes", but before "Principal Component Analysis" ? Here is a chun

[2019-04-08 19:26] #14 closed

[2019-04-08 23:44] victor73 commented on #26
Should be good now.

[2019-04-08 23:44] #26 closed

[2019-04-09 01:18] hertzron opened #50 "Carlo and Seth - improve info about datasets"
Hi Carlo and Seth,

Can you please (tonight or tomorrow morning) - improve the 'info' part of the uploaded dataset using the dataset manager? Would be nice to have a better description for each dataset, relevant pictures (as in slide 4 of Carlo's presentation). We need it for the screen shot.

Best if you look at umgear.org and at the info of some of the datasets to get a better idea. The point is

[2019-04-09 02:08] seth-ament commented on #50
I can get this done tomorrow, but there are several datasets for which I am not the owner.

@jorvis  could you please make me the owner of all the datasets or create a group ownership so that multiple people can edit this info?

[2019-04-09 02:11] hertzron commented on #50
Seth - can you please make a list and Joshua will make you owner?

On Mon, Apr 8, 2019 at 10:08 PM Seth Ament <notifications@github.com> wrote:

[2019-04-09 02:16] seth-ament commented on #50
These are the datasets for which I am not currently the owner:

Dorsolateral Prefrontal Cortex Development RNA-seq (Jaffe et al. 2018 Nat Neurosci)
hESC (H9) in vitro neural differentiation timecourse
Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at gestational week 19
Single-cell mRNA sequencing (scRNA-seq - 10X) in Prefrontal Cortex of individual at gestational

[2019-04-09 02:43] #44 closed

[2019-04-09 03:07] hertzron commented on #50
Hi Seth,

In the info, please add also a description of what is the meaning of the
acronyms that you used for the different cell types. If you add their top
marker gene - that allows people to make better use of the workbench.

Thanks,
Ronna

On Mon, Apr 8, 2019 at 10:16 PM Seth Ament <notifications@github.com> wrote:

[2019-04-09 04:59] carlocolantuoni commented on #50
Thanks seth

On Mon, Apr 8, 2019, 22:08 Seth Ament <notifications@github.com> wrote:

[2019-04-09 12:25] brianherb opened #51 "Add sc.pp.scale() function to single cell workbench"
As it stands right now, there are functions that I use that are not present in the single cell workbench, so I cannot recreate the tSNE plots I created - but let's see if we can add one key function:

@jorvis  - In the single cell workbench, could you add the ability to run the function sc.pp.scale() after "Identify highly-variable genes", but before "Principal Component Analysis" ? Here is a chun

[2019-04-09 14:21] apaala commented on #15
I have tested this out, is there a particular dataset we want to generate the tabix files for? How many do we want to make?

[2019-04-09 18:59] seth-ament commented on #50
@jorvis the following datasets don't seem to have a slot to enter Info in the Dataset Manager. Do you have a way to make that available for me to add text?
1) hESC (H9) in vitro neural differentiation timecourse (CORTECON; van de Leemput et al. 2014, Neuron)
2) Single-cell mRNA sequencing (10X) of fetal human prefrontal cortex at gestational week 19 (Bhaduri and Kriegstein, unpublished)
3) Single-

[2019-04-09 19:26] jorvis commented on #50
OK, try now.

[2019-04-09 20:40] hertzron commented on #50
Hi Seth,

Are the info sections edited and cell type assignments done on the
workbench?

Best,
Ronna

On Tue, Apr 9, 2019 at 3:26 PM Joshua Orvis <notifications@github.com>
wrote:

[2019-04-09 20:55] seth-ament commented on #50
yes

[2019-04-10 02:38] hertzron commented on #50
Seth - I cannot find any stored analyses on the workbench for the single
cell datasets and the signle cell datasets. We need analyzed versions that
are saved in the public domains with cell type assignments.

Thanks,
Ronna

On Tue, Apr 9, 2019 at 4:55 PM Seth Ament <notifications@github.com> wrote:

[2019-04-10 02:43] jorvis commented on #50
If anyone thinks they were created but are currently missing, please let me know.  It's possible they remained under your account after the datasets were switched to being owned by NeMO Curator.  This shouldn't happen for an analysis made public by it's owner before, but I'd like to check just in case something's missing.

[2019-04-10 03:02] hertzron commented on #50
I now found my conf demo and conf demo with labels that Seth/Carlo must
have edited! Very good for that one!!!

Would be great if by Friday (turns out talk is only Friday) can have more
of the datasets analyzed this way.

Fantastic.

Ronna

On Tue, Apr 9, 2019 at 10:43 PM Joshua Orvis <notifications@github.com>
wrote:

[2019-04-19 14:11] apaala commented on #33
Do these files exist on incoming/dmz? I couldn't access it in the specified location. I wanted to test the converter on some more correctly formatted datasets.

[2019-04-19 15:07] casalex opened #52 "Create "pseudobulk" epiviz tracks from BICCN snATAC-seq and methyl-C data"
Merge the reads from all the cells of a particular cell type from BICCN snATAC-seq and methyl-C data to visualize peaks and read depth in epiviz.

[2019-04-19 15:36] jkanche commented on #52
Do you know what type of files these will be ?

[2019-04-19 15:38] casalex commented on #52
My plan is bigBeds for peaks and bigWig for depth--will that be ok?

[2019-04-19 15:42] jkanche commented on #52
yes, that works.

[2019-04-19 15:43] casalex commented on #52
great! I'll keep you in the loop.

[2019-04-21 21:06] carlocolantuoni commented on #33
these files were at:
/local/encrypted/NEMO/incoming/brain/development/Sament/POU3F2oeNPC/
this directory no longer exists.
in fact the entire directory of:
/local/encrypted/NEMO/incoming/brain/development/
no longer exists.
whats going on here?
carlo

On Fri, Apr 19, 2019 at 10:12 AM apaala <notifications@github.com> wrote:

--
Carlo

[2019-04-22 00:47] jorvis commented on #33
I have not modified any files/directories in this tree.

[2019-04-22 15:42] apaala commented on #33
Not sure, @adkinsrs would you by any chance know what could have happened to the directory?

[2019-04-22 15:48] adkinsrs commented on #33
I am not familiar with anything in the "development" directory, so I sadly cannot answer

[2019-04-23 17:44] apaala opened #53 "Perform Mapping of genes to Ensembl IDs at IGS instead of Google Server"
In order to generate tabix files for expression datasets, we need to map the geneIDs to Ensembl IDs. For this we need to be able to access the database generated by @jorvis that is currently hosted on google, and perform the mapping to the correct Ensembl release.

[2019-04-23 17:52] apaala commented on #15
This task requires generating a file that is like the IDxxxx_DataMTX.tab, but has 3 columns prepended to it (chr#, chr start and chr end). These files need to be generated during the uploading process. In order to perform mapping of the geneIDs, we will need to access the database that is currently on google server. It is very important that the Ensembl release number is noted in the metadata file

[2019-04-24 13:30] carlocolantuoni opened #54 "Compute cell type summary pseudo-expression matrix from large scRNAseq data set"
Seth and I will set out exactly how this should be computed and then we can have more discussions about where and how it will be implemented (sc wrokbench?) and used (NeMO Analytics?).

most likely this will be a matrix with as many rows/gens as the original scRNBAseq matrix, but only as many columns as the original maxtrix had cell types (either per-defined in sample metadata, or defined within t

[2019-04-24 13:34] carlocolantuoni opened #55 "directory missing: /local/encrypted/NEMO/incoming/brain/development/"
the directory:
/local/encrypted/NEMO/incoming/brain/development/
no longer exists.
whats going on here?

[2019-04-24 15:24] apaala commented on #55
I wasn't able to find the "development" folder in the "other" folder. Here is where I looked:
/local/projects-t3/NEMO/incoming/brain/other
/local/encrypted/NEMO/incoming/brain/other

[2019-04-25 13:35] apaala commented on #55
The folder has been moved to /local/projects-t3/NEMO/incoming/brain/other/grant/development/

[2019-04-25 13:35] #55 closed

[2019-05-01 18:44] seth-ament opened #56 "ingest mini-atlas data (MOp)"
These are the datasets. Counts and initial clustering for all except MERFISH are in Dropbox.
- [x] single-cell SMART-seq (Allen)
- [x] single-nucleus SMART-seq (Allen)
- [x] single-cell 10X (Allen)
- [x] single-nucleus 10X (Allen)
- [x] single-nucleus methyl-Seq (Ecker)
- [x] snATAC-seq (Ecker)
- [x] human single-nucleus 10X (Lein)
- [x] human development MOp single-cell (Kriegstein)
- [ ] marmose

[2019-05-01 18:46] seth-ament commented on #56
@brianherb can you begin organizing these data for upload? The datasets are in order by level of maturity and priority. So we can start at the top of the list and work down.

[2019-05-01 21:03] brianherb commented on #56
Certainly. Question - Should I set the contact info as me to start, or the PI? I think I remember that the PI would have to have an account in order to make them the contact.

[2019-05-01 21:06] seth-ament commented on #56
It's definitely easiest if you are the contact to start. If someone from the mini-atlas requests, we can change them to the owner of a dataset later. Thanks!

[2019-05-03 17:44] #30 closed

[2019-05-03 17:46] jorvis commented on #34
Closing, duplicate of #8

[2019-05-03 17:46] #34 closed

[2019-05-03 17:47] jorvis commented on #32
Closing as completed, but tSNE support has been added and these datasets have been loaded.

[2019-05-03 17:47] #32 closed

[2019-05-06 15:09] casalex commented on #52
Files from a test run of the snaptools pipeline on the CEMBA180306_2B dataset can be found in /local/projects-t3/idea/acasella/NeMO/analysis/snaptools_test/R/.

MACS2 pileup of each cluster with > 300 cells:
CEMBA180306_2B.{cluster}_treat_pileup_clean.bb

MACS2 peaks of each cluster with > 300 cells:
CEMBA180306_2B.{cluster}_peaks_clean.bb

[2019-05-08 17:41] brianherb commented on #56
@jorvis  - I was able to create an .h5ad file from the old .h5 - could you test these files and see if they can load into Nemo Analytics:

Data file:
/local/projects-t3/idea/bherb/NeMO_work/10X_cells_MOp/umi_counts_10XcellsMOp.h5ad

And you can pick your favorite format for metadata file:
/local/projects-t3/idea/bherb/NeMO_work/10X_cells_MOp/MOp_SC_10X_Zeng_meta.json
/local/projects-t3/idea/bherb/

[2019-05-08 18:10] casalex commented on #52
@jkanche Shaun kindly copied the files noted above over to /local/projects-t3/NEMO/dmz/brain/biccn/grant/cemba/ecker/chromatin/scell/processed/counts/2B/CEMBA180306_2B. Note that some cluster numbers have been skipped because they contain < 300 cells. Let me know if you have any questions!

[2019-05-09 16:00] jorvis commented on #56
I have put this dataset on NeMO (production) and accidentally gEAR (production).  Private on both and owned by Brian.  INSERT SQL for my own notes:

[code]

[2019-05-14 16:14] jorvis commented on #15
@jkanche , I've put an example h5ad and mysql dump of the gene table on Dropbox here:

https://www.dropbox.com/sh/8p0rrk3ic8ak9rr/AACg1DK8PREyCP9-Fnsc43dqa?dl=0

If you can use this to create an example Tabix file @apaala can take over from there.  Thanks.

[2019-05-14 16:18] brianherb commented on #56
Zeng 10X single nuclei RNAseq data is now processed. Files are here:

Data file:
/local/projects-t3/idea/bherb/NeMO_work/10X_nuclei_MOp/umi_counts_10XnucleiMOp_tsne.h5ad

And you can pick your favorite format for metadata file:
/local/projects-t3/idea/bherb/NeMO_work/10X_nuclei_MOp/MOp_SN_10X_Zeng_meta.json
/local/projects-t3/idea/bherb/NeMO_work/10X_nuclei_MOp/metadata_MOp_SN_10Xseq_Zeng.xlsx

No

[2019-05-15 15:04] #46 closed

[2019-05-15 15:05] jorvis commented on #27
This was completed some time ago.

[2019-05-15 15:05] #27 closed

[2019-05-15 15:54] apaala opened #57 "Bigwig for Atac-Seq"
Locate the sample- level metadata for this file for @jkanche

http://data.nemoarchive.org/biccn//grant/cemba/ecker/chromatin/scell/processed/align/3C/CEMBA171207_3C/

[2019-05-15 15:59] apaala commented on #57
@jkanche Please ignore the information I sent in the email, thats for the methylation data. This seems to be the correct metadata for that file:

Sample ID | Organism Type (CV) | Organism NCBI Taxonomy ID | Transgenic Line Information | Modality (CV) | Method  (CV) | Technique (CV) | Anatomical Structure (CV) | Total Processed Cells | Organization (CV) | Investigator | Grant Number (CV) | R24 Name

[2019-05-15 19:53] apaala commented on #57
@jkanche Do you have everything you need to do the testing for now?

[2019-05-17 16:39] brianherb opened #58 "Ingest MOpR sncell transcriptome data from Macosko lab"
32 mex files with file names pBICCNsMMrMOpR*.mex.tar.gz can be ingested into NeMO analytics. Path on grid:

/local/projects-t3/NEMO/dmz/brain/biccn/lab/macosko/transcriptome/sncell/processed/counts

Don't know much about the samples, but Evan noted that these are from the primary motor cortex, and the letter in the file name after MOpR is either "A", "M", or "P", corresponding to the subregion Ant

[2019-05-17 16:47] seth-ament commented on #58
I watch all the activity on the NeMO Analytics (and gEAR) GitHub repos and comment frequently, but for some reason it doesn't see me as a member of the team...

Does it make any sense to merge the data into three samples ("A", "M", and "P") prior to uploading?

[2019-05-18 20:23] jorvis commented on #58
I'll leave that up to you two - Uploading 3 would definitely be preferred to 32 separate datasets.

[2019-05-18 20:54] brianherb commented on #58
What I can do is merge cells within each region and create 5had files that we can then upload to nemo analytics.

[2019-05-22 12:40] jkanche commented on #15
@jorvis I'm looking at the gene table from the sql file, if i search by ensembl id or gene symbol, do you always pick the latest ensembl version for a match ?

[2019-05-22 13:13] jorvis commented on #15
First, if I know which ensembl release the dataset was annotated with I use that one.  If I don't, I take the pool of gene symbols and compare them with the pool of gene symbols from each Ensembl release for that organism - whichever has the most overlap is the one I choose.

[2019-05-23 02:14] jkanche commented on #15
@jorvis & @apaala

I wrote the python script to read the h5ad file and map the names to genomic position. The script can use either ensembl ids or gene symbols to map. I think the order should be

- use the ensembl version if known
- if ensembl ids are available, use them to do the mapping first,
- use gene symbols

I posted the results for both matching by gene symbols and ensembl ids. Link to gi

[2019-05-24 19:24] brianherb commented on #58
I created h5ad files by merging and downsampling samples from each region down to 10K cells. Files are here:

*Anterior:*
local/projects-t3/idea/bherb/NeMO_work/Macosko/h5ad/MOpR_Anterior_10X_SN_Macosko_meta.json

local/projects-t3/idea/bherb/NeMO_work/Macosko/h5ad/Atot_count_norm_10000cells.h5ad

*Medial:*
local/projects-t3/idea/bherb/NeMO_work/Macosko/h5ad/MOpR_Medial_10X_SN_Macosko_meta.json

l

[2019-05-24 19:24] #58 closed

[2019-05-24 19:57] brianherb commented on #56
In the dropbox folder, the tsne.df.csv (tsne coordinates) file for  single-cell SMART-seq (Allen) is empty - can we request that the Allen re-upload this file?

[2019-05-28 15:35] jkanche commented on #35
@jorvis, I might need some help from you on this,

- [ ] I tried to downgrade the storage on the epiviz instance. Since everything will be file based, we don't need 400Gb of disk. But it won't let me change it.
- [ ] How do I setup a subdomain to the instance. Something similar to what we did in gEAR,  epiviz.nemoarchive.org ?

[2019-05-28 18:29] jorvis commented on #35
For the first one, you can only resize disks if you first shut down the instance.  Did you try that?

To set up the subdomain we need to make sure the instance is using a statically-assigned IP address and then have Victor do a DNS entry for the subdomain.  I could do it on the gear pages because I manage the domain, but I don't for nemoarchive.

[2019-05-28 18:32] jkanche commented on #35
yea, I tried shutting it down, but it won't let me set a value below 400

[2019-05-29 13:43] jorvis commented on #35
Relevant [article](https://blog.kevinlin.info/post/google-compute-engine-reducing-the-size-of-a-persistent-disk).

[2019-05-29 18:55] brianherb commented on #58
@jorvis  - This might have fallen through the cracks since I closed the ticket - were these datasets added to nemo analytics?

[2019-06-04 19:50] brianherb commented on #56
Zeng SMARTer single nuclei RNAseq data is now processed. Files are here:

Data file:
/local/projects-t3/idea/bherb/NeMO_work/SMARTer_nuclei_MOp/umi_counts_SN_SMARTer_MOp_tsne.h5ad

metadata file:
/local/projects-t3/idea/bherb/NeMO_work/SMARTer_nuclei_MOp/MOp_SN_SMARTer_Zeng_meta.json

[2019-06-14 18:17] RLC-DCPPC opened #59 "PCA projectR: write a script to precompute PCA on datasets during upload"
PCA projectR: write a script to precompute PCA on datasets during upload and store the results in the h5ad object. Note: Until this is implemented, any front-end task would be blocked. (Brian)
***** this would be very easy to implement - we just need to decide if we also want to do some very basic quality filtering of the cells at the same time - for example kicking out cells that have less than X

[2019-06-14 18:19] RLC-DCPPC opened #60 "gene regulatory networks"
--Brian has implemented scripts to compute GRNs, score each cell for the activity of GRNs, created tSNE visualizations of these networks with Scanpy, which look very good, and calculated enrichment of networks in cell types.

--I think we could define tasks for the next sprint that would help us think about whether SCENIC could/should be implemented within gEAR and, if so, what that would look lik

[2019-06-14 18:20] RLC-DCPPC opened #61 "uploading additional datasets into gEAR"
--cortical neurogenesis datasets (Carlo)

--primary motor cortex datasets (Brian)

******* one hangup with the miniatlas data - In the dropbox folder, the tsne.df.csv (tsne coordinates) file for single-cell SMART-seq (Allen) is empty - can we request that the Allen re-upload this file?

[2019-06-14 18:21] RLC-DCPPC opened #62 "working with single-cell epigenomics data"
--algorithm development (e.g., single-cell foot printing, cell-type specific footprints)

--Epiviz integration (cell-type specific accessibility peaksets)

[2019-06-25 15:43] brianherb commented on #56
Zeng SMARTer single cell RNAseq data is now processed. Files are here:

Data file:
/local/projects-t3/idea/bherb/NeMO_work/SMARTer_cells_MOp/umi_counts_SC_SMARTer_MOp_tsne.h5ad

metadata file:
/local/projects-t3/idea/bherb/NeMO_work/SMARTer_cells_MOp/MOp_SC_SMARTer_Zeng_meta.json

[2019-06-25 20:36] brianherb commented on #56
Lein datasets are prepared:

10X nuclei:
/local/projects-t3/idea/bherb/NeMO_work/Lein_10X_nuclei_MOp/umi_counts_Lein_10X_nuclei_MOp_tsne.h5ad

/local/projects-t3/idea/bherb/NeMO_work/Lein_10X_nuclei_MOp/Lein_10X_nuclei_MOp_meta.json

SMARTer nuclei:
/local/projects-t3/idea/bherb/NeMO_work/Lein_SMARTer_nuclei_MOp/umi_counts_Lein_SMARTer_nuclei_MOp_tsne.h5ad

/local/projects-t3/idea/bherb/NeMO_work/

[2019-06-25 20:37] brianherb commented on #56
Also, I created a reduced dataset for the 10X samples if we want to use them:
Downsampled 10X data (down to 10K random cells):

/local/projects-t3/idea/bherb/NeMO_work/Lein_10X_nuclei_MOp/umi_counts_Lein_10X_nuclei_MOp_tsne_Downsample10K.h5ad

/local/projects-t3/idea/bherb/NeMO_work/10X_cells_MOp/umi_counts_10XcellsMOp_tsne_Downsample10K.h5ad

/local/projects-t3/idea/bherb/NeMO_work/10X_nuclei_MOp

[2019-06-26 15:35] jorvis commented on #58
These have been put on both nemo-devel and production, currently marked as private and owned by the NeMO Curator user.  If they should be made public and part of any profiles, let me know.

[2019-06-26 18:25] brianherb commented on #60
Just a thought - other websites offer the ability to email the user when a computation takes a long time. could that model work in this case?

[2019-06-26 18:47] jorvis commented on #53
We have created a clone of the database which houses the annotation information at IGS and I have given Apaala the credentials.  She has used this to test run getting the best matching ensembl release, so it appears to be working.  I'll leave this to close when it is incorporated completely at the cron.

[2019-06-26 18:52] jkanche commented on #53
is this using the script from here ?

https://github.com/nemoarchive/analytics/issues/15#issuecomment-495041032

[2019-06-26 19:00] jorvis commented on #53
Your is to add coordinates for tabix, right?  This is an upstream processing step on the initial data to simply add ensembl IDs to a file which doesn't have them.  I know yours can use ensembl IDs or gene symbols, but our software stack requires the files to be indexed on Ensembl ID (gene symbols are there too).

[Script used](https://github.com/jorvis/gEAR/blob/master/bin/add_ensembl_ids_to_tab_f

[2019-06-26 19:45] apaala commented on #15
@jkanche I will play with this script as soon as I get a chance. Thanks for sharing it!

[2019-06-26 20:22] jorvis commented on #56
All of these are loaded currently except for the reduced/downsized ones posted just before this comment.  I'd at least need different titles for those (a few h5ad files are still transfering, but within the hour they should all be complete).  Again they are loaded in private mode and owned by the NeMO Curator.

[2019-07-09 15:34] seth-ament opened #63 "curator not loading available views?"
I am logged in as nemo curator and am trying to curate the dataset "Primary Motor Cortex from Mouse - Single Cell SMARTer RNAseq". It is stuck on "loading available displays" for several minutes and has not provided the dropdown.

[2019-07-09 15:38] seth-ament opened #64 "curate mini-atlas data (MOp)"
Need to set up a profile for the mini-atlas datasets. The following datasets need to be curated:

- [ ] Allen SMARTseq cells
- [ ] Allen SMARTseq nuclei
- [ ] Allen 10x nuclei
- [ ] Allen 10x cells
- [ ] Allen Human 10x nuclei
- [ ] Broad/Macosko 10x nuclei

[2019-07-09 15:43] seth-ament opened #65 "MOPs datasets do not show up as available for analysis with the scWorkbench"
None of the private single-cell datasets from the primary motor cortex show up in the scWorkbench.... e.g., Macosko Lab Primary Motor Cortex (Posterior) from Mouse Single Nuclei 10X RNAseq, Primary Motor Cortex from Mouse - Single Cell SMARTer RNAseq. Primary Motor Cortex from Human - Single nuclei 10X RNAseq, etc.

[2019-07-09 20:29] jorvis commented on #64
Is that what you want the profile to be called?  "Mini-atlas" ?

[2019-07-09 20:30] jorvis commented on #65
That's because they're not marked as public and you don't own them.  Should they be public?

[2019-07-09 20:30] jorvis commented on #65
Right now they're owned by the NeMO Curator account.

[2019-07-09 20:55] seth-ament commented on #64
I think it's best to have the profile named "primary motor cortex".

People in BICCN call it the mini-atlas, but I suppose that's meaningless jargon outside our group.

[2019-07-09 20:56] seth-ament commented on #65
I was logged in as the NeMO Curator when I had this issue. Can you see if you can replicate the issue?

[2019-07-10 17:36] jorvis commented on #65
Could you try again now?  It looks like the datatypes may have been wrong.  I don't believe I have the login information for that service account unless someone wants to mail it to me (don't put it here please.)

[2019-07-10 18:05] seth-ament commented on #65
I can now see the primary motor cortex datasets in the scWorkbench dropdown, but I get an error when I try to load them. I get the same error for all these datasets:

Action log
Failed ID was: 22cec0a6-bc8c-4743-a38c-9fb18374133c because msg: Internal Server Error
Failed to access dataset

[2019-07-11 17:00] jorvis commented on #65
I updated all the code on devel and then tested - there were a few issues, but many of these larger datasets will not currently load on production due to memory limitations.  The devel server though can currently handle them.  After my updates, the first three I tried loaded:

https://gear-devel.nemoanalytics.org/analyze_dataset.html

[2019-07-12 18:49] briangottfried commented on #63
https://gear-devel.nemoanalytics.org/dataset_curator.html#/dataset/e7eff83d-1274-4780-b5ea-263f1c22ae54/displays/new Should be working now.

[2019-07-12 18:49] #63 closed

[2019-07-12 19:12] seth-ament commented on #63
thanks -- yes, it's working now.

[2019-07-15 19:26] brianherb commented on #59
Wrote a CGI script that heavily borrows from existing CGI scripts written for single cell workbench - the script calculates PCA for dataset and saves results under 'uns' slot.

[https://github.com/nemoarchive/analytics/blob/master/projectR/Calc_Dim_Reduction.cgi](url)

[2019-07-18 14:16] #59 closed

[2019-07-18 14:28] brianherb commented on #56
Newly prepped datasets:

**Lein SMARTer nuclei**
**All data:**
/local/projects-t3/idea/bherb/NeMO_work/Lein_SMARTer_nuclei_MOp/umi_counts_Lein_SMARTer_nuclei_MOp_tsne.h5ad
**Downsampled:**
/local/projects-t3/idea/bherb/NeMO_work/Lein_SMARTer_nuclei_MOp/umi_counts_Lein_SMARTer_nuclei_MOp_tsne_Downsample10K.h5ad
**Annotation:**
/local/projects-t3/idea/bherb/NeMO_work/Lein_SMARTer_nuclei_MOp/Lein_SMA

[2019-07-19 18:03] RLC-DCPPC opened #66 "execute projectR"

[2019-07-19 18:05] RLC-DCPPC opened #67 "handle multiple types of data for the same cell"
Post-November

[2019-07-24 18:55] RLC-DCPPC opened #68 "GUI for Dimension Reduction, Projection and Subsetting"
![0_image](https://user-images.githubusercontent.com/40363469/61820434-f68bf800-ae22-11e9-8f1e-c3c81a1238a9.jpg)

[2019-07-24 19:09] RLC-DCPPC opened #69 "Add support for JSON uploads of metadata"

[2019-07-24 19:09] RLC-DCPPC opened #70 "change curator password"

[2019-07-24 19:11] RLC-DCPPC commented on #69
check with @apaala

[2019-07-24 19:12] RLC-DCPPC opened #71 "gEAR manuscript"

[2019-07-24 19:14] RLC-DCPPC commented on #71
due date :  submit  first final draft and everything working in gEAR by mid-August

[2019-07-24 20:36] briangottfried commented on #70
@carlocolantuoni - Can you email me (bgottfried@som.umaryland.edu) what you'd like to change the password to?

[2019-07-24 20:46] briangottfried commented on #69
@apaala directed me to the code here, https://github.com/nemoarchive/analytics/blob/master/scripts/converter.py. @jorvis, should https://github.com/jorvis/gEAR/blob/master/lib/gear/metadatauploader.py be extended with apaala's converter code?

[2019-07-24 21:24] jorvis commented on #69
If you don't have pressing issues to do, yes.  I just haven't been able to
do it during the conference yet.

On Wed, Jul 24, 2019 at 3:46 PM Brian Gottfried <notifications@github.com>
wrote:

[2019-07-25 14:21] #70 closed

[2019-07-25 14:34] seth-ament commented on #70
@briangottfried Thanks! Could you send an email to Carlo, Brain H., Alex, Josh, Ronna, Anup, and me, providing the new password?

[2019-08-06 05:36] jorvis commented on #69
There were several commits which added JSON parsing support here, but the last was this one:

https://github.com/jorvis/gEAR/commit/1593d49357daff626c98f86e80df234a3d7083b0

Carlo gave me example input data, and the issue preventing us from moving forward is that the interface uploader doesn't support the NeMO specific file formats planned for thecron script planned with Apaala.  So while the JSON

[2019-08-06 05:36] #69 closed

[2019-08-06 06:34] carlocolantuoni commented on #69
i though after the json issue, i could just upload .tab files - is that not
the case?
if not, should we create a ticket for the chron job?
what is the shortest road to get data uploaded to gEAR/NeMO for the brain
development data environment?
Carlo

On Tue, Aug 6, 2019 at 1:36 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2019-08-06 06:39] jorvis commented on #69
Dude, go to sleep!

Yes, if the files are expression.tab, genes.tab and observations.tab in a tarball you will be able to use the web uploader to process them.  Apaala's work is what is needed to get it to both recognize the names formatted as you have them and all the other additions, PCA, etc.

Let's chat tomorrow?

[2019-08-06 17:35] #65 closed

[2019-08-14 13:37] RLC-DCPPC commented on #66
Closing as the is duplicates #68

[2019-08-14 13:37] #66 closed

[2019-08-19 18:27] brianherb commented on #56
The last dataset that can be processed is done. I'm going to close this ticket - if in the future the Marmoset and MERFISH data becomes available, we can create a new ticket for them.

This methylation data is summarized by gene or by 100K base pair bins. For now I processed the gene-centric dataset, I figure it would work best with NeMO analytics - but note that tsne clustering is based on 100K b

[2019-08-19 18:27] #56 closed

[2019-08-19 18:30] brianherb commented on #61
Are there datasets not mentioned in tickets #56 and #58 that still require processing?

[2019-09-12 17:08] jkanche opened #72 "TrackHub integration"
I did not see any existing ticket for this -

NEMO\gEAR will create hub(s) using the[ UCSC trackHub](https://genome.ucsc.edu/goldenPath/help/hgTrackHubHelp.html) format, one such track hub is http://data.nemoarchive.org/nemoHub/

Epiviz would parse these trackhub files to load datasets into the file server

@jorvis , I implemented a trackhub parser in epiviz (https://github.com/epiviz/epivizFilePa

[2019-09-27 14:41] RLC-DCPPC opened #73 "Generate demonstration dataset for integrated data visualization with EpiViz"

[2019-09-27 14:43] casalex commented on #73
ATAC-seq bigwigs generated

[2019-09-27 14:44] RLC-DCPPC opened #74 "Explore clusters from the Integrative analysis with Epiviz"

[2019-10-02 15:46] jorvis opened #75 "Incorrect gene symbols in POU3F2oeNPC"
Carlo - Are you responsible for the dataset here?

/local/projects-t3/NEMO/incoming/brain/other/grant/development/Sament/POU3F2oeNPC

It failed our upload processing because none of the genes could be looked up.  Looking into the gene symbol (index) column, they are all like this:

15176.RN28S1
41553.RN28S1
6185.A_33_P3396434
53475.RPS2
6444.EEF1A1
22702.ZNF865
21636.RPL13
57926.PQLC2
26165.RPS27

[2019-10-02 18:23] carlocolantuoni commented on #75
yes - thats all right.
the data come from seths group.
i moved it in.
the proper gene symbols are in the gene/row meta data file in the
"gene_symbol" column - can you use those?

On Wed, Oct 2, 2019 at 11:46 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2019-10-02 18:29] jorvis commented on #75
I could modify the data to work, but brought it up so hopefully we can address the issue upstream so that our automated scripts will work on them.  Currently the spec is that the files will have a first/index column of either ensembl IDs or gene symbols.  Anything else and the scripts tho process them in an automated fashion will break.

[2019-10-02 18:35] carlocolantuoni commented on #75
ok - i will reformat and reupload

On Wed, Oct 2, 2019 at 2:29 PM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2019-10-06 16:24] carlocolantuoni commented on #75
i re- uploaded it with gene symbols as rownames to:
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/Sament/POU3F2oeNPC

also - i cant find "ARKctxDevo400sc" under the datasets for the NemoCurator - how can i find it?

[2019-10-06 16:24] #75 closed

[2019-10-07 14:21] jorvis commented on #75
To the user menu in the upper right and go to Dataset Manager.  You'll need to have or create a profile you want to add the dataset to, then search for the dataset by entering "ARKctxDevo400sc" in the search box under the heading "Find other public datasets".  Then add it to your profile so it will show up on the front page when you have that profile selected.
![Screenshot from 2019-10-07 09-19-25

[2019-10-16 00:43] jkanche commented on #74
I setup a very preliminary instance for exploring clusters at

[2019-11-13 19:46] RLC-DCPPC opened #76 "Submit paper with BICCN release (-ARchive and -Analytics)"
3 month goal to watch

[2019-11-13 19:47] RLC-DCPPC opened #77 "profiles for flag ship papers"
8 back-to-back Nature papers

- Kriegstein
- Lein

[2019-11-22 18:04] brianherb opened #78 "Control color of plots in side-by-side plots"
It would be nice to add the ability to both adjust the range of colors on the gene expression plot and allow the user to use their own colors for the cluster plot. Right now, the blue-white-red range for gene expression causes middle-expressed genes to be washed out(displaying as white). Also, since we are hosting miniatlas data - it would be good to use the colors they use in their publications.

[2019-11-22 18:16] seth-ament commented on #78
Agreed. The default color scheme here should be a single-gradient (e.g., white-->red) not a double-gradient (e.g., blue-->white-->red).

[2019-11-22 20:28] hertzron opened #79 "Action items & notes from BICCN phone call 11/22/2019"
Overall very positive feedback for the utility of NeMO Analytics.
Requests to prioritize:
- changing coloring of expression to monchromatic on the static tSNE as the middle range (white) is confusing --> Joshua
- Match the cluster coloring to the BICCN established colors for different levels of clusters (3 leves of clustering, and have all three levels available per dataset) --> Brian
- Make gene-

[2019-11-22 20:34] jkanche commented on #79
I think the last time Alex helped me on this, we generated bigwigs for 3 clusters of 10 samples each from rna and atac. I was under the impression that we will have a Trackhub setup for datasets going forward and Epiviz reads files from this hub ?

[2019-11-22 20:35] jkanche commented on #73
isn't this same as #74 ?

[2019-11-22 22:13] mukamel-lab commented on #79
Thanks for presenting today, Ronna - Indeed we are very excited about these tools.

Adding to your list: For the color scheme matching a good first step would be to ensure that when you display multiple datasets showing the same types of cells (e.g. all the BICCN transcriptome datasets), you should use the same colors for clusters/cell types with the same name. Currently it looks like this is not

[2019-11-23 11:11] hertzron commented on #79
Agreed. This may require building 'color palattes' by organ/system e.g.,
'BICCN', 'EAR' etc or 'custom' which may work so long the convention to
name a cell type is consistent.

On Fri, Nov 22, 2019 at 5:13 PM mukamel-lab <notifications@github.com>
wrote:

[2019-11-23 22:03] mukamel-lab commented on #79
Maybe there could be some kind of (optional) unique ID for cell types supplied by the uploader. When the unique ID is present in multiple datasets, it coordinates the display so they have matching colors. This might be better than relying on the name, which could "accidentally" match across unrelated datasets?

[2019-11-25 16:18] jorvis commented on #79
If you have any existing color palette conventions you could send along
(and, ideally, a dataset to go with it) I'd like to see them in order to
better plan an implementation here.

Joshua

On Sat, Nov 23, 2019 at 4:03 PM mukamel-lab <notifications@github.com>
wrote:

[2019-12-06 22:43] mukamel-lab commented on #79
Hi Joshua -

See the attached draft figure that has a color scheme for each cluster.  There is also this:

https://www.dropbox.com/home/BICCN%20MiniBrain%20JointDataAnalysis/Mini-Atlas%20Publication%202019/Transcriptome_jointAnalysis?preview=subclass_colors.csv
[cid:275039C2-D9A8-4A4B-9D47-B217A1BE0DE4@ucsd.edu][cid:F595577F-1FA6-4B3C-AAED-FE87F4328E3B@ucsd.edu]
Eran A. Mukamel
Assistant Professor

[2019-12-11 16:07] brianherb opened #80 "Plot single tsne for profiles with common clustering across samples"
use case: the miniatlas profile uses a common clustering for all samples - someone on our last call with the miniatlas folks noted that it would be nice to present the data in a single plot, where we can control which samples are shown together or independently. I wonder if this can be easily accomplished by producing a series of static images, then just displaying them in the same window on the b

[2019-12-13 20:44] RLC-DCPPC opened #81 "Resolve universal sample name issue"
discuss and resolve an issue relating to h5ad ids and sample names.

Suggest a meeting among Brian, Heather, Shaun and Apaala

[2019-12-13 20:46] RLC-DCPPC opened #82 "integrate metadata"
support tab analysis files

[2019-12-13 20:46] RLC-DCPPC opened #83 "put ingest cron in place"

[2019-12-19 20:31] #53 closed

[2019-12-19 20:37] apaala commented on #6
Currently the converter is able to make h5ad files given mex and 3 tab counts (not analysis) files. I have implemented the metadata extraction for mex files and tested it on a handful of datasets. Due to some format inconsistency further testing with different mex datasets (from different sources) would allow us to account for variations. @jorvis has tested it to check if it pushes to the google s

[2019-12-19 23:34] hertzron opened #84 "Correction to a dataset in the HRP profile"
Joshua/Yang - please see note from Jenny Stone:

Hey Ronna,

Please relabel this dataset as Adult USC (utricular extrastriolar SC) versus NUSC (striolar SC and HC)

(I.e. NOT "rest of utricle”)

Jenny

![image](https://user-images.githubusercontent.com/17456863/71218066-2afac780-228e-11ea-943a-e682cae6482a.png)

[2020-01-06 20:45] jorvis commented on #84
I have done this. (and I assume you meant for this to be within gEAR rather than NeMO Analytics.

[2020-01-06 20:45] #84 closed

[2020-01-27 19:27] jorvis commented on #79
Hi, I recently completed work adding support for custom cluster coloring, but when I followed your link to grab the csv file it says it is no longer present.  Could you possibly attach it here instead?

[2020-01-27 20:02] mukamel-lab commented on #79
Is this what you mean?

#00FF66 CR
#DA808C Lamp5
#D633FF Sncg
#B864CC Vip
#FF9900 Sst
#D93137 Pvalb
#C4EC04

L2/3 IT
#50B2AD L5 IT
#A19922 L6 IT
#0D5B78 L5 ET
#5100FF L6 IT Car3
#3E9E64 L5/6 NP
#2D8CB8 L6 CT
#53377D L6b
#665C47 Astro
#2E3E39 Oligo
#8D6C62 Endo
#807059 SMC
#665547 Peri
#697255 VLMC
#94AF97 Macrophage

Eran A. Mukamel
Assistant Professor of Cognitive Science
University of California

[2020-01-28 18:25] jorvis commented on #79
Yes that should work nicely.

[2020-02-04 17:20] apaala opened #85 "Find moved files - cron uploader"
If a file has been moved from the path that is indicated in the log file, we need to use the diff file to find the new path. They will have the tag "CHANGED_DIR" in the diff file.

[2020-02-04 17:21] apaala opened #86 "Tab Analysis File - cron uploader"
Integrate tab analysis files into the adata object.

[2020-02-04 17:23] apaala opened #87 "JSON metadata flexibility- metadatavalidator.py/cron uploader"
The metadata validator rejects files that don't allow a very specific format. That might be hard to get everyone to do. Jayaram mentions Json Schema, which can help with that issue. (example of a scenario is when a field is given "" value.)

[2020-02-04 17:25] apaala opened #88 "Spiny gear DB -cron uploader"
Check to see if the DB is running otherwise we do the analysis and create files but the script fails.

[2020-02-04 17:26] apaala opened #89 "Create log files - cron uploader"
A log file with what log files were processed, where the files were saved and UID

[2020-02-04 17:34] apaala opened #90 "Set up cron to run uploader"
Set up cron job once it is confirmed that we are good to go and the log file component is ready

[2020-02-04 18:05] jkanche commented on #87
a library to validate json schemas - https://json-schema.org/

They have implementations for different languages

[2020-02-05 19:46] #82 closed

[2020-02-05 19:53] apaala opened #91 "Process New DS sent over by Carlo"
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/AllenBrain/BrainSpanBulkDevo/

/autofs/encrypted/NEMO/incoming/brain/other/grant/development/Huttner/HuttCtxDevoLMDhs/

[2020-02-06 00:15] carlocolantuoni opened #92 "Upload and test 40k single cell RNAseq data set "CtxDevoMidGestGesch40k""
i just put this data in:
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/Geschwind/CtxDevoMidGestGesch40k

[2020-02-10 03:19] jorvis opened #93 "Louvain step failing to start"
Current log in the console when you try to start it.

Tested dataset: Primary Motor Cortex from Mouse - 10X_cells_v3_AIBS

Javascript console error:
Populating group selectors with:
analysis.4785962.js:422 Uncaught ReferenceError: ana is not defined
    at AnalysisStepCompareGenes.populate_group_selectors (analysis.4785962.js:422)
    at run_analysis_louvain (analyze_dataset.5432844.js:832)
    at

[2020-02-10 03:30] jorvis commented on #93
Confirmed this is happening on gEAR production too.

[2020-02-10 03:49] seth-ament opened #94 "Single-dataset 'View' is not working"
Thumbnails load extremely fast, but when I click View for a dataset it fails to display. Tested dataset is 'Primary Motor Cortex from Mouse - 10X_cells_v3_AIBS'.

[2020-02-10 05:30] jorvis commented on #94
Can you give a bit more information here?  What page were you on when you
saw these thumbnails?  View button on which page?

On Sun, Feb 9, 2020 at 9:49 PM Seth Ament <notifications@github.com> wrote:

[2020-02-10 05:43] seth-ament commented on #94
This seems to be an issue for all the datasets on the BICCN Integrated and BICCN Molecular profiles. The older Cortical Development profile continues to work fine. The View button I'm referring to is the one on the dropdown in the upper-right hand corner of the thumbnail. When I click the button, I see the banner for the dataset, but it never loads the tSNE image.

[2020-02-11 04:04] jorvis opened #95 "Page titles say 'gEAR' rather than NeMO Analytics"
This is HTML page titles, so what shows up in the tab/browser banners.

[2020-02-11 04:04] #93 closed

[2020-02-11 19:50] apaala commented on #91
@carlocolantuoni Here is the error for one of the datasets:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/common/Python-3.7.2/lib/python3.7/site-packages/scanpy/readwrite.py", line 78, in read
    backup_url=backup_url, cache=cache, **kwargs)
  File "/usr/local/common/Python-3.7.2/lib/python3.7/site-packages/scanpy/readwrite.py", line 470, in _read

[2020-02-11 21:25] apaala commented on #91
The other file did not give me this error... I was able to make a h5ad object out of it. It has not been pushed to the google server yet.

[2020-02-12 05:32] carlocolantuoni commented on #91
it looks like it it detecting twice as many columns (rows once it is
transposed) as there should be there.
however, there are 498 columns in the DataMTX.tab file when i open it - as
there should be.
do u see 498 columns/samples when u open the .tab file?
any idea why it thinks there are 996?
or is there another problem that i am not understanding in these errors?

On Tue, Feb 11, 2020 at 2:50 PM a

[2020-02-12 15:45] carlocolantuoni commented on #91
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/AllenBrain/BrainSpanBulkDevo

On Wed, Feb 12, 2020 at 12:32 AM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2020-02-12 17:46] apaala commented on #91
@carlocolantuoni I was able to process the first file too after editing the Metadata and DataMatrix. Brian was right the spaces were throwing it off.

[2020-02-12 19:04] carlocolantuoni commented on #91
Great - should we avoid spaces in colnames in the future?

Or is it better to fix this in the processing script?

Thnx,
Carlo

On Wed, Feb 12, 2020, 12:46 apaala <notifications@github.com> wrote:

[2020-02-12 19:18] #95 closed

[2020-02-12 19:47] jorvis commented on #91
For now I'd say avoid spaces then, especially given how many dependent libraries there are at work here which might also have issues with them.

[2020-02-12 19:50] carlocolantuoni commented on #91
Ok, but im guessing spaces will come up in other instances as well so we
might want to make it robust wen we get a chance.

On Wed, Feb 12, 2020, 14:47 Joshua Orvis <notifications@github.com> wrote:

[2020-02-12 19:55] jorvis commented on #91
I agree.

https://github.com/jorvis/gEAR/issues/627

[2020-02-14 04:14] mukamel-lab commented on #79
Hi Joshua - I see that your name is on the author list for the BICCN paper but there’s no email or affiliation listed. Could you please enter these?

https://docs.google.com/spreadsheets/d/1WPV9xqI516REptn9Z6zUrCrxqW5Qyu9oPJMU2l-ZJ5U/edit?usp=sharing

Thanks,
Eran

Eran A. Mukamel
Assistant Professor of Cognitive Science
University of California, San Diego
emukamel@ucsd.edu<mailto:emukamel@ucsd.ed

[2020-02-19 15:01] seth-ament commented on #94
@jorvis this is still an issue. Any progress on diagnosing the problem? I would like to get it fixed this week, since the paper describing these datasets is going to be posted on bioRxiv with a link to NeMO Analytics.

[2020-02-19 15:03] seth-ament opened #96 "Make BICCN Mini-Atlas (Transcript) the default profile"

[2020-02-19 15:54] jorvis commented on #94
No, I haven't looked at it.  Thanks for letting me know it's on a priority list though.

[2020-02-19 16:15] jorvis commented on #96
Done

[2020-02-19 16:15] #96 closed

[2020-02-19 18:13] seth-ament commented on #94
Appreciate the help. Thanks!

[2020-02-20 02:39] carlocolantuoni opened #97 "minor - mouse over on NeMO graphics reads "gEAR Home" (and text in graphic is blurred)"
also the mouse over for the "set as primary" button in the data set manager reads "use profile in gEAR search"

[2020-02-20 02:40] carlocolantuoni opened #98 ""add to this profile" and "remove from profile" buttons are absent or greyed out when in dataset manager in the NeMO currator account."
i cant see how to add and remove data sets from the currator acconut

[2020-02-20 15:58] jorvis commented on #98
This is part of the reason the dataset manager needs a rewrite. I assume what you mean here is that you're trying to use the curator account to modify one of the site's main profiles?  They cannot be edited that way, but the curator account could create new profiles and edit them as usual.  If you want one of the primary profiles to be edited we currently have to change ownership to the curator, e

[2020-02-20 16:09] seth-ament commented on #98
Thanks, @jorvis! Carlo's immediate goal is to update the cortical development profile with several new datasets. Carlo, could you give Joshua a list of the datasets you want in the profile and the order in which you'd like them to be displayed?

[2020-02-20 16:19] hertzron commented on #98
Thanks all. Lets have Joshua manage the profiles for now based on our
requests. Once the gEAR manuscript is written, we will be able to
prioritize the development. However, lets try to minimize requests other
than 'essential' 'emergency' or 'absolutely needed for NeMO analytics right
now' for the next 14 days. I appreciate your understanding and cooperation.

On Thu, Feb 20, 2020 at 11:09 AM Seth

[2020-02-20 17:09] seth-ament commented on #98
Hi Ronna, that seems reasonable. I do think it's urgent to have an updated set of cortical development datasets visible, since everything in Analytics will get some increased traffic with Eran's paper. But we can try to minimize Joshua's time to do it. Carlo, can you and Joshua coordinate on a one-time update of the cortical development profile sometime in the next week?

[2020-02-20 18:19] hertzron commented on #98
This is great! Thanks so much.
Ronna

On Thu, Feb 20, 2020 at 12:09 PM Seth Ament <notifications@github.com>
wrote:

[2020-02-20 19:16] carlocolantuoni commented on #98
i am ok with this, but couldnt we just specify currator as the owner of all
the datasets (those in the Cortical Development profile already, plus a few
i specify) and then i could do it all without asking joshua any details?
who is specified as the current "owner" of the Cortical Development
datasets?

On Thu, Feb 20, 2020 at 1:19 PM hertzron <notifications@github.com> wrote:

--
Carlo

[2020-02-20 20:07] apaala commented on #90
This is blocked by the upload to google cloud functionality not working.

[2020-02-20 20:55] carlocolantuoni commented on #98
another, perhaps simpler, option -
i could just create a brand new profile under curator and edit/arrange etc,
and then we could make it one of the "primary profiles" when ready (again,
this would not take any joshua time, except for making it a primary profile
at the end)

On Thu, Feb 20, 2020 at 2:16 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2020-02-20 20:57] #89 closed

[2020-02-20 21:07] carlocolantuoni commented on #98
Also relevant here to the construction of the Neocortical Development
profile:

 the last few datasets i uploaded are not yet available because of the
google upload issue apaala has highlighted

On Thu, Feb 20, 2020, 15:55 Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

[2020-02-26 18:15] adkinsrs commented on #94
Believe this is a memory error via generating the zoomed plot.   This also occurs in the gEAR portal as well for tSNE plots.

`[Wed Feb 26 18:11:41.278289 2020] [wsgi:error] [pid 24960] [remote 134.192.135.254:61549] [2020-02-26 18:11:41,249] ERROR in app: Exception on /plot/c4f16a12-9e98-47be-4335-b8321282919e/tsne [GET]
[Wed Feb 26 18:11:41.281671 2020] [wsgi:error] [pid 24960] [remote 134.192.1

[2020-02-27 18:55] adkinsrs commented on #94
Opening branch "tSNE_zoom" to implement this request.  In a nutshell, what I found was the js/classes/display.js code block for drawing the zoomed tSNE image was creating the HTML template portion for the page, but was not creating the tSNE image.

[2020-02-27 19:05] adkinsrs commented on #94
Pull Request issued in gEAR... Issue 646

[2020-02-28 19:47] apaala commented on #90
@jorvis

Here is the command I am using, maybe it will work for you:
/usr/local/common/Python-3.7.2/bin/python3 /local/projects-t2/achatterjee/analytics/cron_uploader/nemo_upload_crawler.py -ilb /local/scratch/achatterjee/NEMO/Converter/2IN/ -ob /local/scratch/achatterjee/NEMO/Converter/2Out/

The error I get when I try to do the upload:
INFO: Uploading these files to the cloud bucket: /local/scra

[2020-02-28 23:01] hertzron opened #99 "Connect gEAR and DVD (Deafness Variation Database)"
Hi Ronna and Joshua,

I am happy to take a look at this again. Looking back through some emails, it looks like Joshua and I had some communication on this. Joshua, let’s get in touch and discuss the steps to implement this.

Looking forward to making this happen! Thanks,

Rob

Robert Marini

Application Developer | Deafness Variation Database

Molecular Otolaryngology & Renal Research Laboratory

[2020-02-29 00:11] carlocolantuoni commented on #99
The work on integration of gene lists that we have proposed with ARIA could
be very useful to you here - lets chat next time we teleconf.
Carlo

On Fri, Feb 28, 2020, 18:01 hertzron <notifications@github.com> wrote:

[2020-02-29 00:25] hertzron commented on #99
Hi Carlo,

The idea here is to connect based on gene symbol similar to how the SHIELD
and other 'link outs' are connected. So when someone is looking up a gene
in the DVD they can click 'gEAR' and see it, and when they look in gEAR, if
the gene has an entry in the DVD, then the link will be enabled.

What did you have in mind?

Best,
Ronna

On Fri, Feb 28, 2020 at 7:11 PM Carlo Colantuoni <notific

[2020-02-29 02:19] carlocolantuoni commented on #99
If there are lists of genetic hits in the  Deafness Variation Database, we
can project them into your hearing relevant data sets to map genetics onto
cell types and the temporal dynamics of auditory development.

On Fri, Feb 28, 2020, 19:25 hertzron <notifications@github.com> wrote:

[2020-03-02 19:58] apaala commented on #91
@carlocolantuoni @jorvis

I was able to successfully upload the files to google (I was trying to use the key I made instead of nemo-analytics__archive-file-transfer.json. I have processed BrainSpanBulkDevo and HuttCtxDevoLMDhs (without tab analysis) and pushed them to the bucket.  In order for @carlocolantuoni to see them @jorvis will need to start a cron on the server.

If Carlo wants to check ou

[2020-03-02 20:26] apaala commented on #92
@carlocolantuoni  @jorvis

 Upon replacing "" with "NA" in the metadata file, I was able to upload these to the bucket.

[2020-03-02 20:32] apaala commented on #6
Was able to successfully push files by Carlo to the bucket. The analysis still remains to be incorporated. Currently, the converter converts mex and tabcount datasets, uploads them to the bucket and writes to the log file details about the processing.

This converter has not been exhaustively tested.

[2020-03-03 01:13] carlocolantuoni commented on #6
Great, we will work on incorporation of analyses/dimension reduction soon
when we begin to implement projectR in NeMO.
Thanks,
Carlo

On Mon, Mar 2, 2020, 15:32 apaala <notifications@github.com> wrote:

[2020-03-03 01:14] carlocolantuoni commented on #92
Great, ill see if they are visualized efficiently in the NeMO Neocortical
Development environment.
Thanks,
Carlo

On Mon, Mar 2, 2020, 15:26 apaala <notifications@github.com> wrote:

[2020-03-03 01:18] carlocolantuoni commented on #91
I think we should go ahead and look at things now ignoring the extra
analyses, which will take a while.

Ill take a peek tonight unless joshua still needs to "start a cron on the
server" as apaala mentioned.

Let me kno if i should proceed or wait.

Thnx,
Carlo

On Mon, Mar 2, 2020, 14:58 apaala <notifications@github.com> wrote:

[2020-03-03 07:42] carlocolantuoni commented on #98
trying to make some new views - i had this problem when i tried to use the "static" side-by-side tSNE plots - it looked right, but so small:
![image](https://user-images.githubusercontent.com/33464702/75753301-79016200-5cf8-11ea-813a-0d8775a84e12.png)

[2020-03-03 07:46] carlocolantuoni commented on #98
and when i click VIEW i get no visualization of any kind.

[2020-03-03 08:11] hertzron commented on #98
Hi Carlo,

Side by side tSNE is designed to be set through the dataset manager as ‘3 box wide’. Did you try that?

Not sure why ‘view’ is not working, we should look into that.

Best,
Ronna

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Tuesday, March 3, 2020 2:42:05 AM
To: nemoarchive/analytics <analytics@norepl

[2020-03-03 09:23] carlocolantuoni commented on #98
Thnx

On Tue, Mar 3, 2020, 03:11 hertzron <notifications@github.com> wrote:

[2020-03-03 09:39] carlocolantuoni commented on #98
i am getting this when i try to save the 3 wide arrangement:
" *Oops! *Not able to save layout arrangement. User must be logged in and
own the dataset."

On Tue, Mar 3, 2020 at 4:23 AM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2020-03-03 13:48] carlocolantuoni commented on #91
i cant see any of the new data, so guessing theres another step to be done - let me know when they are up in NeMO.
thnx

[2020-03-03 15:18] apaala commented on #91
@jorvis will probably be able to let you know how much time it will take but based on my conversation with him last he mentioned that it should be quick. From what I understand he needs to do something to move the files from the bucket so it's accessible to gear.

[2020-03-03 21:22] apaala commented on #90
The cron shell script that calls the uploader is in place here /local/projects-t3/NEMO/cron_upload_log. We need to decide where the output files (h5ad) will be stored before uploading to server.

[2020-03-06 16:46] carlocolantuoni commented on #98
i am trying to create a static tSNE scatter for the data sets "ARKctxDevo400sc" but the option does not come up in the pull down menu - what does the system check to enable this?

in addition, i cant get any view of gene expression data from "ARKctxDevo400sc" to display. I am currently assembling views in the CarloTEMP profile under curator.

also - when a static scatter is created the X and Y axe

[2020-03-06 16:50] hertzron commented on #98
I think we probably should not mention on figure ‘tSNE’ umap etc but just coordinates.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Friday, March 6, 2020 11:46:49 AM
To: nemoarchive/analytics <analytics@noreply.github.com>
Cc: hertzron <hertzron@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nem

[2020-03-06 16:58] hertzron commented on #98
I think we probably should not mention on figure ‘tSNE’ umap etc but just
coordinates.

Get Outlook for iOS <https://aka.ms/o0ukef>
------------------------------
*From:* Carlo Colantuoni <notifications@github.com>
*Sent:* Friday, March 6, 2020 11:46:49 AM
*To:* nemoarchive/analytics <analytics@noreply.github.com>
*Cc:* hertzron <hertzron@gmail.com>; Comment <comment@noreply.github.com>
*Subject:*

[2020-03-06 16:58] hertzron commented on #98
Hi Carlo,

Side by side tSNE is designed to be set through the dataset manager as ‘3
box wide’. Did you try that?

Not sure why ‘view’ is not working, we should look into that.

Best,
Ronna

Get Outlook for iOS <https://aka.ms/o0ukef>
------------------------------
*From:* Carlo Colantuoni <notifications@github.com>
*Sent:* Tuesday, March 3, 2020 2:42:05 AM
*To:* nemoarchive/analytics <analytics@n

[2020-03-11 15:03] carlocolantuoni opened #100 "cant make static tSNE plot for data set "ARKctxDevo400sc""
i am trying to create a static tSNE scatter for the data sets "ARKctxDevo400sc" but the option does not come up in the pull down menu - what does the system check to enable this? I am currently assembling views in the CarloTEMP profile under curator.

[2020-03-11 20:38] hertzron opened #101 "allow 'compare two clusters' in the workbench without having to first 'identify marker genes'"
The workbench currently requires one to 'identify marker genes' before 'comparing any two clusters'. Some users many not be interested in the marker genes (a function that takes longer) and may want to just compare two clusters. I don't think that the computes are connected. Can these be decoupled so that one does not have to complete one before doing the other?

[2020-03-13 20:03] jorvis commented on #100
You said 'data sets' but I only see one with that in the title:

accafd8b-0354-4602-8626-4b5f5ada1d4f - ARKctxDevo400sc

It looks for an analysis where there's a stored tSNE.  I don't see that in this dataset.  Here's a list of the stored attributes:

---------------------------------------------
---------------------------------------------
Observation columns:
        CellID
        Cell

[2020-03-14 01:58] carlocolantuoni commented on #100
Yes, there is only the 1 ARKctxDevo400sc data set.

What we are currently referring to as a "tSNE" plot is actually just a
scatter of any 2 values. in this case i want to use the PCs in the sample
meta data to scatter the samples. UMAP will also be used a lot in this way.
It might be easier to drop the auto checks and just let the user ask for
that visualization when they need it - they could use

[2020-03-16 09:47] carlocolantuoni opened #102 ""arrangement" button greyed when editing NeoCortical Development profile as curator"
dont know why this is, but i cant rearrange any of the windows and this profile is a mess and is live.

[2020-03-16 09:57] hertzron commented on #102
Are you logged in as curator? I suspect someone logged in as curator made changes to the default displays (I saw this too last week) and because the curator owns the datasets it made these new selections what everybody sees.

Let’s start by changing the display bac to better choices.

For arranging, because it’s a public profile it requires you to be an administrator. But I think the deviations ar

[2020-03-16 15:39] hertzron commented on #102
Are you logged in as curator? I suspect someone logged in as curator made
changes to the default displays (I saw this too last week) and because the
curator owns the datasets it made these new selections what everybody sees.

Let’s start by changing the display bac to better choices.

For arranging, because it’s a public profile it requires you to be an
administrator. But I think the deviations ar

[2020-03-16 18:57] carlocolantuoni commented on #102
Yes i was logged in as curator

On Mon, Mar 16, 2020, 05:57 hertzron <notifications@github.com> wrote:

[2020-03-16 19:15] hertzron commented on #102
Carlo - when logged in as curator, when you choose a new display as
'default' does it fix the problem?

On Mon, Mar 16, 2020 at 2:58 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-03-16 22:16] carlocolantuoni commented on #102
The "default" display choice is when curating a single dataset view, right?
i am having a problem when using the data sets manager for the cortical
development profile as curator. So i cant arrange where each dataset
appears or how large it is.

On Mon, Mar 16, 2020, 15:15 hertzron <notifications@github.com> wrote:

[2020-03-16 22:25] hertzron commented on #102
The arrangement in the page - you can’t change in a public profile. Make a new profile, build it as you like, and we could the swap it out. When a profile is public only the administrator can change order.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Monday, March 16, 2020 6:16:45 PM
To: nemoarchive/analytics <

[2020-03-16 22:29] carlocolantuoni commented on #102
ok, but someone needs to setup that profile as it is not useable now - and
it is live

On Mon, Mar 16, 2020 at 6:25 PM hertzron <notifications@github.com> wrote:

--
Carlo

[2020-03-16 22:36] carlocolantuoni commented on #91
hey apaala and joshua - i thought the new datsets were pulled in past this step and reasy in NeMO Analytics, but i cant see them - did they not make it all the way thru after correction of the meta data etc?

[2020-03-16 22:46] apaala commented on #91
@carlocolantuoni last I communicated with @jorvis I think there was some confusion around which files we wanted to use... We had edited the metadata and re-uploaded it. In order to re-upload it, I had to delete the lines from the log file that had the previous UIDs. The two new UIDS of fixed uploaded dataset are:
db69f24f-ca14-4a38-9423-57af5c5b0f14
339aeb36-d3ad-48bf-9ce9-688189331689
and the one

[2020-03-16 23:22] hertzron commented on #102
Currently only Joshua has administrator rights. However, if you make a new
one 'to swipe out' then he could do that easily.

On Mon, Mar 16, 2020 at 6:29 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-03-16 23:24] carlocolantuoni commented on #102
ya - working on that now 👍

On Mon, Mar 16, 2020 at 7:23 PM hertzron <notifications@github.com> wrote:

--
Carlo

[2020-03-16 23:25] carlocolantuoni commented on #91
hey joshua,
know where this is currently stuck?
carlo

On Mon, Mar 16, 2020 at 6:46 PM apaala <notifications@github.com> wrote:

--
Carlo

[2020-03-17 19:47] apaala commented on #91
@carlocolantuoni I think Joshua is out until Friday.

[2020-03-19 17:46] jorvis commented on #102
Status here?  I'll be online a bit today and could make needed changes.

[2020-03-19 17:46] jorvis commented on #91
You should be able to see these now.  Please re-open if there are any issues.

[2020-03-19 17:46] #91 closed

[2020-03-20 14:37] carlocolantuoni commented on #102
im still building the "alternate" view - will let you knwo when we should swap it in as the main "Neocortical Development" profile

[2020-03-20 14:40] carlocolantuoni commented on #100
@jorvis - can you make a static scatter plot an option for all data sets?
perhaps in addition to the 2D static scatter you already have, can we also make static scatters such as age or time (selected by user) on the x-axis, and expression on the Y? i ask as the dynamic plots generated now use only about 30% of the space in there box and are often hard to see.

[2020-03-20 14:55] carlocolantuoni commented on #91
fyi - it looks like data set "HuttCtxDevoLMDhs" was pulled in twice

[2020-03-20 14:57] carlocolantuoni commented on #92
hey guys - i saw the other new data sets in there, but not this big one - has it been processed yet?

[2020-03-20 15:03] #98 closed

[2020-03-20 15:07] carlocolantuoni opened #103 "standard dynamic scatter plots in NeMO have no x and y axis labels"

[2020-03-20 15:07] carlocolantuoni commented on #103
am i missing how to do this?

[2020-03-20 15:17] carlocolantuoni commented on #102
to tell you the truth, i think the one im working on is ready to go, but if we make it the default Neocortical Development profile, can i still edit it, or not? the profile I am using for this is called "CarloTEMP"

[2020-03-20 16:35] apaala commented on #92
@carlocolantuoni  the uid c96c6990-55b9-48a0-b7f1-08157487a7af is CtxDevoMidGestGesch40k... It should be in the bucket...

[2020-03-20 18:57] carlocolantuoni commented on #92
ok thanks - will try to find it

On Fri, Mar 20, 2020 at 12:35 PM apaala <notifications@github.com> wrote:

--
Carlo

[2020-03-20 19:06] carlocolantuoni commented on #92
i am in the data set manager and cant get it to come up in a search with
text elements that i know are in the experiment meta data.
how would i find it in the data set manager?
carlo

On Fri, Mar 20, 2020 at 2:57 PM Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

--
Carlo

[2020-03-23 15:26] jorvis commented on #102
Carlo - Until I rewrite the dataset manager, no, once a profile is put on the front page no one but me can edit it.  Do you still want me to shift it over?

[2020-03-23 15:44] jorvis commented on #91
Apaala told me she regenerated them but I failed to remove the older one.  I saw both in the database now and just removed the one you hadn't created any curations with.

[2020-03-23 16:26] carlocolantuoni commented on #102
Lets wait if its uneditable after the move.

On Mon, Mar 23, 2020, 11:26 Joshua Orvis <notifications@github.com> wrote:

[2020-03-25 15:17] carlocolantuoni opened #104 "projectR implementation in NeMO Analytics"
Hi guys,

Another much more streamlined version of projectR implementation has come up in my head. It would most definitely be a phase1 that would have to be followed by a phase2 that would be like what brian and i have been storyboarding, but i think this would give maximum functionality for minimum software engineering:

Already, the NeMO front page has a gene search box followed by visualizatio

[2020-03-25 16:16] carlocolantuoni commented on #92
@jorvis - this is the dataset that i cant find but that apaala said was in there.

[2020-03-25 20:49] jorvis commented on #92
Carlo - Can you send the original path on the filesystem for these files?  I want to check the logs.

[2020-03-25 21:06] carlocolantuoni commented on #92
/autofs/encrypted/NEMO/incoming/brain/other/grant/development/Geschwind/CtxDevoMidGestGesch40k/

On Wed, Mar 25, 2020 at 4:49 PM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2020-03-25 21:23] hertzron opened #105 "allow skipping 'marker genes' in primary analysis"
When using the workbench for a 'primary analysis' the workbench currently mandates first doing a marker gene analysis. However, often users only want to compare two clusters and the marker gene analysis is a lengthy process.

**Can we allow users to go directly to compare two clusters if they want**? they will save a lot of time.

[2020-03-25 21:30] hertzron opened #106 "subcluster comparison using workbench"
Yang is working on a dataset that has three genotypes for each cluster. The user would like to compare between genotypes using 'compare two clusters' based on genotype and when the ability to select just a few clusters for marker genes, to compare just between genotypes within a cluster.
Right now it's not possible unless the different genotypes are uploaded as individual clusters. Is there anothe

[2020-03-26 21:15] jorvis commented on #92
Carlo -

I just got it converted and uploaded into Analytics.  I have done zero testing so far but will check on it later.  Wanted you to at least know it was there.

[2020-03-26 21:16] jorvis commented on #92
Up next is testing and performance tuning so it is usable.

[2020-03-26 21:55] carlocolantuoni commented on #92
Can i giv it a shot, or do u want to? Im happy to tinker and make views.

On Thu, Mar 26, 2020, 17:16 Joshua Orvis <notifications@github.com> wrote:

[2020-03-26 22:11] jorvis commented on #92
You can certainly try, yes.  I just mean there are some performance ideas I
want to try that should help here.

On Thu, Mar 26, 2020, 4:55 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-03-27 04:57] carlocolantuoni commented on #92
oh - cool - im trying to curate a view for this right now - took a long
time to load the 1st pull down menu for "display type" ... maybe 1 min.
waited >20 min for gene pull down menu, but menu never activated. guessing
it pulls in the data to chk available gene names?

btw - why does the user need to enter a gene name? the user does this for
any gene from the front page after setting up the view,

[2020-03-27 05:37] carlocolantuoni opened #107 "no access to saved analysis when trying to curate view for "Human Fetal Cortex scRNAseq (Nowakowski et al. 2017 Science)""
hey - i made a saved analysis in the workbench for the data set "Human Fetal Cortex scRNAseq (Nowakowski et al. 2017 Science)" and then tried to use in for visualization using "Curate", but when i try to use a "stored analysis" it says there are none. is this not how it is supposed to be used? am i missing something?

[2020-03-27 17:25] jorvis opened #108 "Make cross-species profiles available for paper submission"
Way too much conversation/requests about this in Hangouts, Slack, e-mail, etc. so consolidating here.

Profiles:
- "Motor Cortex Cross Species"
- "Motor Cortex Merged Species"

Current issues:

- [x] Pull custom colors from each H5 file and apply them to tSNEs
- [x] The bar plots for GABAergic neurons are a little too crowded, since there are the most subtypes to display. Is there a way to adjust

[2020-03-27 18:44] brianherb commented on #108
For the merged datasets, you can use the 'subclass_label' column in the .obs for primary analysis

[2020-03-27 18:50] brianherb commented on #108
To fix colors - the columns are named to match *_label with *_color - so to match the colors in the paper, the Motor Cortex Merged Species profile can use the 'species_color' column in the .obs slot (or subclass_color if we are coloring by cell type). Also, the Motor Cortex Cross Species profile can use the 'subclass_color' column in the .obs slot to match the colors in the paper.

[2020-03-27 21:14] hertzron commented on #108
Hi Joshua,

The primary analysis is working but when I use it on the violin plots it
does not separate by species (mouse/human/zebrafish) even though the
violins show it. Here is a screen shot.

[image: image.png]

Best,
Ronna

On Fri, Mar 27, 2020 at 2:50 PM Brian Herb <notifications@github.com> wrote:

[2020-03-27 22:07] jorvis commented on #108
The issue with the comparison tool is that all of these datasets have a large number of columns and when it generates the condition list it's assuming these are all possible valid grouping conditions.  Obviously this needs to be refactored to let the user select which to include rather than assuming all.  Later tonight I'll have to add the columns from these particular dataset to an exclusion list

[2020-03-28 04:47] carlocolantuoni opened #109 "Is a categorical X-axis possible in dynamic a scatter plot?"
for example, anything like the X-axis groupings in these:

![image](https://user-images.githubusercontent.com/33464702/77814765-8fe26c80-708a-11ea-98c9-2775073ab821.png)

[2020-03-31 12:50] apaala commented on #90
@jorvis I am not sure if this is ready to be put in place yet, are we in a position to set up the cron? @carlocolantuoni was asking about some datasets he needs uploaded and I am trying to figure out if I should just run it manually or wait for the cron...

[2020-03-31 17:04] jorvis commented on #108
I fixed the comparison tool for the datasets listed, and added a general check to display an error properly if a dataset has too many obs columns not in our exclusion list.  For the "Cross Species Comparison (Violin) - comparison tool doesn't work" dataset, I left species and subclass_label so comparison were possible at those aggregate levels.

[2020-03-31 21:10] jorvis commented on #108
Notes on the "Allow cluster comparison before marker gene identification" request.  This is tricky.

In the standard flow the user generates a louvain clustering and that key is what is used to differentiate the cells into groups.  We got around that in datasets where analyses were precomputed by specifying that the clustering column could be called either 'cell_type' or 'cluster'.  I'd see that a

[2020-03-31 21:17] hertzron commented on #108
Is it possible to have the user choose only if there are multiple columns so that not all users will have a complex experience?

Is there a way in the column naming to have some convention so that not all columns appear as options?

Carlo and Seth - I am trying to think how to smooth the user experience that because your datasets have so many columns may turn into very fatiguing and not intuitive.

[2020-04-01 03:08] carlocolantuoni commented on #108
not sure i understand the exact problem and fix proposed here but maybe
this could help:
perhaps instead of showing indiv columns to select for a comparison, you
could offer a list of the col meta data elements that could be used for
comparison of groups of samples.
the number of elements in the sample/column meta data (whether it be
original meta data or calculated clusters) should be many fewer

[2020-04-01 14:31] jorvis commented on #109
It's certainly possible, yes.  Could you give an example dataset we have loaded which would fit to do something like this and what you would want the parameters to be?

[2020-04-01 19:42] carlocolantuoni commented on #102
@jorvis you can copy the CarloTEMP profile forward to be the default profile for "Neocortical Development". I know you said there would be a few day delay in when i could continue editing the CarloTEMP profile after that, so just let me know when i can continue that after your move. is this easy/quick on your end? OK if we do this every month or 2? is this easy/quick on your end?

[2020-04-02 14:04] jorvis commented on #90
As long as logging is in place where we can undo operations as needed, it's fine to install the cron.

[2020-04-02 14:05] apaala commented on #90
@jorvis ok I will talk to @victor73 about getting it in place.

[2020-04-02 18:57] apaala commented on #90
@carlocolantuoni I have set up the cron, it will run at 2:30 am everyday. I will check the logs to see if it worked alright tomorrow and update

[2020-04-03 04:28] carlocolantuoni commented on #90
great - thanks!

On Thu, Apr 2, 2020 at 2:57 PM apaala <notifications@github.com> wrote:

--
Carlo

[2020-04-03 04:41] carlocolantuoni commented on #109
in general i just need to be able to plot using an X value, but label using
a categorical value.

the " HuttCtxDevoLMDhs" and " Embryonic stem cell neural differentiation
scRNAseq (Yao et al. 2017 Cell Stem Cell) " datasets could be examples
where id like to plot age or time (respectively for the 2 data sets) on the
X axis, but as categorical not numeric values. for example, with the yao
data, the

[2020-04-03 12:11] apaala commented on #90
Got an error when it tried to run:

Traceback (most recent call last):
  File "/usr/local/common/Python-3.7.2/lib/python3.7/site-packages/pandas/core/indexes/base.py", line 2656, in get_loc
    return self._engine.get_loc(key)
  File "pandas/_libs/index.pyx", line 108, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 132, in pandas._libs.index.IndexEngine.get_loc
  F

[2020-04-03 12:18] apaala commented on #90
The cron error was:

/local/projects-t3/NEMO/bin/cron/uploader.sh: line 3: gcloud: command not found
Traceback (most recent call last):
  File "/local/projects-t3/NEMO/bin/cron/analytics/cron_uploader/nemo_upload_crawler.py", line 37, in <module>
    from gear.dataarchive import DataArchive
  File "/local/projects-t3/NEMO/bin/cron/gEAR/lib/gear/dataarchive.py", line 5, in <module>
    import scanp

[2020-04-03 14:29] apaala commented on #90
@jorvis Resolved the first error by adding *diff.log as the identifying string. There was a log file that was of a different format that threw the code off... Now the processing stops due to not being able to find a file as it may have been moved.

[2020-04-03 14:33] apaala commented on #85
@jorvis This is the issue I was referring to in #90

[2020-04-03 14:47] carlocolantuoni commented on #90
I didnt move any files ... don't know how that happened ... ?

On Fri, Apr 3, 2020, 10:30 apaala <notifications@github.com> wrote:

[2020-04-03 14:48] apaala commented on #90
@carlocolantuoni it may not be your files that got moved... We are trying to process all datasets through the cron. Once that happens it will only process new datasets added.

[2020-04-04 03:12] jorvis commented on #108
The columns in the datasets with the bars don't match the columns in the tSNE plots, so I can't do a direct coloring.  I did manage to see how to color by the colors given in any data column though, which is nice, and one of them looks like the attached.  If someone wants to choose a reference datasets or provide color mappings (@brianherb ?) I can do the rest.
![Screenshot from 2020-04-03 21-54-1

[2020-04-07 16:04] jorvis commented on #108
Here's what it looks like after changing the cluster groupings and coloring to be based on subclass_label instead.  It should be noted that the colors defined in that column do not appear to match the custom colors sent for the other datasets in the profile.  I will work on coloring them manually instead.  (and getting rid of the legend which appears for some reason with one hex color code)

![Scr

[2020-04-07 17:49] jorvis commented on #108
I've updated the coloring in all of the cross-species profile. It just so happens that the last dataset is made up of the columns where, when you used the shared coloring profiles, are the most drab, indistinguishable set of columns possible.  Not sure if you guys would like to change that, or that's just what it happens to be for this dataset.  Uploading panel showing several for comparison.

![S

[2020-04-08 09:32] hertzron commented on #108
Brian - I believe that these colors are as decided by the consortium? Is
that correct? If so - then the profile should be (almost) ready to be
public.

Brian - looking at the info boxes a few things should be modified for it to
be complete:
- could you pls add the bioarchive link to each of the info boxes
(currently stating Additional information is available via manuscript
XXX(bioarchive link).
-

[2020-04-08 11:44] brianherb commented on #108
The colors in the updated profile look good and match the publication.

I added the bioarchive link to the descriptions

With regard to cell type descriptions, let's check this before I change all :

o Glutamatergic neuron subclasses:
- L2/3 IT (Layer 2/3 intratelencephalic)
- L5 IT (Layer 5 intratelencephalic)
- L5 ET (Layer 5 extratelencephalic-projecting)
- L5/6 NP (Layer 5/6 non-projecting pyr

[2020-04-08 11:48] hertzron commented on #108
This suggestion looks great! Brian - once changed I believe we are ready to
make it public, correct?

Best,
Ronna

On Wed, Apr 8, 2020 at 7:44 AM Brian Herb <notifications@github.com> wrote:

[2020-04-08 13:51] brianherb commented on #108
all info pages have been updated

@jorvis  - could you also update the species colors in the "Motor Cortex Merged Species" profile? This profile contains a duplicate set of datasets also displayed in the "Motor Cortex Cross Species" (which has been updated and looks great!)

[2020-04-08 14:31] hertzron commented on #108
Hi Joshua,
Can we make these two cross species profiles public and update the
permalinks that were used for the paper with the updated datasets (colored
violins etc)?
Thanks,
Ronna

On Wed, Apr 8, 2020 at 9:52 AM Brian Herb <notifications@github.com> wrote:

[2020-04-08 15:04] carlocolantuoni commented on #103
@jorvis you mentioned this was due to brian g efforts to maximize space in the plots. Can u add the option of having or not having these labels when creating the view in "curate"?

[2020-04-08 15:08] carlocolantuoni commented on #102
@jorvis can u bring the CarloTEMP profile forward to be the public profile for the Neocortical Development ?

[2020-04-08 15:08] carlocolantuoni commented on #109
Any of those examples make sense to you @jorvis?

[2020-04-08 15:11] carlocolantuoni commented on #100
How can i make a static scatter plot for this data set?

[2020-04-08 15:15] carlocolantuoni commented on #92
This data set does not load, so it looks like this will be a problem for any large dataset - is this true? Do we not have any other datasets working on this scale, i.e. 40k cells?

[2020-04-08 15:16] carlocolantuoni commented on #90
Hey apaala, could u let me kno wen the chron uploader is working, thnx

[2020-04-08 21:09] jorvis commented on #108
Both are now public and the permalinks don't need to be updated.  The permalinks always link to the profiles, even if they are updated.  This allows us to make corrections/improvements without the complication of updating manuscript links.

[2020-04-09 12:26] hertzron commented on #108
Hi Joshua,

Thanks! However, there is a relatively new bug. This happened a few times
in the past week. When I try to go onto nemoanalytics I can't get into any
profile. This is not a cache issue, in my opinion, as it happens also after
I restart my computer and did not resolve with 4-5 hard refreshes.

I wanted to see what it looks like and can't get pass:

[image: image.png]

The different profi

[2020-04-09 15:37] jorvis opened #110 "Sometimes profiles do not appear"
Reported by Ronna:

[2020-04-09 15:37] jorvis commented on #108
Added ronna's bug report as a new ticket.

[2020-04-09 15:38] jorvis commented on #110
@hertzron Could you try again using the web interface to attach the screenshot?  However you did it that time didn't work.

[2020-04-09 16:08] hertzron commented on #110
Hi,

I just tried again and still not working.

Is this what you are looking for?

[image: image.png]

Ronna

On Thu, Apr 9, 2020 at 11:38 AM Joshua Orvis <notifications@github.com>
wrote:

[2020-04-09 16:29] jorvis commented on #110
How are you trying to attach an image?  It doesn't work if you reply to the e-mail for example.  You have to open GitHub and use the interface to attach the image.

[2020-04-09 16:31] hertzron commented on #110
[image: image.png]

On Thu, Apr 9, 2020 at 12:29 PM Joshua Orvis <notifications@github.com>
wrote:

[2020-04-09 16:36] jorvis commented on #110
OK, works now.  This was an issue on my end.

[2020-04-09 16:36] #110 closed

[2020-04-09 20:33] #57 closed

[2020-04-09 20:37] #83 closed

[2020-04-09 20:38] apaala commented on #83
#90

[2020-04-13 13:41] apaala commented on #90
@adkinsrs This error is persisting, @victor73 said it seems like an environment issue.

[2020-04-13 19:56] jorvis commented on #108
@brianherb - apologies, I just saw your comment above.  To verify, that would change the display from looking like this:

![nemo_pre](https://user-images.githubusercontent.com/330899/79155466-c3b1d780-7d96-11ea-9fff-3f3a4fe1b6b2.png)

To instead look like this, losing the cross-organism visualization aspect (no custom color applied yet to the second one):

![nemo_post](https://user-images.githubus

[2020-04-13 20:48] hertzron commented on #108
The ideal would be to have all three side by side. Is this at all feasible?

On Mon, Apr 13, 2020 at 3:56 PM Joshua Orvis <notifications@github.com>
wrote:

[2020-04-14 18:52] adkinsrs commented on #90
Was talking to @apaala about this ticket and #85 and given that the ingest scripts will be updated soon, it may be best to use the .diff files that are generated in the "dmz" area instead of the bundling output, since this file will make note of any files that may have moved in addition to newly bundled files.

[2020-04-14 19:07] apaala commented on #85
@adkinsrs This ticket is referencing the issue where if a moved file is encountered the uploader fails. The uploader needs to be updated to find the changed path from your diff files.

[2020-04-14 19:08] apaala commented on #86
@adkinsrs Currently the uploader only works with TAB Count files. The analysis files are currently not being processed by the uploader.

[2020-04-14 19:12] apaala commented on #87
@adkinsrs The metadata validator part of the process is highly specific and easily fails if the format is not exactly right. Since that will be hard to implement we want to make it more flexible. This script is part of the gear git.

[2020-04-22 12:53] seth-ament opened #111 "projectR implementation April 2020"
Plan as agreed upon during our phone call 4/17/2020:

1) We will work on implementing a projectR analysis focused on hair cell maturation. This will be great for Mannat and Ronna's projects, and will give all of us a chance to work through an analysis together outside of gEAR. Key people: Ronna, Carlo, Mannat, Seth

2) We will work on setting up a publicly accessible archive of patterns to be proj

[2020-04-22 12:58] seth-ament commented on #111
Taking over this comment to serve as a structured overview of tasks and keeping it near the top of this ticket.

Data generation tasks:
- [x] Meet to begin implementing projectR for maturation of cochlear cell types Carlo, Mannat, Ronna, @seth-ament

Test data/code:
- [x] put PCA and NMF patterns from a well-understood reference dataset related to cortical development (Kriegstein 3.4k) on an acces

[2020-04-24 14:39] adkinsrs commented on #85
My solution for this is based on using NeMO identifiers as input to upload data.  I plan on having a cronjob run where if any file in DMZ is moved the "file_url" field (referencing http://data.nemoarchive.org) in the NeMO identifiers database will be adjusted.  In the upload script this file_url is converted back to the filepath.

[2020-04-27 04:08] carlocolantuoni commented on #104
these are notes i sent to us previously on email and may be useful at later points:

Hi guys,

Seth - I see your point about trying to select an approach that yields new usable elements of NeMO Analytics in the short term, and you heard my concern about not dropping key  functionality if it is not the 1st to be implemented. I propose that to satisfy both of these concerns, we could build the "full

[2020-04-27 04:13] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament

with our current conception of things, here is the flow of information that needs to happen for a projection to happen in NeMO:

A data set is selected in NeMO Analytics and the corresponding expression matrix is fetched from the NeMO Analytics h5 object. A "dimension", or likely group of dimensions (eg. 10 PCs), is selected from the dimension repository in NeMO Arch

[2020-04-27 04:17] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament

if you guys have pca, clustering, or other dimension reduction done on some of the hearing datasets, we could use them as examples to project into your hearing data as we get this up and running. i would be very happy to do or lead mannat in the execution of some additional dimension reduction so we have a lot of interesting things to look at when we get the projecti

[2020-04-28 15:12] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament

great talking today about the hearing datasets. you guys have a very rich data environment - looking forward to projecting across it in many directions to see how we can extend our integrated understanding of these data. i think our next step should identifying 5-10 foundational data sets that we will use as anchors - data sets that are both high quality and focused

[2020-04-28 15:27] hertzron commented on #111
Hi,

Here are my suggestions:

*Matt's scRNA-seq *dataset for IHC, OHC, IPhC, Pillar, possibly Deiter -
possibly 1 or two other cell types. Mannat - you and I should decide how we
want to 'group' the cells. -- Seth and Mannat have the data.

*SHIELD* - *hair cell* *(lumped for inner and outer or in the vestibular
type 1 and type 2)* and rest of cochlea or utricle from E16 to P7 - these
data are in

[2020-04-29 02:18] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament

great -

should we assemble these data sets in 1 location (or perhaps we simply need a list of paths for these?) along with any PCA or other dimension reduction that has already been done on them?

i will run cogaps on all of these data sets that are NOT sc/sparse. lets do PCA and a few clustering levels for each data set as well.

also - mannat cant see any of this

[2020-04-29 05:24] hertzron commented on #111
Would it make sense for the scRNA-seq datasets in addition to regular PCA,
to also pull out the different cell types or groups of cell types and treat
them as 'pseudo-bulk' to identify the top 2 PCs per cell type during
development?

On Tue, Apr 28, 2020 at 10:19 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-04-29 13:16] carlocolantuoni commented on #111
Sure, that sound good.

On Wed, Apr 29, 2020, 01:24 hertzron <notifications@github.com> wrote:

[2020-04-29 13:16] carlocolantuoni commented on #111
Is there a 9am going on right now? Zoom asked me for a password.

On Wed, Apr 29, 2020, 09:15 Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

[2020-04-29 13:29] brianherb commented on #111
try this link:

https://zoom.us/j/336153193?pwd=c2pLNktRd0E1S1FPclkxN3pMMWNTQT09&status=success
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Wednesday, April 29, 2020 9:19 AM
To: nemoarchive/analytics <analytics@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nemoarchive/analytics] projectR implementation April 2020 (#111

[2020-04-30 04:34] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament
@brianherb

great guys,

thanks for keeping things rolling.

i have just placed 8 GWCoGAPS analyses from data sets we already have in NeMO Analytics in:
/autofs/encrypted/NEMO/incoming/brain/other/grant/sament/sament/projectR/CoGAPSresults/

and 8 PC analyses in:
/autofs/encrypted/NEMO/incoming/brain/other/grant/sament/sament/projectR/PCAresults/

for each there is a

[2020-05-01 14:09] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament
@brianherb

i just uploaded plots of all the CoGAPS and most of the PCA patterns (in the data sets from which they are derived, i.e. no projection) - these will guide us in interpreting projections of these dimensions into other data:

/autofs/encrypted/NEMO/incoming/brain/other/grant/sament/sament/projectR/CoGAPSresults/PatternVisualization

/autofs/encrypted/NEMO/in

[2020-05-03 08:05] hertzron opened #112 "miRNA not working in gEAR"
per Joshua, our miRNA functionality is currently 'broken'. this ticket is a reminder to fix it. non-urgent.

[2020-05-03 13:40] hertzron opened #113 "plot top genes in the single cell workbench is disabeled"
![image](https://user-images.githubusercontent.com/17456863/80915709-10e3f200-8d22-11ea-8b5e-ba222da7881d.png)

[2020-05-07 15:22] jorvis commented on #111
Need a test dataset which his many rows of Ensembl IDs which don't have gene symbols.

[2020-05-08 12:56] RLC-DCPPC commented on #88
@adkinsrs, @apalla :  Just noticed this was reopened awhile ago. Anything to do here?

[2020-05-08 13:37] apaala commented on #88
I think @adkinsrs fixed this... It is a ticket to ensure that the database which is used to determine en release is running.

[2020-05-08 15:41] #88 closed

[2020-05-08 18:05] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament
@brianherb

joshua - lets try these as our 1st 3 examples of projection. for each of these 3 comparisons i list the location of the data/loadings/visualized patterns and then the data to project into that space. to make sure things are working correctly, you can do the self-self projection we discussed for any of the data sets below that i list dimension reduction / l

[2020-05-08 18:19] carlocolantuoni commented on #111
@jorvis
@hertzron
@seth-ament
@brianherb

joshua - lets try these as our 1st examples of projection (4 listed below in no particular order). for each of these 4 comparisons i list the location of the data/loadings/visualized patterns and then the data to project into that space. to make sure things are working correctly, you can do the self-self projection we discussed for any of the data sets bel

[2020-05-08 19:21] hertzron commented on #111
I suggest using the SHIELD data for it. We do have dimension reduction data on some but I think Mannat has for the trajectories we are interested in. Seth can you pls tag Mannat?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Friday, May 8, 2020 9:20:10 PM
To: nemoarchive/analytics <analytics@noreply.github.com>

[2020-05-08 19:57] carlocolantuoni commented on #111
great - we can project the shield data into the dims that mannat has - what
data do those come from?

On Fri, May 8, 2020 at 3:22 PM hertzron <notifications@github.com> wrote:

--
Carlo

[2020-05-12 17:08] #94 closed

[2020-05-13 13:25] #61 closed

[2020-05-13 13:25] brianherb commented on #61
I believe all datasets have been uploaded

[2020-05-13 14:02] jorvis commented on #101
Some discussion on the complexity of this was here:

https://github.com/nemoarchive/analytics/issues/108#issuecomment-606877115

[2020-06-17 19:01] jorvis commented on #100
See if we can demo and do static tSNE with these columns.

PC1%var6.14
PC2%var1.79

Investigate removing the naming convention entirely.

[2020-06-18 17:56] jorvis commented on #100
Is this the sort of view you wanted?   Screenshot using the current curator to generate a scatter using those columns:

![Screenshot from 2020-06-18 12-55-37](https://user-images.githubusercontent.com/330899/85055418-204cbc80-b163-11ea-876c-3a258936c692.png)

[2020-06-18 19:12] carlocolantuoni commented on #100
thats the closest i could get to the static tSNE - type plot, so i used
that 1, but the tool u have to make static tSNEs with the colored "legend"
panel next to it is really what id like here

On Thu, Jun 18, 2020 at 1:56 PM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2020-06-19 21:15] carlocolantuoni commented on #100
Hey joshua,
I have a number of datasets like this that i need to use the static tSNE
for - let me know wen the column name checks are off so i can build those -
thanks
Carlo

On Thu, Jun 18, 2020, 15:12 Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

[2020-06-20 03:38] jorvis commented on #100
I looked into it more to remind myself and there actually aren't column checks that point at all.  The curator is looking for a stored tSNE analysis (stored in h5ad as an obsm['X_tsne'] entry) and if present it displays that as an option.

What I do have though is a utility script created which will accept any column name pairs I give it and create such an analysis, so I could use that to make sur

[2020-06-20 03:50] carlocolantuoni commented on #100
I have created several static tSNEs from datasets without a stored tSNE and
it let me pick whatever columns i wanted. See CarloTEMP profile under NeMO
curator.

Can u chat now?

On Fri, Jun 19, 2020, 23:38 Joshua Orvis <notifications@github.com> wrote:

[2020-06-20 04:48] jorvis commented on #100
Commit 39505290 addresses this.  Re-open if there are issues.

[2020-06-20 04:48] #100 closed

[2020-06-20 07:37] carlocolantuoni opened #114 "cant upload to NeMO for cortical development profile"
after getting the meta data in, during the expression file upload:
i have tried to upload 2 different files repeatedly and am getting:
"Oops! File upload failed. Try again and contact us if this continues."
one was ~270MB, the other ~170MB - is there a timeout? or size limit?
something else?

[2020-06-20 10:40] hertzron commented on #114
Carlo, how many cells in each of these datasets?
As a test can you keep the cell number but limit the metadata to the minimal necessary for your displays and analyses?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Saturday, June 20, 2020 3:37:34 AM
To: nemoarchive/analytics <analytics@noreply.github.com>
Cc: Sub

[2020-06-20 12:16] jorvis commented on #114
Carlo - when we built the new server we failed to increase the file size upload limit initially on the web server.  I have fixed this and did a quick demo upload.  Please try again.

[2020-06-20 17:09] carlocolantuoni commented on #114
i am editing the CarloTEMP profile in NeMO Curator account - when ready this should be moved up to be the default profile for the Cortical Development profile.Joshua and i interacted last night and he was able to get the static tSNE visualization to work in a way that i can bring in new data sets in that visualization.
these data have been in: /autofs/encrypted/NEMO/incoming/brain/other/grant/deve

[2020-06-20 17:54] carlocolantuoni commented on #114
sorry for the formatting on that msg - here is the same text parsed into readable sentences:

i am editing the CarloTEMP profile in NeMO Curator account - when ready this should be moved up to be the default profile for the Cortical Development profile. Joshua and i interacted last night and he was able to get the static tSNE visualization to work in a way that i can bring in new data sets in that

[2020-06-20 17:58] hertzron commented on #114
Carlo, Yang is happy to help you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Saturday, June 20, 2020 1:54:14 PM
To: nemoarchive/analytics <analytics@noreply.github.com>
Cc: hertzron <hertzron@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nemoarchive/analytics] cant upload to NeMO for cortical

[2020-06-21 00:42] jorvis commented on #114
Do I need need to run the NeMO uploader chron?  If so I can do that, but
don't know if whatever datasets you have put there have made it through the
indexing steps which make it visible in the files the chron reads. Shaun
would have to help check there.

JO

On Sat, Jun 20, 2020 at 12:58 PM hertzron <notifications@github.com> wrote:

[2020-06-21 01:09] adkinsrs commented on #114
@carlocolantuoni I just did a quick check for that directory and while the /autofs/encrypted/NEMO/incoming/brain/other/grant/development/AllenBrain exists, the "PrimateDevoAtlassince" sub-directory does not exist.  Checked our "processing" and "release" areas and same deal.

[2020-06-21 02:12] carlocolantuoni commented on #114
Sorry guys, there was a typo in the path, just drop the "since" from the end

[2020-06-21 02:14] carlocolantuoni commented on #114
If we can run the chron that would b great. Does that include the automatic processing the gets things ready for the static tSNE joshua?

[2020-06-21 02:18] carlocolantuoni commented on #114
Here are 5 sub directories in /autofs/encrypted/NEMO/incoming/brain/other/grant/development/AllenBrain/PrimateDevoAtlas. Each contains a data set that would be good to get into NeMO for this week.

[2020-06-21 02:30] hertzron commented on #114
Hi Carlo,
Did you check that the column headers match the convention that Yang mentioned?
Best,
Ronna

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Saturday, June 20, 2020 10:18 PM
To: nemoarchive/analytics
Cc: hertzron; Comment
Subject: Re: [nemoarchive/analytics] cant upload to NeMO for cortical development p

[2020-06-21 02:50] carlocolantuoni commented on #114
if the cron job can run we will avoid all the reformatting issues, so i
think thats the way to go here if we can - joshua - is that possible?

On Sat, Jun 20, 2020 at 10:30 PM hertzron <notifications@github.com> wrote:

--
Carlo

[2020-06-21 03:15] jorvis commented on #114
@adkinsrs I have only run the google-cloud side after Apaala runs the IGS-side script here:

https://github.com/nemoarchive/analytics/blob/master/cron_uploader/nemo_upload_crawler.py

In the code there it references a config file I'm not familiar with:

[code]

Have you run this before or know the values that should be here?

[2020-06-21 12:34] adkinsrs commented on #114
@jorvis Yes, the .conf_ini file was a editable configuration file that I added to the path of the cron_uploader on the IGS filesystem.  I previously noticed that nemo_upload_crawler.py had some hardcoded things, and nemo_gcloud_processor.py shared many duplicate things to the former script.

However due to security concerns I did not commit the .conf_ini file to github.  Where are you running the

[2020-06-21 13:29] jorvis commented on #114
I was running it on IGS servers.  Sending a copy in Slack is fine.

On Sun, Jun 21, 2020, 7:34 AM Shaun Adkins <notifications@github.com> wrote:

[2020-06-21 16:25] carlocolantuoni commented on #114
Thanks for stayin on this guys!

On Sun, Jun 21, 2020, 09:29 Joshua Orvis <notifications@github.com> wrote:

[2020-06-21 16:43] jorvis commented on #114
@carlocolantuoni Shaun and I looked here but the directory you referenced doesn't seem to exist:

/autofs/encrypted/NEMO/incoming/brain/other/grant/development/AllenBrain/PrimateDevoAtlas

[2020-06-21 22:50] carlocolantuoni commented on #114
I dont kno what im getting wrong in the path. Its gotta b under:

autofs/encrypted/NEMO/incoming/brain/other/grant/development/AllenBrain/

Shaun didnt u say u got into this dir? Wats in there? All there dirs in there are NeMO data.

I will chk wen im bak at a cpu in 30min.

Carlo

[2020-06-21 23:24] adkinsrs commented on #114
@carlocolantuoni

When I do `ls -1 /autofs/encrypted/NEMO/incoming/brain/other/grant/development/AllenBrain/` I get:

[code]

[2020-06-21 23:31] carlocolantuoni commented on #114
yes - all those except "BrainSpanBulkDevo" are to go into NeMO (
BrainSpanBulkDevo  is in already)

On Sun, Jun 21, 2020 at 7:24 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-06-21 23:31] carlocolantuoni commented on #114
sorry about the incorrect path
all these are to go in to NeMO:

drwxr-sr-x. 2 ccolantuoni nemo 2350 Jun 20 17:19
NHPforeBrainDevoAllenLMD.AllRegion
drwxr-sr-x. 2 ccolantuoni nemo  483 Mar 31 02:32
NHPforeBrainDevoAllenLMD.AmygThal
drwxr-sr-x. 2 ccolantuoni nemo  599 Jun 20 17:17
NHPforeBrainDevoAllenLMD.CtxDevo
drwxr-sr-x. 2 ccolantuoni nemo  490 Mar 31 02:34
NHPforeBrainDevoAllenLMD.CtxLayers
drw

[2020-06-22 00:07] adkinsrs commented on #114
@carlocolantuoni I will start the NeMO Archive bundling process now.  No clue how long it will take but will let you know when the files are finished and the nemo_upload_crawler.py script has been ran.

[2020-06-22 00:32] carlocolantuoni commented on #114
Great! Thanks!
Sorry again for the path run-around.

[2020-06-22 00:38] adkinsrs commented on #114
Hi @carlocolantuoni

Unfortunately none of the 3tab files were able to be uploaded because the EXPmeta.JSON file did not validate against the "Metadata Validator" module in gEAR.  Specifically the following fields are required and were left blank in the JSON files:
* annotation_source
* annotation_release_number
* contact_email
* contact_name

If you can provide me this information I can populate

[2020-06-22 01:04] carlocolantuoni commented on #114
ENSEMBL
19
Ed Lein
EdL@alleninstitute.org

[2020-06-22 01:04] carlocolantuoni commented on #114
Thanks!

[2020-06-22 01:04] carlocolantuoni commented on #114
Same info fro all the 5 datasets

[2020-06-22 01:15] seth-ament commented on #114
Hi Carlo,
The annotation release refers to the version of the ENSEMBL transcripts (current = v94), rather than to the version of the reference genome.
Seth

[2020-06-22 01:22] carlocolantuoni commented on #114
Thnx - can u put that in shaun?
Sori

[2020-06-22 01:24] adkinsrs commented on #114
@seth-ament or @carlocolantuoni I will put in v94 for ENSEMBL if that is fine

[2020-06-22 01:29] carlocolantuoni commented on #114
yes - thnx

On Sun, Jun 21, 2020 at 9:24 PM Shaun Adkins <notifications@github.com>
wrote:

--
Carlo

[2020-06-22 01:45] adkinsrs commented on #114
Hit another snag.

The uploader script is failing validation because the taxon ID (9544 - Macaca mulatta) does not exist in the gEAR database "organism" table.  @jorvis We should add that in the database for gEAR and NeMO analytics.

In the meantime I am going to assign it the "organism" table ID of 8.  The nemo_upload_crawler.py script validates against a dictionary of organisms to table IDs in t

[2020-06-22 01:49] carlocolantuoni commented on #114
I think we can use homo sapiens here - the gene symbols and ensmbl gene ids
i am using are human, so go ahead and change it.

On Sun, Jun 21, 2020, 21:45 Shaun Adkins <notifications@github.com> wrote:

[2020-06-22 03:01] adkinsrs commented on #114
Update:

I am still have difficulties uploading the data.  The data can be converted into H5AD but one of the steps in reading the H5AD files is failing because it thinks that the DataMTX.tab file has 1 more gene than the ROWmeta.tab file.  I believe it is trying to erroneously index the "DataRowNames" as a gene, but unsure how to resolve this.

It's honestly getting very close for me to go to bed

[2020-06-22 03:04] carlocolantuoni commented on #114
thanks shaun - go to bed - ill work on other routes to get it and others in

[2020-06-22 03:16] seth-ament commented on #114
Thanks for all your help, Shaun! Agreed -- get some sleep!

@carlocolantuoni fine to get these initial datasets uploaded by another approach as a "quick fix", but I don't want to give up on finishing the work that Shaun and Joshua have been helping with this weekend to get the data automatically uploaded. We will need to work through these issues in order to build out the integration of NeMO Archi

[2020-06-22 03:21] adkinsrs commented on #114
I think I may have gotten it to go through!  Made an AnnData dataframe subview without the troublesome row, and the H5AD file was created and stuff is now uploading to @jorvis's GCP bucket.

Will have to do some kind of rewrite on that part of the script to utilize dataframe subviews to avoid a similar error in the future.

[2020-06-22 03:39] seth-ament commented on #114
Fantastic, Shaun!

[2020-06-22 04:27] carlocolantuoni commented on #114
u r a hero @adkinsrs
i totally agree @seth-ament

[2020-06-22 04:51] carlocolantuoni commented on #114
is there another step once things are in the GCP bucket?
i am not seeing the data in NeMO curator when i search in the data set manager.

[2020-06-22 05:04] jorvis commented on #114
I have to process them from the bucket.  Working on it.

[2020-06-22 05:05] carlocolantuoni commented on #114
guys, thanks again for hittin this so much today

[2020-06-22 05:39] seth-ament commented on #114
I think there’s still one step that Joshua has to do manually to make it available to curate. Hopefully he can get to that in the morning.

Seth A Ament, PhD
Assistant Professor
Institute for Genome Sciences
Department of Psychiatry
University of Maryland School of Medicine
Baltimore, Maryland
________________________________
From: Carlo Colantuoni <notifications@github.com>
Sent: Monday, June 22,

[2020-06-22 15:01] jorvis commented on #114
Shaun and I are working on it.

[2020-06-22 15:24] jorvis commented on #114
Carlo should be able to see them now:

[code]

[2020-06-22 18:12] carlocolantuoni commented on #114
Any luck finding where the observations were lost?

[2020-06-22 18:13] jorvis commented on #114
Not yet.  Will continue after out pre-meeting meeting in 17 minutes.

[2020-06-22 21:35] hertzron opened #115 "results in search box show as duplicates"
![image](https://user-images.githubusercontent.com/17456863/85337591-c7588d80-b4ae-11ea-888d-74d5393da7d8.png)

[2020-06-22 22:11] jorvis commented on #114
Carlo, please try the dataset now which ends with 'Hippo'.  The issue was the all the obs column names are numeric, which scanpy/pandas balks on.   I created a utility to correct these and then used other steps to manually fix and upload the new h5.  If this one works for you I'll do the same on the other four.  My notes:

[code]

[2020-06-22 23:37] hertzron opened #116 "datasets to put in public profiles in gEAR"
Human, microarray, irradiated vs non-irradiated vestibular schwannomas (sporadic and NF2-associated) (Tabatabai)

dataset id: eede9b7a-28c5-aaa5-af70-c0d2729735ea
Please put in a new profile named : vestibular schwannoma

Thanks.

[2020-06-23 00:22] hertzron opened #117 "compare tool not seeing multiple cells as replicates"
and therefore does not offer a statistical analysis

![image](https://user-images.githubusercontent.com/17456863/85347243-0b0ac180-b4c6-11ea-8ebc-779e9ebf9fc2.png)

[2020-06-23 01:25] hertzron opened #118 "violin plots presenting as thin lines instead of traditional violin plots"
![image](https://user-images.githubusercontent.com/17456863/85350330-dfd8a000-b4ce-11ea-9fc3-f14d366379e1.png)

[2020-06-23 05:55] carlocolantuoni commented on #114
thanks shaun and joshua for all the running around on this - im making views now!

[2020-06-23 15:38] jorvis commented on #114
Closing.  Please re-open if there are issues.

[2020-06-23 15:38] #114 closed

[2020-06-24 16:58] brianherb opened #119 "Make "MOp Mouse Epigenetic Data" profile public"
Hi @jorvis,

The "MOp Mouse Epigenetic Data" profile that I made this week can be made public at your earliest convenience. Thanks!

[2020-06-24 18:57] jorvis commented on #119
Done

[2020-06-24 18:57] #119 closed

[2020-06-24 19:06] RLC-DCPPC opened #120 "Plan ProjectR sprint"
Need to plan and estimate what's need to take this to the next milestone.

[2020-06-24 19:17] RLC-DCPPC commented on #120
Plan a kickoff meeting for Monday 6/29

[2020-06-29 16:43] carlocolantuoni commented on #111
one additional element here will be to have the original patterns in the original data sets (i.e. the PCs from where they came) - i have just added these to the directories below and all have "COLmeta" in the names:

/autofs/encrypted/NEMO/incoming/brain/other/grant/sament/sament/projectR/CoGAPSresults/

/autofs/encrypted/NEMO/incoming/brain/other/grant/sament/sament/projectR/PCAresults/

[2020-06-29 17:28] hertzron commented on #111
Hi Carlo,
I'm sorry but I do not understand your question.
Best, Ronna

On Fri, May 8, 2020 at 3:57 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-06-29 19:29] carlocolantuoni commented on #111
that was not a question - it was just some info that joshua and i would need for the meeting we just had - which went great - we are all set to start elements of the projectR implementation - joshua is going to add a comment on this ticket soon incorporating his notes on our meeting and outlining precise tasks to be done. so we are rollin!

[2020-06-29 21:04] #120 closed

[2020-06-29 21:13] carlocolantuoni commented on #111
@jorvis - i think this would be a simple solution to where/how to store dimension reduction on NeMO archive data sets with the goal of using them in projection and other tools: how about instead of using the uns. slot in the h5 objects, we just a point to the path/.tab file in NeMO Archive where the dimension is stored. that way we can grab other things to project, as well as gene lists etc. in th

[2020-06-30 18:59] jorvis commented on #111
Thinking about it.  One question is do we want to be able to store/allow access to multiple dimreds of the same type but run with different parameters?  That changes things like key names, which assume we would only have one of each type.

[2020-06-30 19:12] carlocolantuoni commented on #111
right now i have filenames like this for the dimred .tab files - these are
the 3 files for 1 PCA:

/dcl01/ccolantu/data/Explr/NeMO/HuttCtxDevoLMDhs/HuttCtxDevoLMDhs_DIMREDmeta_PCA_p20.tab
/dcl01/ccolantu/data/Explr/NeMO/HuttCtxDevoLMDhs/HuttCtxDevoLMDhs_COLmeta_DIMRED_PCA_p20.tab
/dcl01/ccolantu/data/Explr/NeMO/HuttCtxDevoLMDhs/HuttCtxDevoLMDhs_ROWmeta_DIMRED_PCA_p20.tab

notice the p20 after each

[2020-06-30 19:14] jorvis commented on #111
File names can work as long as we take into account each parameter which we would conceivably change and make it part of the file name.  Here, for example, are there other variable parameters possible besides the number of PCs?

[2020-06-30 19:29] carlocolantuoni commented on #111
indiv parameters can be in the DIMREDmeta file. as long as its full
filename (including the last variable tag that was "p20", that could be
used to encode params found in DIMREDmeta file)  is unique.
we have some room here because we will be generating these files ourselves,
not users - currently we have no plan to implement on-demand dimension
reduction.

On Tue, Jun 30, 2020 at 3:14 PM Joshua Or

[2020-06-30 20:24] carlocolantuoni commented on #111
@jorvis @seth-ament @hertzron hey guys - i cant make the stand up tomoro - my update is that joshua and i had a VERY productive setup meet - thanks bob - and now joshua is off and running - as always email or github me as soon as i can help move things forward or answer a question. ill ask bob to recorder the meeting.

[2020-07-02 06:16] carlocolantuoni commented on #111
hey joshua - just listened to the stand up - was cool to hear u describe what we are building!

did u consolidate your notes from our discussion? would be good to have those (no need to edit/clean up if you wana just paste them here)

[2020-07-02 07:10] jorvis commented on #111
Yes, I did.  I edited (and sort of took over) the 2nd comment in this ticket.

[2020-07-02 07:43] carlocolantuoni commented on #111
Oh great! Thnx

On Thu, Jul 2, 2020, 03:10 Joshua Orvis <notifications@github.com> wrote:

[2020-07-20 15:04] jorvis opened #121 "User reports Contact page not working"
From a user:

[code]

[2020-07-20 18:11] adkinsrs commented on #121
apparently the "python-dotenv" module is not installed on the nemo-prod-202006 server and the gear-prod-20200713 which I have taken care of.

Secondly the /var/www/.env file is on neither the nemo-prod-202006 nor the gear-prod-20200713 servers (it existed on the previous gear-production server).  This file holds the github authentication credentials so that the Contact page can auto-create a githu

[2020-07-20 18:33] jorvis commented on #121
I can fix these issues then or are you already working on it?

[2020-07-20 19:23] adkinsrs commented on #121
I installed the python-dotenv file to the servers.  All that remains is the scp the .env file from the previous gear-production server to the current servers, and you can take care of it if you want.  I did not commit that file to the git repo because that seemed like a security thing I would want to avoid.

[2020-07-20 19:32] jorvis commented on #121
Quite correct.  I'll take care of it.

[2020-07-21 17:03] jorvis commented on #121
I have placed the .env file on gear-production, gear-devel, and nemo-production.

[2020-07-21 17:03] #121 closed, assigned to adkinsrs

[2020-07-24 13:50] adkinsrs commented on #109
@carlocolantuoni I was playing around with a random gEAR dataset and it seems you can do a scatter plot with a categorical x-axis (see attached picture).  Is this not what you are envisioning?

![newplot](https://user-images.githubusercontent.com/5665914/88398207-09693d80-cd93-11ea-89bc-9245036b1e63.png)

[2020-07-24 13:55] adkinsrs commented on #109
@carlocolantuoni I was playing around with a random dataset in gEAR and it does seem you can make a scatterplot with a categorical x-axis (see below) but the datapoints are in a straight line instead of jittered about.  Is this the only change you would like?

![newplot](https://user-images.githubusercontent.com/5665914/88398652-acba5280-cd93-11ea-94c3-91c37de92b62.png)

[2020-07-24 15:11] carlocolantuoni commented on #109
@adkinsrs thats cool - that is one of many things that would be nice here - do you have time this coming week to interact directly as we look at this and other plotly issues?

hows tuesday? noon work?

i will mark the other related issues with the plotly tag to get us going.

carlo

[2020-07-24 15:14] carlocolantuoni commented on #103
@adkinsrs this may be the simplest one to start with - right now no axis labels are added - we could let users choose if they want them or not (grabing them from the meta data the user selected for the plot, and the gene being plotted

[2020-07-24 15:16] carlocolantuoni opened #122 "can we control size and coloring of points in a standard dynamic scatter plot?"

[2020-07-24 16:52] adkinsrs commented on #109
@carlocolantuoni Tuesday at Noon should be fine!

This may be more of a discussion between @jorvis and myself, but if various feature additions and bug fixes introduce too much complexity into the plotting API modules, then it may be worth refactoring the code.

[2020-07-24 18:01] adkinsrs commented on #103
@carlocolantuoni do you have a URL for an example display?

[2020-07-24 21:05] carlocolantuoni commented on #103
Just a label under the x axis and a label at left of y axis corresponding to the data being plotted . We can talk more tue noon if that works

[2020-07-24 21:06] carlocolantuoni commented on #109
Ok, we can figure how how much retooling will be necessary wen we talk tue - lookin forward to it,
Carlo

[2020-07-27 03:28] carlocolantuoni opened #123 "NeMO Analytics uploader not functioning"
the NeMO Uploader pager look very different and somewhat disorganized now - it appears to be able to identify files to upload, but can not upload them.

are u guys in the middle of changing this?

[2020-07-27 03:32] carlocolantuoni opened #124 ""gEAR" labels still on NeMO page"
in the pull down menu, when mousing over the "upload gene expression data" - it says "add data to gEAR"

when mousing over the NeMO graphic to go back to the NeMO home page is says "gEAR Home"

every line in the current (newly changed) NeMO gene expression uploader has "upload to gEAR"

[2020-07-27 03:34] carlocolantuoni opened #125 "After logging in, user must refresh page before users profiles appear in the profile pull down"

[2020-07-27 03:40] carlocolantuoni opened #126 ""External resource links" need to be changed in NeMO profile view"
currently these "External resource links" include:
Cortecon
UCSC Cell browser
BrianSpan

these links should be associated with individual data sets - not genes, as all the other "External resource links" are.

i think the best place for these would be in the individual dataset pull down menus where we list "analyze", "curate" etc. - we could list "webiste" that links to the individual data sets vi

[2020-07-27 03:45] carlocolantuoni opened #127 "easy access to download data being viewed"
this is a discussion we should have before doing any software engineering:

i think it would be great if the pull downs for individual data sets included a "download this data sets" link that allowed the user to grab the data that they are viewing at any particular time.

it would be great if we could do this for any gene carts/lists that are being used in NeMO. in addition, we would want to user

[2020-07-27 03:51] carlocolantuoni opened #128 "connecting time points from linked samples across time/x-axis"
see the top right panel in this image for an example of what we need here:
![frg](https://user-images.githubusercontent.com/33464702/88501925-ef9a4700-cf9a-11ea-8177-6862102fcdbd.png)

[2020-07-27 06:30] jorvis commented on #123
This has been fixed.  There were some libraries removed from the uploader page which were actually necessary.  I also did a test upload to be sure.

[2020-07-27 07:55] carlocolantuoni commented on #123
thnx!

but now i am getting another error - dont kno if it is related to this same
issue, but im getting:

" *Oops! *Genes sheet error. 1 gene symbols are listed as numbers, not gene
symbols"

the 1st col of the expression sheet is mouse ENSMBL ids like
"ENSMUST00000034746"

any idea what this is now?

On Mon, Jul 27, 2020 at 2:31 AM Joshua Orvis <notifications@github.com>
wrote:

--
Carlo

[2020-07-27 08:41] carlocolantuoni commented on #123
My bad, just noticed these are trascript ids not gene ids. Ignore last msg

On Mon, Jul 27, 2020, 03:55 Carlo Colantuoni <colantuonicarlo@gmail.com>
wrote:

[2020-07-27 08:42] #123 closed, assigned to jorvis, carlocolantuoni

[2020-07-27 12:20] hertzron commented on #128
Carlo,

Given things need to work for all datasets (we need to have a way for the
same curator to work for everything) can you think of ways of definition of
the data to work across the board so that changes made to accommodate some
of your proposed displays do not change how other datasets are presented?

Best,
Ronna

On Sun, Jul 26, 2020 at 11:52 PM Carlo Colantuoni <notifications@github.com>
wr

[2020-07-27 12:23] hertzron commented on #127
Hi Carlo,
Agreed. This is on the to-do list. Being able to download the data is
something I think we already have built in but the issue was that not
everybody wanted their data downloadable and then the question was what to
have downloaded? Expression matrix? Full file with metadata, ordinates etc?
Best,
Ronna

On Sun, Jul 26, 2020 at 11:45 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-07-27 12:23] hertzron commented on #126
Can you think of additional helpful links?

On Sun, Jul 26, 2020 at 11:40 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-07-27 13:30] seth-ament commented on #126
Carlo, I like having links at the top of the page to resources like BrainSpan, but I agree it would be good to have additional links specific to certain datasets. One possibility that doesn't require any coding is to paste the URL into the Info field within the dropdown you mentioned. Since this is only relevant to a few datasets, that may be the best option.

[2020-07-27 13:33] hertzron commented on #126
In the gEAR we have some links appear only if there are data for them for
the specific gene. Would this help?

I prefer we keep all external links in one place, or the site gets very
confusing.

On Mon, Jul 27, 2020 at 9:30 AM Seth Ament <notifications@github.com> wrote:

[2020-07-27 13:55] seth-ament commented on #126
I think the kinds of links Carlo is talking about are really just a way of tracking provenance, equivalent to the PubMed ID. The example of this that's going to be very common for NeMO is to provide a link to the location of the data on the NeMO Archive.

[2020-07-27 20:14] carlocolantuoni commented on #128
absolutely - im thinking of all of these things as add ons not re-designs -
will discuss in more detail with shaun tomorrow and jorvis soon im sure

On Mon, Jul 27, 2020 at 8:20 AM hertzron <notifications@github.com> wrote:

--
Carlo

[2020-07-28 00:06] carlocolantuoni commented on #127
a single link that would grab the experimental meta data, expression matrix along with some additional row/gene meta data, and sample meta data would b good.

[2020-07-28 14:36] adkinsrs commented on #118
@hertzron what is the URL for this dataset?

[2020-07-28 14:40] adkinsrs commented on #125
I think this may be due to the brief delay after logging in where the current user is cached.  @jorvis has it currently set to sleep for 500 ms before attempting to retrieve the current user, but perhaps that may not be enough time.  Typically if user cannot be retrieved in that brief time frame, the page proceeds as if their is no logged in user.

[2020-07-28 15:39] jorvis commented on #125
That part definitely needs to be redone with proper async/await or some other call back mechanism and not rely on a timer.

[2020-07-28 15:57] carlocolantuoni opened #129 "multiple views of the same dataset in a single profile"
i am sure this has been brought up before, but it would be very useful to have multiple views of a dataset in a single profile without having to upload an entirely new instance of the data set. the static tSNE is a version of this, but if we could create a way to make an entirely new customizable view(s) of the same data set it would enable a large number of powerful visualizations.

i realize thi

[2020-07-28 16:11] jorvis commented on #129
Yes, already recorded here:

https://github.com/jorvis/gEAR/issues/357

[2020-07-28 16:11] #129 closed, assigned to jorvis, carlocolantuoni

[2020-07-28 16:16] carlocolantuoni commented on #103
so the y-axis label can be the gene that was searched for if expression is on the y-axis. if the user has selected something else, the user selected element from the Y pull down

the x-axis labels should be the element specified by the user in the X pull down menu

[2020-07-28 16:22] carlocolantuoni commented on #122
this can be an additional element in the display parameters within the view curation

[2020-07-28 16:24] carlocolantuoni commented on #109
the x axis jitter could be an additional element in the display parameters within the view curation

[2020-07-28 16:31] carlocolantuoni commented on #109
this extra display parameter should different if the selected x element is categorical or numeric

[2020-07-28 17:06] adkinsrs commented on #109
It seems that Plotly's API only allows for jittering with datapoints that are supplementary to box or violin plots.  May have to get down and dirty to implement a version of my own.

[2020-07-28 19:10] hertzron commented on #109
Hi Shaun, is the problem with plotly graphs not filling the box figured out?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Shaun Adkins <notifications@github.com>
Sent: Tuesday, July 28, 2020 1:24:18 PM
To: nemoarchive/analytics <analytics@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nemoarchive/analytics] Is a categorical X-

[2020-07-28 19:27] jorvis commented on #109
@hertzron  - please try to keep questions related to the ticket they're in, else things get difficult to track.  Created ticket for the space/padding issue: https://github.com/jorvis/gEAR/issues/777

[2020-07-28 19:50] jorvis commented on #124
I've addressed the ones I could find with this commit.  Not in production yet.

https://github.com/jorvis/gEAR/commit/8f1a40cdedceb975d9c0df9ac136bf7180bff7c1

[2020-07-28 19:50] #124 closed, assigned to jorvis, carlocolantuoni

[2020-07-29 05:34] carlocolantuoni commented on #109
ok,
a 1st fix might not be too bad here:
for the " NHPforeBrainDevoAllenLMD.CtxDevo " dataset i have in NeMO (and
several others), i have done the X value jittering already.
if we could allow the addition of custom tick labels at specified X values,
that would do the trick.
for other more general applications we will want to be able to add jitter
to the X values that a user has uploaded without ji

[2020-07-29 14:27] adkinsrs commented on #122
<img width="1440" alt="Screen Shot 2020-07-29 at 10 23 32 AM" src="https://user-images.githubusercontent.com/5665914/88812358-a0643a00-d185-11ea-95c1-1e628ba345ae.png">

The slider corresponds to marker sizes 1-15 with 3 being the default size, which is what gEAR currently shows.  Also in the Marker Size label, it now reads "Marker Size (right is larger)" instead of "Marker Size (1-15)".  Furtherm

[2020-07-29 15:10] carlocolantuoni commented on #122
This looks great!
Let me kno wen/if i can try it out on my NeMO dat sets.
Thanks!
Carlo

On Wed, Jul 29, 2020, 10:27 Shaun Adkins <notifications@github.com> wrote:

[2020-07-29 16:28] jorvis commented on #97
This has been fixed and will be visible on the next update of production.

[2020-07-29 16:28] #97 closed

[2020-07-29 22:05] jorvis commented on #122
This is great Shaun!

[2020-07-29 23:59] carlocolantuoni commented on #122
is it live on devel now?

On Wed, Jul 29, 2020, 18:05 Joshua Orvis <notifications@github.com> wrote:

[2020-07-30 00:04] jorvis commented on #122
Nope.  Going to create a new devel since so much has been uploaded to
production.  Will do it tonight since it requires about 20 min of downtime
for production

On Wed, Jul 29, 2020, 7:00 PM Carlo Colantuoni <notifications@github.com>
wrote:

[2020-07-30 00:32] carlocolantuoni commented on #122
o gotcha, i hadnt put together all that.
cool - thnx guys

On Wed, Jul 29, 2020, 20:04 Joshua Orvis <notifications@github.com> wrote:

[2020-07-31 13:16] brianherb opened #130 "Make "Cross Species ATAC" profile public"
"Cross Species ATAC" profile on Nemo Curator account is ready to be made public.

[2020-07-31 13:26] brianherb commented on #130
Actually... there is a new issue with displaying bar plots in this profile.

Bar plots are now a series of lines:
![image](https://user-images.githubusercontent.com/13540148/89039053-6d4db200-d30f-11ea-94d5-a0090fca98e3.png)

Whereas before they were a solid block:
![image](https://user-images.githubusercontent.com/13540148/89039171-95d5ac00-d30f-11ea-8a57-492326734277.png)

@adkinsrs mentioned th

[2020-08-01 02:20] jorvis commented on #130
We've accidentally made agarose gel plots.  Nifty.

[2020-08-03 03:12] seth-ament commented on #111
@jorvis @hertzron @carlocolantuoni Mannat's projection weights from cell types in Matt Kelley's scRNA-seq of mouse cochlea are now in an accessible location on the NeMO Archive:
http://data.nemoarchive.org/other/grant/sament/sament/projectR/ear/

These are currently formatted as .Rds objects. We can change them to uncompressed .txt files if that's required for the implementation of projectR in gEA

[2020-08-03 16:25] jorvis commented on #111
Yes, I'll need them in something else besides R objects.  Could be compressed or uncompressed text.

[2020-08-06 07:56] carlocolantuoni commented on #122
@adkinsrs
in the devel version where u have implemented the plot symbol size slider:
it looks great!
but it doesnt save the change.

[2020-08-06 12:40] adkinsrs commented on #103
@carlocolantuoni I deployed this to devel.umgear.org just a second ago.  Right now the axes will only have titles if the y-axis is "expression" but I am happy to make more modifications with this.

Right now my largest difficulty is that the axes are pushed out of the plot box if the plot is too wide or too tall.  While I did make some adjustments to minimize that from happening, it still may happ

[2020-08-06 12:42] adkinsrs commented on #118
Discussed with @hertzron on Tuesday that this may be a byproduct of the data, as I have seen violin plots with thick lines.

[2020-08-06 12:42] adkinsrs commented on #122
Deployed this to devel.umgear.org

[2020-08-06 13:43] adkinsrs commented on #122
Noted.  I'll look into that.  Completely forgot to look into the "save display" functionality

[2020-08-06 17:17] adkinsrs commented on #122
@carlocolantuoni I fixed the "save" issue, and the marker size shows up again when you want to re-edit the plot display.  I forgot to pass the "marker_size" as a return value of the plotting API script

[2020-08-06 17:22] hertzron commented on #122
can yo please send a screenshot of how it looks?

On Thu, Aug 6, 2020 at 1:17 PM Shaun Adkins <notifications@github.com>
wrote:

[2020-08-06 17:29] adkinsrs commented on #122
<img width="1440" alt="Screen Shot 2020-08-06 at 1 27 08 PM" src="https://user-images.githubusercontent.com/5665914/89562912-acd13e00-d7e8-11ea-9d95-ddb93aadab73.png">

<img width="1440" alt="Screen Shot 2020-08-06 at 1 27 59 PM" src="https://user-images.githubusercontent.com/5665914/89562931-b35fb580-d7e8-11ea-8c4a-caa0be3e0b6c.png">

The default marker point size is 3, and here is a scatter plot

[2020-08-06 17:48] hertzron commented on #122
This looks great!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Shaun Adkins <notifications@github.com>
Sent: Thursday, August 6, 2020 1:29:38 PM
To: nemoarchive/analytics <analytics@noreply.github.com>
Cc: hertzron <hertzron@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nemoarchive/analytics] can we control size and coloring of points in a sta

[2020-08-06 18:50] carlocolantuoni commented on #122
nice shaun!

[2020-08-07 07:20] carlocolantuoni commented on #122
@adkinsrs
when i change the size of the points and the colors revert to defaults.
i cant seem to change both the size and color without one of them reverting to defaults.

[2020-08-07 07:22] carlocolantuoni opened #131 "minor - user profile pull down is hidden under plot preview in the view curator"

[2020-08-07 12:24] adkinsrs commented on #122
Looking into it now.  The UI code is in a Javascript framework (Vue.js) that I'm not overly familiar with, and there is probably something in there at the resets the colors when any plot parameter is changed (since I can add/remove facet groups and the same happens).

[2020-08-07 12:47] adkinsrs commented on #131
uploaded fix to gear-devel.  Plotly chart had a setting to be extremely high priority in the layering of objects, and so I removed that.